<template>
    <div class="app-content content view orders manage-package">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause">
                    <div class="card rounded pad-20">
                        <div class="card-content collapse show">
                            <div class="card-body table-responsive card-dashboard">
                                <div class="topp">
                                    <div class="row">
                                        <div class="col-xl-6 col-12">
                                            <h1 class="">Manage Packages</h1>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!--tab start here-->

                                <ul class="nav nav-tabs nav-underline no-hover-bg">
                                    <li class="nav-item"> <a class="nav-link" :class="{ 'active': isActive('seller') }"  @click.prevent="setActive('seller')">Seller AD Packages</a></li>
                                    <li class="nav-item"> <a class="nav-link"  :class="{ 'active': isActive('dealer') }"  @click.prevent="setActive('dealer')">Dealer AD Packages</a> </li>
                                    <li class="nav-item"> <a class="nav-link"  :class="{ 'active': isActive('profile') }" @click.prevent="setActive('profile')">Feature Profile Packages </a> </li>
                                </ul>
                                <div class="tab-content py-3" id="myTabContent">
                                    <div class="tab-pane fade" :class="{ 'active show': isActive('seller') }" id="seller">
                                        <h3>Seller Packages</h3>
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-6 col-12 d-flex" v-for="pkg in ads">
                                                    <PackageThumbnails :package="pkg"/>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    <div class="tab-pane fade" :class="{ 'active show': isActive('dealer') }" id="dealer">
                                        <h3>Dealer Packages</h3>
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-6 col-12 d-flex" v-for="pkg in dealer_ads">
                                                <PackageThumbnails :package="pkg"/>
                                            </div>
                                            
                                        </div>
                                        </div>
                                    <div class="tab-pane fade" :class="{ 'active show': isActive('profile') }" id="profile">
                                        <h3>Feature Profile Packages</h3>
                                            <div class="row">
                                            <div class="col-xl-4 col-lg-6 col-12 d-flex" v-for="pkg in profiles">
                                                    <PackageThumbnails :package="pkg"/>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import PackageThumbnails from './Thumbnail';
    import { mapGetters, mapActions } from "vuex";

    export default {
        components: {PackageThumbnails},
        data() {
            return {
                base_url: window.base_url,
                profileTab: false,
                dealer: false,
                packages: [],
                activeItem: 'seller'
            }
        },
        created() {
            this.getAll()
            // this.loadPackages();
        },
        methods: {
            isActive (menuItem) {
            return this.activeItem === menuItem
            },
            setActive (menuItem) {
            this.activeItem = menuItem
            },
            loadPackages(){
                // if(this.$index.state.packages.length > 1)
                axios.get(`/packages`)
                    .then(data => {
                        this.packages = data.data;
                    });
            },
            ...mapActions(["getAll"])
        },
        computed: {
            ...mapGetters(["all"]),
            ads(){
                return this.all.filter(p => p.type === "ad");
            },
            dealer_ads(){
                return this.all.filter(p => p.type === "dealer_ad");
            },
            profiles(){
                return this.all.filter(p => p.type === "profile");
            }
        }

    }
</script>
<style>
.manage-package .nav.nav-tabs.nav-underline .nav-item{margin-right: 7px !important;}
</style>