<template>
    <form @submit.prevent="save()" class="box w-100">
        <h2>{{ package.title }}</h2>
        <p>{{ package.description }}</p>
        <p>{{ package.description2 }}</p>
        <div class="row">
            <div class="col-sm-6 col-12">
                <label :for="`month-${package.id}`">Validty:</label>
                <input type="text" v-validate="'required'" name="months" :id="`month-${package.id}`" v-model="package.months" placeholder="6 months" class="form-control">
                <span class="text-danger">{{ errors.first(`months`) }}</span>
            </div>
            <div class="col-sm-6 col-12">
                <label :for="`price-${package.id}`">Price ($):</label>
                <input type="number" v-validate="'required'" name="price" :id="`price-${package.id}`" v-model="package.price" placeholder="25" class="form-control">
                <span class="text-danger">{{ errors.first(`price`) }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="red">Save</button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        props: ["package"],
        data() {
            return {
                base_url: window.base_url,
            }
        },
        mounted() {
        },
        methods: {
            save(){
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;
                    axios.put(`packages/${this.package.id}`, this.package).then(data => {
                        this.$toastr.success(data.data.message, "SUCCESS");
                    })
                });
            }
        },
    }
</script>
