<template>
    <div class="app-content content view orders user-listing">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h1 class="pull-left">
                                                    {{ $route.meta.title }}
                                                </h1>
                                            </div>
                                        </div>

                                        <!--tab start here-->

                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="tab31" aria-expanded="true" aria-labelledby="base-tab31">
                                                <div class="clearfix"></div>
                                                <div class="maain-tabble">
                                                    <table class="table table-striped table-bordered feedback-table">
                                                        <thead>
                                                        <tr>
                                                            <th>Sno.</th>
                                                            <th>From</th>
                                                            <th>Subject</th>
                                                            <th>Description</th>
                                                            <th>Date</th>
                                                            <th>action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="(fb, index) in feedback">
                                                            <td>{{ index+1 }}</td>
                                                            <td>
                                                                {{ fb.owner.name }}
                                                            </td>
                                                            <td>{{ fb.subject }}</td>
                                                            <td>{{ fb.message }}</td>
                                                            <td>{{ fb.created_date }}</td>
                                                            <td>
                                                                <div class="btn-group mr-1 mb-1">
                                                                    <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                        <router-link class="dropdown-item" :to="{ name: 'feedback.show', params: {id: fb.id} }"><i class="fa fa-eye"></i>View </router-link>
                                                                        <a class="dropdown-item" @click="deleteFeedback(fb.id)"><i class="fa fa-ban"></i>Block </a> </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--tab 1 end-->

                                        </div>
                                        <!--tab end here-->
                                    </div>
                                </div>
                                <!--main card end-->

                            </div>
                        </div>
                    </div>
                </section>

                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                base_url: window.base_url,
                feedback: [],
                table: undefined,
            }
        },
        mounted() {
            this.loadFeedback();
        },
        methods: {
            loadFeedback(){
                if(this.table !== undefined)
                    this.table.destroy();

                axios.get(`/feedback`)
                    .then(data => {
                        this.feedback = data.data;
                        setTimeout(()=>{
                            this.table = $('.feedback-table').DataTable();
                        }, 100);
                    });

            },
            deleteFeedback(id){
                this.$dialog
                    .confirm("Are you sure you want to delete this feedback?")
                        .then(dialog => {
                            axios.delete(`/feedback/${id}`).then( d => {
                                this.loadFeedback();
                                this.$toastr.success(d.data.message, 'Success', {});
                                dialog.close();
                            }).catch(d => {
                            });
                        })
            }
        }
    }
</script>
