<template>
    <div class="app-content content view orders">
        <div class="content-wrapper">
            <div class="content-body">

                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause advisor-profile-main user-profile" v-if="user">
                    <div class="row">
                        <div class="col-12 col-xl-8 offset-xl-2">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard add-user">

                                            <form @submit.prevent="save()">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h1 class="pull-left">
                                                            <router-link :to="{name: 'users.index'}">
                                                                <i class="fa fa-angle-left"></i>
                                                            </router-link>
                                                            Seller profile </h1>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="attached"> <img src="http://dev31.onlinetestingserver.com/auto-bazaar/dashboard/images/inv.png" id="uimg" class="img-full" alt="">
                                                            <button name="file" type="button" class="change-cover" onclick="document.getElementById('upload').click()">
                                                                <div class="ca"><i class="fa fa-camera"></i></div>
                                                            </button>
                                                            <input  @change="onFileChange" spellcheck="true" type="file" id="upload" name="file">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-12 form-group">
                                                        <label for="">Name</label>
                                                        <input type="text" name="first_name" v-validate="'required'" v-model="user.first_name" placeholder="Name" class="form-control">
                                                        <span class="text-danger">{{ errors.first(`name`) }}</span>
                                                    </div>
                                                    <div class="col-md-6 col-12 form-group">
                                                        <label for="">Phone</label>
                                                        <the-mask mask="+1 (###) ### ####" name="Phone Number" v-validate="'required'" v-model="user.contact" placeholder="Phone Number" class="form-control"/>
                                                        <span class="text-danger">{{ errors.first(`Phone Number`) }}</span>
                                                    </div>
                                                    <div class="col-md-6 col-12 form-group">
                                                        <label for="">Email</label>
                                                        <input type="email" v-model="user.email" placeholder="Email Address" class="form-control">
                                                    </div>
                                                    <div class="col-md-6 col-12 form-group">
                                                        <label for="">Password</label>
                                                        <input type="password" v-model="user.password" placeholder="Password" class="form-control">
                                                    </div>
                                                    <div class="col-md-6 col-12 form-group">
                                                        <label for="">Confirm Password</label>
                                                        <input type="password" v-model="user.password_confirmation" placeholder="Confirm Password" name="password_confirmation" class="form-control">
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-12 text-center">
                                                        <button type="submit">Add Seller</button>
                                                    </div>
                                                </div>
                                            </form>


                                    </div>
                                </div>
                                <!--main card end-->

                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    import Breadcrumb from "../Breadcrumb";
    import {TheMask} from 'vue-the-mask'
    export default {
        components: { Breadcrumb, TheMask },
        data() {
            return {
                base_url: window.base_url,
                user: {},
                edit: false,
                shouldSubmit: false
            }
        },
        mounted() {
            //console.log(this.$route)
        },
        methods: {
            save(){
                this.$validator.validateAll().then((result) => {
                    if (!result) {
                        this.shouldSubmit = true;
                        return;
                    }
                    axios.post(`/users/store`, this.user)
                        .then(data => {
                            this.$toastr.success(data.data.message, "Added!");
                            this.$router.push({name: 'users.index'});
                        }).catch( e => {
                            let errors = e.response.data.errors;
                            Object.keys(errors).forEach(key=>{
                                this.$toastr.error(errors[key], "Error!");
                            });
                        });

                });
            },
            editMode(bol)
            {
                this.edit = bol;
                this.shouldSubmit = false
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                let this_ = this;
                if (files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        document.getElementById('uimg').setAttribute('src', e.target.result);
                        this_.user['image'] = e.target.result;
                    }
                    reader.readAsDataURL(files[0]);

                }



            },
        }
    }
</script>
