<template>
    <!--find-dealer start here-->
    <section class="car-for-sale my-60 ">
        <div class="container">
            <!--dealer top start here-->
            <div class="dealer-top">
                <div class="row">
                    <div class="col-12">
                        <h2>Cars Available For Sale</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip conse</p>
                    </div>
                </div>
                <form action="">
                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6 form-group">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="search here" spellcheck="true">
                        </div>
                        <div class="col-12 col-lg-4 col-xl-4 col-md-6 ">
                            <div class="row">
                                <div class="col-md-6  form-group">
                                    <select @change="loadModals(make_id)" class="form-control" v-model="make_id">
                                        <option value="">All Makes</option>
                                        <option :value="make.id" v-for="make in makes">{{ make.name }}</option>
                                    </select>
                                </div>
                                <div class="col-md-6  form-group">
                                    <select class="form-control" v-model="model_id">
                                        <option value="">All Models</option>
                                        <option :value="model.id" v-for="model in models">{{ model.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-xl-4 col-md-6 ">
                            <div class="row">
                                <div class="col-md-6  form-group">
                                    <select class="form-control" v-model="year">
                                        <option value="">year</option>
                                        <option :value="y" v-for="y in years">{{ y }}</option>
                                    </select>
                                </div>
                                <div class="col-md-6  form-group">
                                    <button type="button" @click="getLatestAds(1)" class="form-control">search</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <!--dealer top end here-->

            <!--dealer middle start here-->
            <div class="dealer-middle">
                <div class="row">
                    <div class="col-12">
                        <h2>Featured cars</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-3 col-sm-6 col-12" v-for="(car, index) in featuredCars" v-bind:key="car.id">
                        <div class="box">
                            <router-link :to="{ name: 'home', params: { id: car.id }}">
                                <div class="img-box">
                                    <img :src="`${$baseUrl}/images/car-card.png`" class="img-fluid w-100 " alt="">
                                    <p>Featured</p>
                                </div>
                            </router-link>
                            <div class="box-bottom">
                                <div class="d-flex justify-content-between align-items-center">
                                    <router-link :to="{ name: 'home', params: { id: car.id }}">
                                        <h3>${{ car.price }}</h3>
                                    </router-link>

                                    <i @click="markAsFavourite(car.id, 'featuredCars')" class="fa-heart" :class="{ fa: wishlist_ids.includes(car.id), far: !wishlist_ids.includes(car.id) }"></i>
                                </div>
                                <router-link :to="{ name: 'home', params: { id: car.id }}">
                                    <p>{{ car.name }} </p>
<!--                                    <p>{{ car.model.year }} {{ car.make.name }} </p>-->
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--dealer middle end here-->

            <!--dealer bottom start here-->
            <div class="dealer-bottom">
                <div class="row">
                    <div class="col-12">
                        <h2>Total Ad Found: <span>{{ adsCount }}</span></h2>
                    </div>
                </div>
                <div class="all-cars">
                    <div class="row" v-for="car in cars.data">
                        <div class="col-12">
                            <div class="card">
                                <div class="media media d-lg-flex d-block">
                                    <card-slider :medias="car.medias"></card-slider>
                                    <div class="media-body">
                                        <h4>
                                            <i @click="markAsFavourite(car.id, 'cars')" class="fa-heart" :class="{ fa: wishlist_ids.includes(car.id), far: !wishlist_ids.includes(car.id) }"></i>
                                            {{ "Active" }}
                                        </h4>
                                        <h2>{{ car.condition }}</h2>
                                        <div class="d-sm-flex d-block justify-content-between">
                                            <div class="">
                                                <h3>{{ car.name }} </h3>
                                                <!--<h3>{{ car.model.year }} {{ car.make.name }} </h3>-->
                                            </div>
                                            <div class="">
                                                <h2>${{ car.price }}</h2>
                                            </div>
                                        </div>
                                        <h6>Listing id: <span>{{ car.id }}</span></h6>
                                        <p>{{ car.description }}</p>
                                        <router-link :to="{ name: 'ad.details', params: { id: car.id }}" class="red readmore">Read more</router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-class red mt-4" type="button" v-if="cars.current_page < cars.last_page" @click="getLatestAds(cars.current_page + 1)">Load more</button>
                    </div>

                </div>
            </div>
            <!--dealer bottom end here-->
        </div>
    </section>
</template>

<script>
    import carousel from 'vue-owl-carousel'
    import CardSlider from "../components/CardSlider";
    export default {
        components: { carousel, CardSlider },
        data(){
            return {
                makes: [],
                models: [],
                featuredCars: [],
                cars: {data:[]},
                adsCount:0,
                wishlist_ids:[],
                make_id: '',
                model_id: '',
                year: '',
            }
        },
        mounted() {
            this.getLatestAds();
            this.loadMakes();
        },
        methods:{
            getLatestAds(page = 1){
                axios.get(`/ads?page=${page}&make=${this.make_id}&model=${this.model_id}&year=${this.year}`)
                .then(({data}) => {
                    this.featuredCars = data.featuredCars;
                    const carsResult = JSON.parse(data.cars);

                    if(page === 1)
                        this.cars.data = carsResult.data;
                    else
                        this.cars.data.push(...carsResult.data);

                    this.cars.current_page = carsResult.current_page;
                    this.cars.last_page = carsResult.last_page;
                    this.adsCount = data.adsCount;
                    this.wishlist_ids = data.wishlist_ids;
                });
            },
            /*loadMakes(){
                axios.get(`/makes`)
                .then(({data}) => {
                    this.makes = data;
                });
            },
            loadModals(){
                axios.get(`/modals?make_id=${this.make_id}`)
                .then(({data}) => {
                    this.models = data;
                });
            },*/
            markAsFavourite(id){
                const action = this.wishlist_ids.includes(id)? 'remove': 'add';
                axios.put(`wishlist/${action}`, {ad_id : id})
                .then(data => {
                    if(action === 'remove')
                        this.wishlist_ids.splice(this.wishlist_ids.indexOf(id), 1);
                    else
                        this.wishlist_ids.push(id);
                });
            },
        },
        computed: {
            years(){
                return this.models.map(({ year }) => year)
            }
        }
    }
</script>

<style>
    .owl-carousel{
        display: block;
    }
    .dealer-bottom .card a.readmore {
        display: inline-block;
        color: white;
        padding: 10px 15px;
    }
</style>
