<template>
    <section class="vehicle">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img :src="`${$baseUrl}/images/car.png`" class="img-fluid wow fadeInRight" v-wow data-wow-delay=".8s" data-wow-duration="1.5s" alt="white car">
                    <h2 class="wow fadeInUp" v-wow data-wow-delay=".5s" data-wow-duration="1s">FEATURED VEHICLES</h2>
                </div>
            </div>
            <ul class="nav nav-tabs nav-underline no-hover-bg text-center wow fadeInUp" v-wow data-wow-delay=".8s" data-wow-duration="1.2s">
                <li class="">
                    <a class="active overview" id="base-tab36" data-toggle="tab" aria-controls="tab36" href="#tab36" aria-expanded="true">NEW CARS</a>
                </li>
                <li class=" ">
                    <a class="overview" id="base-tab31" data-toggle="tab" aria-controls="tab31" href="#tab31" aria-expanded="true">USED CARS</a>
                </li>
            </ul>
            <div class="tab-content ">
                <div role="tabpanel" class="tab-pane all-car" id="tab31" aria-expanded="true" aria-labelledby="base-tab31">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 d-flex" v-for="car in cars.usedCars">
                            <div class="box text-center w-100" @click="gotoDetailPage(car.id)">
                                <div class="box-top">
                                    <img :src="`${$baseUrl}/images/car-1.png`" class="img-fluid" alt="">
                                    <router-link :to="{ name: 'ad.details', params: {id: car.id} }" class="read-btn">${{car.price}}</router-link>
                                    <h3>{{ car.model.name }}</h3>
                                </div>
                                <div class="box-bottom d-flex justify-content-between">
                                    <p>{{ car.condition }}</p>
                                    <p>{{ car.year }}</p>
                                    <p>{{ car.transmission }}</p>
                                    <p>{{ car.transmission }}</p>
                                    <p>{{ car.transmission }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane new-cars active" id="tab36" aria-labelledby="base-tab36">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 d-flex" v-for="car in cars.newCars">
                            <div class="box text-center w-100" @click="gotoDetailPage(car.id)">
                                <div class="box-top">
                                    <img :src="`${$baseUrl}/images/car-1.png`" class="img-fluid" alt="">
                                    <router-link :to="{ name: 'ad.details', params: {id: car.id} }" class="read-btn">${{car.price}}</router-link>
                                    <h3>{{ car.model.name }}</h3>
                                </div>
                                <div class="box-bottom d-flex justify-content-between">
                                    <p>{{ car.condition }}</p>
                                    <p>{{ car.year }}</p>
                                    <p>{{ car.transmission }}</p>
                                    <p>{{ car.transmission }}</p>
                                    <p>{{ car.transmission }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <router-link :to="{ name: 'car.for.sale' }" class="read-btn bottom wow fadeInUp" v-wow data-wow-delay="1s" data-wow-duration="1.4s">BROWSE ALL</router-link>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data(){
            return {
                cars: {
                    newCars: [],
                    usedCars: [],
                }
            }
        },
        mounted() {
            new WOW().init();
            this.loadFeaturedCars();
        },
        methods:{
            loadFeaturedCars(){
                axios.get('featured-cars').then(({data}) => {
                    this.cars = data;
                });
            },
            gotoDetailPage(id){
                this.$router.push({ name: 'ad.details', params: {id: id} })
            }
        },
    }
</script>
