<template>
    <section class="my-60" :class="{'sell-your-car' : !choosingPackage, 'change-package-main': choosingPackage}">
        <div class="container" v-if="!choosingPackage">
            <div class="row">
                <div class="col-12">
                    <h3>Place a listing Now</h3>
                </div>
            </div>
            <!--step form start here-->
            <form id="regForm" action="" @submit.prevent="submit" enctype="multipart/form-data">
                <div class="d-flex justify-content-between text-center tabbs" style="margin-top:60px;">
                    <span class="text">
                        <span class="step" :class="{ 'active': !preview }"></span>
                        <h4>Ad details </h4>
                    </span>
                    <span class="text">
                        <span class="step" :class="{ 'active': preview }"></span>
                        <h4>Review</h4>
                    </span>
                </div>
                <!-- One "tab" for each step in the form: -->
                <div class="tab" :class="{ active: !preview }" :style="{ display: preview? 'none' : 'block' }">
                    <div class="row">
                        <div class="col-12">
                            <h2>Basic Vehicle Information</h2>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <label for="year">Year</label>
                                <select name="year" id="year" class="form-control" v-model="car.year" v-validate="'required'">
                                    <option value="">Choose year</option>
                                    <option :value="year" v-for="year in years">{{ year }}</option>
                                </select>
                                <span v-if="errors.has('year')" class="text-danger">{{ errors.first('year') }}</span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="make">Make</label>
                                <select name="make" id="make" class="form-control" v-model="car.make_id" @change="loadModals(car.make_id)" v-validate="'required'">
                                    <option value="">Choose make</option>
                                    <option :value="make.id" v-for="make in makes">{{ make.name }}</option>
                                </select>
                                <span v-if="errors.has('make')" class="text-danger">{{ errors.first('make') }}</span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="model">model</label>
                                <select name="model" id="model" class="form-control" v-model="car.model_id" v-validate="'required'">
                                    <option value="">Choose model</option>
                                    <option :value="model.id" v-for="model in models">{{ model.name }}</option>
                                </select>
                                <span v-if="errors.has('model')" class="text-danger">{{ errors.first('model') }}</span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="condition">condition</label>
                                <select name="condition" id="condition" v-model="car.condition" class="form-control" v-validate="'required'">
                                    <option value="">Choose condition</option>
                                    <option value="new">New</option>
                                    <option value="used">Used</option>
                                </select>
                                <span v-if="errors.has('condition')" class="text-danger">{{ errors.first('condition') }}</span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="mileage">Mileage</label>
                                <input type="number" name="mileage" v-model="car.mileage" id="mileage" placeholder="6,000 Km" class="form-control" v-validate="'required'">
                                <span v-if="errors.has('mileage')" class="text-danger">{{ errors.first('mileage') }}</span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="transmission">Transmission </label>
                                <select name="transmission" v-model="car.transmission" id="transmission" class="form-control" v-validate="'required'">
                                    <option value="">Choose Transmission</option>
                                    <option value="automatic">Automatic</option>
                                    <option value="manual">Manual</option>
                                    <span v-if="errors.has('transmission')" class="text-danger">{{ errors.first('transmission') }}</span>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="fuel_type">Fuel Type</label>
                                <select name="fuel_type" id="fuel_type" v-model="car.fuel_type" class="form-control gas" v-validate="'required'">
                                    <option value="">Choose fuel type</option>
                                    <option value="gasoline">Gasoline</option>
                                    <option value="fuel">Fuel</option>
                                    <option value="diesel">Diesel</option>
                                </select>
                                <span v-if="errors.has('fuel_type')" class="text-danger">{{ errors.first('fuel_type') }}</span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="vin">Vin</label>
                                <input type="text" id="vin" v-model="car.vin" name="vin" placeholder="Enter VIN" class="form-control" v-validate="'required'">
                                <span v-if="errors.has('vin')" class="text-danger">{{ errors.first('vin') }}</span>
                            </div>
                            <div class="col-12"> <h2>Price and Description</h2></div>
                            <div class="col-12">
                                <label for="price">Enter Price</label>
                                <input type="number" class="form-control" id="price" name="price" v-model="car.price" placeholder="$" v-validate="'required'">
                                <span v-if="errors.has('price')" class="text-danger">{{ errors.first('price') }}</span>
                            </div>
                            <div class="col-12">
                                <label for="description">Enter Description </label>
                                <textarea name="description" id="description" v-model="car.description" class="form-control" placeholder="Enter Description"  v-validate="'required'"></textarea>
                                <span v-if="errors.has('description')" class="text-danger">{{ errors.first('description') }}</span>
                            </div>
                            <div class="col-12">
                                <h2>Upload Pictures</h2>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12" v-for="img in car.files" v-if="car.filesCount > 0">
                                        <div class="upload-pic">
                                            <img :src="img" alt="" class="img-fluid img-thumbnail" style="max-height: 200px; ">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="upload-pic">
                                            <button name="file" type="button" class="change-cover" onclick="document.getElementById('upload').click()">
                                                <i class="fa fa-plus"></i>Add Pictures
                                            </button>
                                            <input type="file" id="upload" multiple name="file" @change="filesSelected($event)">
                                            <input type="hidden" name="images" v-validate="'required|min:1|allowedimages'" v-model="car.filesCount">
                                        </div>
                                        <span v-if="errors.has('images')" class="text-danger">{{ errors.first('images') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <p>want to add more picture get your ad feature now</p>
                                <p v-if="!car.package_id">you can only upload 1 Image want to upload more images?</p>
<!--                                <p v-if="!car.package_id">you can only upload 6 Image want to upload more images?</p>-->
                                <a href="#" class="red" @click.prevent="choosingPackage = true">change package</a>
                            </div>
                            <div class="col-12">
                                <h2>Contact Information </h2>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="">First name</label>
                                <input type="text" class="form-control" placeholder="first Name" v-model="user.first_name">
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="">Last name</label>
                                <input type="text" class="form-control" placeholder="last Name" v-model="user.last_name">
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="">Contact No</label>
                                <input type="number" class="form-control" placeholder="Contact No" v-model="user.contact">
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="">zip code</label>
                                <input type="number" class="form-control" placeholder="zip code" v-model="user.zipcode">
                            </div>
                            <!-- <div class="col-md-6 col-12">
                                  <label for="">Email</label>
                              <input type="email" class="form-control" placeholder="Email" >
                              </div>-->
                        </div>
                    </div>
                </div>
                <div class="tab" :class="{ active: preview }" :style="{ display: !preview? 'none' : 'block' }">
                    <div class="pending-ad">
                        <div class="row">
                            <div class="col-xl-8 col-12">

                                <div class="left">
                                    <section class="slider">
                                        <swiper :options="swiperOptionTop" class="slider-top" ref="swiperTop">
                                            <swiper-slide :class="`slide-${index}`" v-for="(img, index) in car.files" v-bind:key="index">
                                                <img :src="`${img}`" alt="" class="img-fluid w-100" >
                                            </swiper-slide>
                                        </swiper>
                                        <!-- swiper2 Thumbs -->
                                        <swiper :options="swiperOptionThumbs" class="gallery-thumbs" ref="swiperThumbs">
                                            <swiper-slide :class="`slide-${index}`" v-for="(img, index) in car.files" v-bind:key="index">
                                                <img :src="img" alt="" class="img-fluid w-100" >
                                            </swiper-slide>
                                        </swiper>

                                        <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
                                        <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
                                    </section>
                                </div>
                            </div>
                            <div class="col-xl-4 col-12">
                                <div class="right">
                                    <div class="row">
                                        <div class="col-12 d-flex ">
                                            <div class="box box-1 w-100">
                                                <h2>${{ car.price }}</h2>
                                                <h3>{{ car.year }} {{ make }} {{ model}} </h3>
                                                <p>Used</p>
                                                <p>Listing id: <span></span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-12 d-flex ">
                                            <div class="box seller-info w-100">
                                                <h3>Contact Seller</h3>
                                                <div class="media">
                                                    <img :src="user.image" class="img-fluid" :alt="user.name">
                                                    <div class="media-body">
                                                        <h4>{{ user.name }}</h4>
                                                        <p>Call: {{ user.contact }}</p>
                                                        <p>Email: {{ user.email }}</p>
                                                        <!--<router-link :to="{ name: 'user.profile' }">Edit Profile </router-link>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="row">
                                <div class="col-12 col-xl-8 ">
                                    <div class="row">
                                        <div class="col-12 d-sm-flex justify-content-between">
                                            <h4>Details</h4>
                                            <button type="button" :disabled="saved" @click="preview = false" class="red prevBtn">edit</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-12">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label for="">Make</label>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <p>{{ make }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label for="">Year</label>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <p>{{ car.year }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label for="">Fuel</label>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <p>{{ car.fuel_type }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-12">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label for="">model</label>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <p>{{ model }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label for="">Mileage</label>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <p>{{ car.mileage }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label for="">Transmission</label>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <p>{{ car.transmission }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <div class="des">
                                    <h4>Description </h4>
                                    <p>{{ car.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                <div style="overflow:auto;">
                    <div class="d-sm-flexd d-block justify-content-between buttons">
                        <button type="button" v-if="preview" :disabled="saved" class="form-control red prevBtn" @click="preview=false">Previous</button>
                        <button type="submit" v-if="!preview" :disabled="saved" class="form-control sub red">Next</button>
                        <button type="submit" v-if="preview" :disabled="saved" class="form-control sub red">Submit</button>
                    </div>
                </div>
                </div>
                </div>
                <!-- Circles which indicates the steps of the form: -->
            </form>
            <!--step form end here-->
        </div>

        <packages v-if="choosingPackage" @packageSelected="packageSelected"/>

        <!-- Modal -->
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header p-0 border-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <h2>Thank You! </h2>
                        <p>Your Ad has been successfully sent <br> to admin for approval.</p>
                    </div>

                </div>
            </div>
        </div>

    </section>
</template>
<script>
    import Packages from "./PackagesComponent";
    import { swiper, swiperSlide } from 'vue-awesome-swiper';

    export default {
        components: { Packages, swiper, swiperSlide },
        data(){
            return {
                preview: false,
                user: window.user,
                car: {
                    year: '',
                    make_id: '',
                    model_id: '',
                    condition: '',
                    mileage: '',
                    transmission: 'Automatic',
                    fuel_type: '',
                    vin: '',
                    price: '',
                    package_id: null,
                    files: [],
                    filesCount: 0,
                    package: undefined
                },
                makes: [],
                models: [],
                package: undefined,
                choosingPackage: false,

                swiperOptionTop: {
                    spaceBetween: 10,
                    loop: true,
                    loopedSlides: 5, //looped slides should be the same
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    }
                },
                swiperOptionThumbs: {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    touchRatio: 0.2,
                    loop: true,
                    loopedSlides: 5, //looped slides should be the same
                    slideToClickedSlide: true,
                },
                saved: false
            }
        },
        created() {
            this.$validator.extend('allowedimages', {
                getMessage: field => {
                    if(this.filesCount === 0)
                        return 'The image field is required';
                    return `You can only upload upto ${this.car.package? this.car.package.no_images : 1} images, please upgrade your package in order to upload more images.`
                },
                validate: value => this.car.filesCount > 0 && this.car.filesCount <= (this.car.package? this.car.package.no_images : 1)
            });
        },
        mounted() {
            this.loadMakes();
            this.getUserPackage();
            this.$nextTick(() => {
                const swiperTop = this.$refs.swiperTop.swiper;
                const swiperThumbs = this.$refs.swiperThumbs.swiper;
                swiperTop.controller.control = swiperThumbs;
                swiperThumbs.controller.control = swiperTop;
            });
        },
        methods:{
            submit(){
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;
                    if(!this.preview)
                    {
                        this.preview = true;
                        return;
                    }
                    axios.post('ads', this.car)
                    .then(data => {
                        this.$toastr.success(data.data.message, 'Success');
                        // $('#successModal').modal('show');
                        this.$router.push({ name: 'user.mylisting'});
                        this.saved = true;
                    })
                });
            },
            filesSelected(e){
                const limit = this.car.package? this.car.package.no_images: 1;
                this.car.filesCount = e.target.files.length;
                this.car.files = [];
                let warningShowed = false;
                Array.from(e.target.files).forEach((file, index) => {
                    if((index+1) > limit && !warningShowed) {
                        this.$toastr.warning(`You can only upload upto ${limit} images, in order to upload more image please upgrade your package`, 'Warning');
                        warningShowed = true;
                    }
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = () => {
                        this.car.files.push(reader.result);
                    };
                    reader.onerror = function (error) {
                        console.log('Error: ', error);
                    };
                });
            },
            getUserPackage() {
                // axios.get('user/package').then(({data}) => {
                //     this.car.package = data;
                // });
            },
            packageSelected(pkg){
                this.getUserPackage();
                this.car.package_id = pkg.id;
                this.car.package = pkg;
                this.choosingPackage = false;
                document.querySelector('.banner-area h1').style.display = 'block';
            }
        },
        computed: {
            make(){
                if(!this.car.make_id)
                    return '';
                const make = this.makes.filter(m => m.id === this.car.make_id);
                return make[0].name;
            },
            model(){
                if(!this.car.model_id || !this.car.make_id)
                    return '';

                const model = this.models.filter(m => m.id === this.car.model_id);

                return model.length? model[0].name : '';
            },
            years(){
                const totalYears = 50;
                const start = (new Date()).getFullYear() - totalYears;
                return Array(totalYears + 1).fill().map((_, idx) => start + idx);
                // return Array(start - end + 1).fill().map((_, idx) => start + idx)
            }
        }
    }
</script>

<style>
    .owl-carousel{
        display: block;
    }
    .dealer-bottom .card a.readmore {
        display: inline-block;
        color: white;
        padding: 10px 15px;
    }
</style>
