html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}button{-webkit-transition: all .3s ease-in-out !important;-o-transition: all .3s ease-in-out !important;transition: all .3s ease-in-out !important;cursor: pointer;}body {line-height: 1;-webkit-transition: all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition: all .3s ease-in-out;font-family: 'Poppins', sans-serif !important;padding: 0 !important;}input{position: relative;border-radius: 100px !important;height: 46px;color: black !important;font-size: 14px !important;margin: 0 0 15px 0;border: 1px solid #e1e1e1 !important;padding: 0 25px !important;}input::placeholder,textarea:placeholder {color: #999999 !important;text-transform: capitalize !important;}textarea{color: black;resize: none;}.form-control:focus {box-shadow: none !important;}img {object-fit: cover;object-position: center;} input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {-webkit-appearance:none;}input[type=number] {-moz-appearance:textfield;}.my-60{margin: 60px 0;}p {font-size: 17px; font-weight: 400; margin-top: 35px;}a {font-size: 15px;font-weight: 400;display: inline-block;-webkit-transition: all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition: all .2s ease-in-out;text-decoration:none !important;}.gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .gj-datepicker-bootstrap [role=right-icon] button .material-icons {top: 15px;}input:-webkit-autofill,input:-webkit-autofill:hover, input:-webkit-autofill:focus {-webkit-box-shadow: 0 0 0px 1000px white inset;box-shadow: 0 0 0px 1000px white inset;}.red,.red:focus {background: #a40000;border-radius: 100px;color: white;}.red:hover,.red:focus {background: #760000 !important;color: white;}.pur {background: #0a0a3e;border-radius: 100px;color: white;}.pur:hover {background: #101079;}



/*date picker css start here*/
input#datepicker-1, input#datepicker-2, input#datepicker-3, input#datepicker-4, input#datepicker-5, input#datepicker-6, input#datepicker-7, input#datepicker-8, input#datepicker-9, input#datepicker-10, input#datepicker-11, input#datepicker-12, input#datepicker-13, input#datepicker-14,input#datepicker-15,input#datepicker-16,input#datepicker-17,input#datepicker-18{padding: 4px 20px 0 20px !important;background: white  !important;margin: 0 0 30px 0;}.dates .btn:not(:disabled):not(.disabled), .fc button:not(:disabled):not(.disabled) {position: absolute;border: 0;right: 0;top: 12px;}.gj-unselectable {margin: 0;z-index: 99;}.gj-datepicker-bootstrap [role=right-icon] button {border: 0;}.gj-datepicker [role=right-icon] {position: absolute;right: 10px;top: 6px;}
/*date picker css end here*/
/*hover start here*/

.box:hover img {-webkit-animation-name: hvr-hang-sink,hvr-hang;animation-name: hvr-hang-sink,hvr-hang;-webkit-animation-duration: .3s,1.5s;animation-duration: .3s,1.5s;-webkit-animation-delay: 0s,.3s;animation-delay: 0s,.3s;-webkit-animation-timing-function: ease-out,ease-in-out;animation-timing-function: ease-out,ease-in-out;-webkit-animation-iteration-count: 1,infinite;animation-iteration-count: 1,infinite;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;-webkit-animation-direction: normal,alternate;animation-direction: normal,alternate;}

/*hover end here*/
 /*


font-family: 'Orbitron', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/*================================ index page start here ===================================*/
 
/*header start here*/
.header_area ul.nav-menu {margin: 40px 0 0 0;}
.nav-menu > li > a {font-size: 14px;padding: 0 20px;height: auto;}
.nav-menu > li > a:hover {color: #fe0000;}
section.header:after{position: absolute;content: '';background-image: url('../images/banner-bottom.png');background-repeat: no-repeat;width: 100%;left: 0;right: 0;bottom: -190px;background-size: cover;height: 190px;z-index: 9999999;}
.header_area{position: absolute;padding: 30px 0 0 0;top: 0;z-index: 9999;width: 100%;} 
.banner-area{height:460px;background: url("../images/inner-banner.png") no-repeat;-webkit-background-size: cover;
background-size: cover;background-position: top center;position: relative;}
.banner-area h1{color: white;font-size: 60px;font-weight: 600;margin: 250px 0 0 0;text-transform: capitalize;}
ul.nav.float-right {margin: 0 0 0 30px;}
a.nav-link.nav-link-label {padding: 0;color: white;font-size: 16px;position: relative;}
li.dropdown.dropdown-notification.nav-item {margin: 0 0 0 50px;}
li.dropdown.dropdown-user.nav-item {margin: -5px 0 0 10px;}
.dropdown-toggle::after {color: white;border-right: 0.4em solid transparent;border-left: 0.4em solid transparent;}
span.badge-up {position: absolute;top: 10px;min-width: 20px;min-height: 20px;padding: 4px;font-weight: 400;z-index: 2222222;color: white;}
span.avatar.avatar-online ,span.avatar.avatar-online img {width: 40px;height: 40px;border-radius: 100px;}a.dropdown-toggle.nav-link.dropdown-user-link {padding: 0 0 0 0;margin: 0 0 0 30px;}
ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right.show {width: 400px;padding: 20px 20px 0 20px;height: 385px;overflow-y: scroll;z-index: 99999999;}
h6.dropdown-header.m-0 {padding: 0 0 10px 0;border-bottom: 1px solid #2d2d59;margin: 0 0 15px 0 !important;font-weight: 600;color: black;}
p.notification-text.font-small-3.text-muted {margin: 3px 0 0 0;font-size: 12px;color: #9e9e9e !important;}
li.scrollable-container.media-list.ps-container.ps-theme-dark a {display: block;margin: 20px 0 0 0;}
li.scrollable-container.media-list.ps-container.ps-theme-dark a .media-left {margin: 0 10px 0 0;color: #dc3545;}
h6.media-heading {font-size: 13px !important;color: black;font-weight: 400;}
time.media-meta.text-muted {font-size: 10px;line-height: 10px;margin: 0 0 0 0;}
li.dropdown-menu-footer a:hover {color: #a40000 !important;background: white;}
li.dropdown-menu-footer a {margin: 5px 0 0 0;color: black !important;font-size: 14px;text-transform: capitalize;}
li.dropdown.dropdown-user.nav-item.show {}
.dropdown-menu.show {padding: 25px 0 15px 0;}
.dropdown-menu.show i {font-size: 16px;width: 20px;text-align: center;margin: 0 10px 0 0;}
.dropdown-menu.show a {padding: 0 20px 15px 20px;color: black;font-weight: 600;text-transform: capitalize;}
p.dropdown-item {font-size: 16px;margin: 0;color: #2c2786;font-weight: 600;padding: 0 20px 10px 49px;}
p.dropdown-item:hover{background:transparent;color:#2c2786;}
.dropdown-menu.show a:hover {background: white;color: #a40000;}
header.header_area.inner-header-main.main-header .nav-menu ul.nav-menu.align-to-right.login-area {margin: 0;}
ul.nav-menu.align-to-right.login-area li:first-child a {background: #a40000;padding: 13px 13px 11px 30px;border-top-left-radius: 100px;border-bottom-left-radius: 100px;font-weight: 600;margin: 0 0 0 0;}
ul.nav-menu.align-to-right.login-area li:last-child a {padding: 13px 20px 11px 10px;border-top-right-radius: 100px;border-bottom-right-radius: 100px;background: white;color: #a40000;font-weight: 600;}
header.header_area.inner-header-main.main-header .nav-menu {margin: 30px 0 0 0;}
header.header_area.inner-header-main.main-header .nav-menu > li > a {margin: 13px 0 0 0;}
ul.nav-menu.align-to-right.login-area a {margin: 0 !important;}
ul.nav-menu.align-to-right.login-area li:first-child a:hover {background: white;color: #a4005a;}


ul.nav-menu.align-to-right.login-area li:last-child a:hover {background: #a40000;color: white;}

/*header end here*/

 
/*footer start here*/
footer{background: url("../images/footer-banner.png") no-repeat;-webkit-background-size: cover;background-size: cover;background-position: top center;padding: 0px 0 70px 0;}
.footer-top {padding: 30px 0 0px 0;border-bottom: 1px solid #2d2d59;}
.footer-top img{margin: 0px 0 30px 0;}
.footer-top ul{list-style-type: none;padding: 0;margin: 0 0 0 0;float: right;}
.footer-top ul li{float: left;}
.footer-top ul li a{margin: 30px 0 0 12px;display: inline-block;background: #a40000;text-align: center;width: 50px;height: 50px;padding: 18px 0 0 0;color: white;font-size: 15px;}
.footer-top ul li a i{}
.footer-top ul li a:hover{background: #D90404 ;}
.footer-bottom{padding: 60px 0 125px 0;border-bottom: 1px solid #2d2d59;}
.footer-bottom p{font-size: 16px;margin: 20px 0 0 0;color: white;font-weight: 600;font-family: 'Exo 2', sans-serif;line-height: 25px;}
.footer-bottom .form-group{position: relative;margin: 40px 0 0 0;}
.footer-bottom input{color: black;font-size: 16px;font-weight: 600;border-radius: 0px !important;height: 64px;border: 0px !important;}
.footer-bottom input:placeholder{color: #737879;}
.footer-bottom button{position: absolute;top: 0;height: 65px;padding: 24px;border: 0px;text-align: center;color: white;font-size: 18px;background: #a40000;right: 15px;}
.footer-bottom button:hover{background: #D90404;cursor: pointer;}
.footer-bottom h2{color: white;font-size: 17px;font-weight: 700;margin: 20px 0 0 0;font-family: 'Exo 2', sans-serif !important;letter-spacing: 4px;text-transform: uppercase;}
.footer-bottom ul{padding: 0;margin: 10px 0 0 0;}
.footer-bottom ul li{}
.footer-bottom ul li a{font-family: 'Exo 2', sans-serif !important;margin: 22px 0 0 0;font-size: 17px;font-weight: 600;text-transform: capitalize;color: white;text-decoration: none;}
.footer-bottom ul li a:hover{color: #c7c7c7;} 
.footer-bottom .footer-last{padding: 0 0 0 37px;}
.footer-bottom .footer-last p{text-transform: capitalize;margin: 35px 0 0 0;line-height: 15px;}
.footer-bottom .footer-last a{margin: 0 0 0px 0;}
footer .copy-right{color: white;font-size: 17px;font-family: 'Exo 2', sans-serif !important;font-weight: 600;}
/*footer end here*/

/*================================ index page end here ===================================*/
/*================================ login page start here ===================================*/

.register-main{background-color:white;padding: 60px 80px;border-radius: 10px;box-shadow: 0 0 40px 0 rgb(0,0,0,.3);}
.register i{}
.register input{position: relative;border-radius: 100px;height: 46px;color: black;font-size: 14px;margin: 0 0 15px 0;border: 1px solid #e1e1e1;font-size: 14px !important;padding: 0 40px !important;}
section.login input::placeholder {color: #999999;text-transform: capitalize;}
.register-main img {margin: 0 auto;display: block;width: 200px;}
.register-main h1 {font-size: 17px;color: #1c1c1c;margin: 40px 0 40px 0;position: relative;text-transform: capitalize;font-weight: 500;}
.register-main h1::before {background: #3244b1;content: '';width: 100px;height: 4px;top: 28px;position: absolute;}
.register-main button.form-control {border-radius: 100px;font-size: 17px;background: #a40000;color:  white;transition: all .3s ease-in-out;padding: 11px 0;text-align: center;font-weight: 600;text-transform: capitalize;border: 1px solid #a40000;font-size: 17px;margin: 30px 0 0 0;}
.register-main .new-usernew-user p {text-align: center;margin: 40px 0 0 0;position: relative;text-transform: capitalize;color: #808080;}
.loginn a {color: #4485c6;text-decoration: underline;font-size: 14px;display: inline-block;float: right;font-weight: 600;margin: 0px 10px 0 0px;padding: 0;}
.loginn a:hover {color: black;}
.register-main .form-control.reg {background: white;color: #a40000;border: 1px solid #a40000;cursor: pointer;border-radius: 100px;font-size: 17px;background: #a40000;color: white;transition: all .3s ease-in-out;padding: 11px 0;text-align: center;font-weight: 600;text-transform: capitalize;border: 1px solid #a40000;font-size: 17px;margin: 30px 0 0 0;text-decoration: none !important;}
section.login a {text-decoration: underline !important;}
section.login .fields i {position: absolute;top: 14px;left: 30px;font-size: 16px;width: 20px;text-align: center;color: black;z-index: 9999;}
section.login .form-group {position: relative;}
section.login input,section.login input:focus {border-radius: 100px;height: 46px;padding: 0 45px !important;font-size: 14px;color: black;}
.new-user p {position: relative;text-align: center;font-size: 15px;color: #999999;text-transform: capitalize;}
.register-main .form-control:hover,.register-main .reg.form-control:hover {background: white;color: #a40000;cursor: pointer;}
.register-main .new-user p:before {width: 35%;position: absolute;height: 1px;/* background: #e6e6e6; */content: '';border: 1px solid #e6e6e6;right: 0;top: 8px;}
.register-main .new-user p:after {width: 35%;position: absolute;height: 1px;/* background: #e6e6e6; */content: '';border: 1px solid #e6e6e6;left: 0;top: 8px;}
/* The container */

.check{display: block;position: relative;padding: 4px 0 0 35px;margin-bottom: 12px;cursor: pointer;font-size: 14px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;color: #808080;}
/* Hide the browser's default checkbox */
.check input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
/* Create a custom checkbox */

.checkmark {position: absolute;top: 2px;left: 10px;height: 18px;width: 18px;background-color: white;border: 1px solid #e1e1e1;border-radius: 4px;}
/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {}
/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {content: "";position: absolute;display: none;}
/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {display: block;}
/* Style the checkmark/indicator */
.check .checkmark:after {left: 5px;top: 2px;width: 6px;height: 9px;border: 1px solid black;border-width: 0 2px 2px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}

/*================================ login page end here ===================================*/
/*================================ contact-admin page start here ===================================*/

.contact-admin-main{}
.contact-admin{border-radius: 10px;box-shadow: 0 0 20px 0 rgb(0,0,0,.3);padding: 70px 100px;}
.contact-admin img{width: 80px;height: 80px;margin: 0 auto; display: block;}
.contact-admin h1{color: #000000;font-size: 40px;font-weight: 600;margin: 30px 0 35px 0;text-transform: capitalize;text-align: center;}
.contact-admin label{margin: 0px 0 15px 0;font-size: 14px;color: #000000;}
.contact-admin input{font-size: 14px !important;}
.contact-admin textarea{height: 160px;border-radius: 20px;padding: 12px 30px;color: black;font-size: 14px;}
.contact-admin button{background: #a40000;font-size: 16px;font-weight: 600;padding: 15px;border-radius: 100px;text-transform: uppercase;color:white;margin: 15px 0 0 0;}
.contact-admin button:hover{background: #D90404;color: white;}
.contact-admin textarea::placeholder {text-transform: capitalize;}
.contact-admin textarea:focus{color: black;border-color: #e1e1e1;}
 
/*================================ contact-admin page end here ===================================*/

/*================================ register page end here ===================================*/

section.registration button {margin: 0 0 0 0 !important;}


/*================================ register page end here ===================================*/


/*================================ profile page end here ===================================*/

.profile-inner{padding:60px; border-radius: 10px; box-shadow: 0 0 20px 0 rgb(0,0,0,.1);}
.profile-inner img{width: 135px;height: 135px;border: 4px solid #e6e6e6; border-radius: 50%;display: block;margin: 0 auto}
.profile-inner h1{margin: 15px 0 0 0;font-size: 18px;color: #333333;font-weight: 600;text-align: center;}
.profile-inner form{margin: 35px 0 0 0;}
.profile-inner label{margin: 20px 0 20px 5px;color: #999999;font-size: 13px;}
.profile-inner input{}
.profile-inner button{background: #a40000;font-size: 16px;font-weight: 600;padding: 15px 40px;border-radius: 100px;text-transform: uppercase;color:white;margin: 40px 0 0 0;border: 0px;}
.profile-inner button:hover{background: #D90404;}

/*================================ profile page end here ===================================*/
/*================================ forogot pass pages start here ===================================*/

.forgot-pass {border-radius: 20px;margin: 120px 0;}
.forgot-pass button{margin: 0 0 0 0 !important;}
.forgot-pass a i{margin: 0 5px 0 0;}
.forgot-pass a.login-btn{display: block;text-align: center;margin: 50px 0 0 0;color: #1c1c1c;font-size: 17px;font-weight: 500;text-decoration: none !important;text-transform: capitalize;}
.forgot-pass a.login-btn:hover{color: #a40000;}

/*================================ forogot pass pages end here ===================================*/

/*================================ active ad detail pages end here ===================================*/

.pending-ad .main-slider .slider-top img {height: 380px;border-radius: 10px;}
.pending-ad .main-slider .slider-top {height: 380px;}
.pending-ad .slider-bottom .images,.pending-ad .slider-bottom img {height: 125px;width: 100%;}
.slider-bottom {padding: 0 30px 0 35px;position: relative;}
.slider-bottom::before {content: "\f0d9";font-style: normal;text-decoration: inherit;color: #000;font-size: 30px;position: absolute;top: 40%;left: 0;font-family: "Font Awesome 5 Free";font-weight: 900;content: "\f0d9";}
.slider-bottom .images {margin: 20px 0 0 0;}.slider-bottom::after {font-style: normal;text-decoration: inherit;color: #000;font-size: 30px;position: absolute;right: 0;margin: auto 0;top: 40%;bottom: 0;font-family: "Font Awesome 5 Free";font-weight: 900;content: "\f0da";}
.slider-bottom .images, .slider-bottom img {width: 100%;height: 90px;border-radius: 5px;}
.pending-ad .detail h4 {margin: 60px 0 0 0;font-size: 30px;font-weight: 600;text-transform: capitalize;color: #000000;float: none;}
.pending-ad .detail label {margin: 25px 0 0 0;color: #666666;text-transform: capitalize;font-weight: 600;font-size: 16px;}
.pending-ad .detail p {margin: 25px 0 0 0;font-size: 16px;color: #333333;font-weight: 600;text-transform: uppercase;}
.pending-ad .des {margin: 60px 0 0 0;}
.sell-your-car .pending-ad button {padding: 10px  60px;margin: 50px 0 10px 0;text-transform: capitalize;border: 0;}
.pending-ad .des h4 {color: #000000;font-size: 20px;font-weight: 600;text-transform: capitalize;}
.pending-ad .des p {margin: 30px 0 0 0;font-size: 14px;color: #666666;line-height: 20px;font-weight: 400;line-height: 20px;}
.pending-ad .box {box-shadow: 0 0 20px 0 rgb(0,0,0,.4);margin: 0 0 30px 0;border-radius: 10px;padding: 25px;} 
.pending-ad .box .btn-group {width: 100%;}
.pending-ad .box .btn-group button {width: 100%;text-align: right;margin: 0 0 10px 0 !important;background: white;padding: 0;outline: none;}
.pending-ad .box h2 {margin: 0 0 0 0;font-weight: 600;color: #ef1717;font-size: 25px;}
.pending-ad .box .act p {background: #10369f;border-radius: 20px;padding: 2px 10px;color: white;box-shadow: 0 0 10px 0 rgb(0,0,0,.2);font-size: 11px;text-transform: uppercase;margin: 0 0 0 0;font-weight: 300;}
.pending-ad .box h3 {margin: 15px 0 20px 0;text-transform: uppercase;color: #242424;font-weight: 600;font-size: 20px;}
.pending-ad .box p {color: #666666;font-weight: 500;font-size: 14px;margin: 0 0 10px 0;line-height: 16px;}
.pending-ad .box.seller-info a:hover {background: #760000;}
.pending-ad .status {margin: 0;}
.pending-ad .status a:hover {background: #101079;}
.pending-ad .status button,.pending-ad .status a {margin: 0 0 10px 0;color: white;border: 0px;background: #3244b1;font-size: 13px;font-weight: 500;padding: 16px 13px 15px 13px;text-transform: uppercase;width: 100%;text-align: center;border-radius: 6px;height: 50px;}
.pending-ad .status button {background: #a40000;padding: 0;}
.pending-ad .status button + button:hover {background: #760000;}
.pending-ad .status button:hover {background: #101663;}
.active-ad-detail .detail {margin: 60px 0 0 0;}
.active-ad-detail {margin: 70px 0;}
.pending-ad .box-1 {padding: 25px;}
.pending-ad .box .btn-group button:focus {outline: none;box-shadow: none;}
.active-ad-detail .dropdown-menu.show, .rejected-ad .dropdown-menu.show {padding: 10px;display: inline-block !important;margin: 0;left: 40% !important;top: -30px !important;}
.active-ad-detail .dropdown-menu.show a, .rejected-ad .dropdown-menu.show a {padding: 5px 0;color: #666666;font-size: 13px;text-transform: uppercase;font-weight: 400;}
.active-ad-detail .dropdown-menu.show a:hover,rejected-ad .dropdown-menu.show a:hover {color: #a40000;}
.active-ad-detail .dropdown-menu.show a i,rejected-ad .dropdown-menu.show a i {font-size: 13px;margin: 0;text-align: left;}
.active-ad-detail .right {margin: 0 0 0 15px;}
.breadcrumb-item+.breadcrumb-item::before {content: ">";font-size: 18px;margin: 0 0 0 0;position: absolute;left: 0;right: 0;padding: 0 !important;top: 0;}
li.breadcrumb-item a, li.breadcrumb-item {color: #666666;text-transform: capitalize;line-height: 23px;font-size: 18px;}
li.breadcrumb-item {position: relative;padding: 0 20px 0 0 !important;}
li.breadcrumb-item.active {margin: 0px 0 0 0 !important;color: #000000;}
li.breadcrumb-item + li.breadcrumb-item {padding: 0 20px !important;}
li.breadcrumb-item.active::before {top: 0;}
.breadcrumb {background: white;padding: 0;margin: 0 0 35px 0;} 
.active-ad-modal .modal-body {padding: 0 40px 60px 40px;}
.modal-dialog {max-width: 600px !important;}
.active-ad-modal .main-image {display: block;height: 157px;text-align: center;margin: 30px 0 10px 0;}
.active-ad-modal .main-image img {height: 157px;border-radius: 10px;}
.active-ad-modal p {font-size: 16px;font-weight: 600;margin: 20px 0 0 0;}
.modal .bottom-area .upload-pic,.modal .bottom-area .upload-pic button {height: 94px;background: #10369f;margin: 0 0 0 0;border-radius: 10px;padding: 0;}
.modal .bottom-area .upload-pic:hover, .modal .bottom-area .upload-pic button:hover {background: #08226b;}
.modal .bottom-area .upload-pic {margin: 15px 0 0 0;}
.modal .bottom-area .upload-pic button i {margin: 0;color: white;}
.active-ad-modal .bottom-area img {height: 94px;border-radius: 10px;margin: 15px 0 0 0;width: 100%;}
.modal .img-box {position: relative;}
.modal .img-box button {position: absolute;top: 20px;right: 0;border: 0;background: transparent;font-size: 12px;color: white;outline: none;}
.modal .img-box button:hover {color: black;}
.active-ad-modal button.next {margin: 20px 0 0 0;border-radius: 100px;padding: 16px 0;text-transform: uppercase;font-weight: 600;color: white;background: #a40000;border: 0px;}
.active-ad-modal button.next:hover {background: #D90404;}
.active-ad-third .modal-content {padding: 20px 30px;}
.active-ad-third h1 {font-size: 40px;text-transform: capitalize;color: black;font-weight: 700;}
.modal.active-ad-third p {font-size: 16px;margin: 28px 0 0 0;}
.modal.active-ad-third h2 {font-size: 25px;color: #0a0a3e;font-weight: 700;margin: 20px 0;}
.active-ad-third h2 span {color: #a40000;}
.active-ad-third input.form-control {margin: 0 0 30px 0;height: 50px;padding: 5px 20px 0 20px !important;}
.active-ad-third .gj-datepicker-bootstrap [role=right-icon] button .gj-icon, .gj-datepicker-bootstrap [role=right-icon] button .material-icons {top: 10px;}
.modal.active-ad-third.show {overflow-y: scroll;}
.active-ad-third button {background: #a40000;color: white;text-transform: uppercase;padding: 20px;border-radius: 100px;font-weight: 700;}
.active-ad-third button:hover {background: #760000;}
/*================================ active ad detail pages end here ===================================*/

/*================================ review ad detail pages end here ===================================*/


.review-ad h3{color: #666666;font-size: 18px;}
.review-ad .box{margin: 35px 0 0 0;}
.review-ad button{margin: 30px 0 0 0; font-size: 13px;color: #030303;font-weight: 600;text-transform: uppercase;}
.pending-ad .box.seller-info img {width: 40px;height: 40px;border-radius: 100%;margin: 0 12px 0 0;}
.pending-ad .box.seller-info h4 {font-weight: 700;color: #242424;}
.pending-ad .box.seller-info a {margin: 10px 0 0 0px;background: #a40000;color: white;padding: 10px 20px 9px 20px;font-weight: 500;text-transform: uppercase;border-radius: 100px;}
.pending-ad .box.seller-info a:hover {background: #760000;}

/*================================ review ad detail pages end here ===================================*/

/*================================ rejected ad detail pages end here ===================================*/

 
.rejected-ad h3{margin: 0 0 35px 0;color: #666666;font-size: 18px;text-transform: capitalize;}
.rejected-ad .right .des{margin: 0 0 0 0;}
.rejected-ad .right .des p{margin: 25px 0 0 0;}
.rejected-ad .right .status button{margin: 30px 0 0 0;}
.pending-ad .box h3:nth-of-type(2) {margin: 0 0 0 0;}
.rejected-ad .right .seller-info h3 {margin: 0 0 20px 0;font-weight: 500;}
.rejected-ad .box h3 {font-weight: 500;}
.pending-ad .seller-info p {margin: 0 0 5px 0;font-weight: 400;}
.rejected-ad .box.seller-info h4 {font-weight: 500;margin: 0 0 10px 0;}
.rejected-ad .box.seller-info a {padding: 10px 40px 9px 40px;}
.rejected-ad .detail h4 {margin: 0 0 0 0;}
.flexslider:nth-of-type(1) {margin: 0 0 20px 0;}
.flexslider:nth-of-type(1) a.flex-next,.flexslider:nth-of-type(1) a.flex-prev {display: none;} 
div#carousel {padding: 0 45px !important;margin: 0 0 0 0 !important;}
div#slider img {height: 400px;}
/*================================ rejected ad detail pages end here ===================================*/

/*================================ ad payment detail pages end here ===================================*/

.all-cars p.visit {color: white !important;display: inline-block;margin: 0 !important;padding: 10px 40px;text-transform: capitalize;font-size: 14px !important;background: #a40000;border-radius: 100px;}
.all-cars .card{margin: 20px 0 0 0;padding: 20px;box-shadow: 0 0 20px 0 rgb(0, 0, 0,.3);border: 0px;border-radius: 10px;transition: all .3s ease-in-out;}
.all-cars .card .slider{margin: 0 35px 0 0;width: 270px;position: relative;}
.all-cars .card .slider img{width: 270px;height: 240px;border-radius: 10px;}
.all-cars .card h2{font-size: 18px;color: #666666;font-weight: 400;margin: 18px 0 0 0;}
.all-cars .card h3{font-size: 30px;color: #000000;margin: 25px 0 0 0;text-transform: capitalize;font-weight: 600;}
.all-cars .card p{font-size: 12px;color: #666666;margin: 30px 0 10px 0;line-height: 20px;font-weight: 400;}
.all-cars .card .d-sm-flex h2{font-size: 30px;color: #a40000;margin: 25px 0 0 0;font-weight: 600;}
.owl-carousel .owl-dots.disabled {display: block;margin: 0 !important;}
.all-cars .card .slider .owl-dots {margin: 0;position: absolute;width: 100%;bottom: 0;}
.all-cars .card .slider .owl-dots button.active span {background: white;}
.all-cars .card .slider .owl-dots button:hover {background: transparent !important;}
.all-cars .card .slider .owl-dots button:hover span {background: white !important;}
.all-cars .card h4 {text-align: right;font-size: 16px;text-transform: capitalize;color: #000000;font-weight: 400;line-height: 20px;}
.all-cars .card h6 {font-size: 16px;font-weight: 600;text-transform: uppercase;color: black;margin: 10px 0 0 0;}
.all-cars .card h6 span {color: #a40000;}
.all-cars h2 {font-size: 30px;color: #000000;font-weight: 600;}
.payment-detail{margin: 70px 0 0 0;}
.payment-detail h2{font-size: 25px;color: #000000;font-weight: 600;}
.payment-detail h3{font-size: 40px;font-weight: 600;margin: 15px 0 0 0;text-transform: uppercase;}
.payment-detail h3 span{color: #a40000;margin: 0 0 0 5px;}
.payment-detail h4{font-size: 25px;color: #666666;font-weight: 600;margin: 20px 0 0 0;text-transform: uppercase;}
.payment-detail h5{color: #666666;margin: 20px 0 30px 0;font-size: 25px;}
.payment-detail form{}
.payment-detail input{margin: 0 0 30px 0;height: 60px;}
.payment-detail button{background: #a40000;color: white;font-size: 16px;padding: 18px;font-weight: 600;text-transform: uppercase;border-radius: 100px;margin: 30px 0 0 0;}
.payment-detail button:hover{background: #D90404;}
.payment-detail .checkmark {background: white;}
button.btn.btn-outline-secondary.border-left-0 {margin: 0;background: transparent !important;color: #999999 !important;}
.payment-detail input::placeholder {color: #999999;}
.payment-detail button:focus {background: #a40000;color: white;}
.modal {padding: 0 !important;}
.modal button.close {background: transparent;color: black;padding: 0;font-size: 20px;border: 0;margin: .8rem 1rem 0rem auto;}
.modal-header {text-align: right;}.modal-content {border-radius: 10px;}
.payment-detail .modal-content {text-align: center;}
.payment-detail .modal h2 {margin: 25px 0;font-size: 20px;}
.payment-detail .modal a {margin: 30px 0 40px 0;padding: 20px 40px 19px 40px;background: #a40000;border-radius: 100px;color: white;font-size: 16px;text-transform: uppercase;font-weight: 600;}

/*================================ ad payment detail pages end here ===================================*/


/*================================ find dealer page start here ===================================*/
 
.dealer-top h2{color: #000000;font-size: 40px;font-weight: 700; }
.dealer-top p{margin: 30px 0 0 0;color: #666666;font-size: 14px;line-height: 25px;}
.dealer-top .form-group{ position: relative;margin:35px 0 0 0 ;}
.dealer-top i{position: absolute;right: 30px;font-size: 16px;color: #3244b1;top:12px;z-index: 9999;}
.dealer-top .form-control{height: 40px !important;color: black;border: 1px solid #ebebeb;font-style: normal;border-radius: 100px;}
.dealer-top input::placeholder{font-size: 13px;color: #cccccc;font-style: italic;}
.dealer-middle{margin: 40px 0 0 0;}
.dealer-middle h2,.car-for-sale .dealer-bottom h2{font-size: 30px;font-weight: 600;color: #000;}
.dealer-middle .box{border: 1px solid #d7d7d7;margin: 20px 0 0 0;transition: all .3s ease-in-out;border-radius: 5px;}
.dealer-middle .img-box{position: relative;}
.dealer-middle .img-box img{border-top-left-radius: 5px;border-top-right-radius: 5px;height: 162px;}
.dealer-middle .img-box p{position: absolute;top: 10px;right:10px;color: white;font-size: 11px;font-weight: 300;text-transform: uppercase;background: #10369f;border-radius: 50px;margin: 0;padding: 5px 6px 4px 6px;border: 1px solid white;}
.dealer-middle .box-bottom{padding: 30px 20px 20px 20px;}
.dealer-middle .box-bottom h3{font-size: 18px;color: #a40000;font-weight: 600;text-transform: uppercase;margin: 0;}
.dealer-middle .box-bottom ul{margin: 0;padding: 0;}
.dealer-middle .box-bottom ul li{display: inline-block;font-size: 14px;}
.dealer-middle .box-bottom ul li.active i{color: #fcc51c;}
.dealer-middle .box-bottom ul li i{color: #cccccc; font-size: 14px;}
.dealer-middle .box-bottom ul li p{color: #666666;font-size: 14px;font-weight: 500;margin: 15px 0 0 0;}
.dealer-middle .box-bottom a:hover{color: black;}
.dealer-middle .box-bottom ul li:hover i {color: #fcc51c;cursor: pointer;}
.dealer-middle .box-bottom p{color: #666666;font-size: 12px;margin: 17px 0 0 0;line-height: 17px;}
.dealer-middle .box-bottom p i{margin: 0 5px 0 0;}
.dealer-middle .box-bottom a{margin: 17px 0 0 0;text-transform: capitalize;color: #0018ff;font-size: 12px;text-decoration: underline !important;}
.dealer-bottom {margin: 65px 0 0 0;}
.dealer-bottom .card {margin: 50px 0 0 0;}
.dealer-bottom .card h3 {margin: 0 0 0 0;}
.dealer-bottom .card-top {/* margin: 46px 0 0 0px; */}
.dealer-bottom .card h4 {margin: 7px 0 0 0;text-align: left;}
.dealer-bottom .card ul li {display: inline-block;}
.dealer-bottom .card ul li p {margin: 0 0 0 0;}
.dealer-bottom .card h5 {color: #a40000;font-size: 25px;font-weight: 600;margin: 10px 0 0 0;}
.dealer-bottom ul li{display: inline-block;font-size: 14px;}
.dealer-bottom ul li.active i{color: #fcc51c;}
.dealer-bottom ul li i{color: #cccccc;font-size: 14px;margin: 0 5px 0 0;}
.dealer-bottom ul li p{color: #666666;font-size: 14px;font-weight: 500;margin: 15px 0 0 0;}
.dealer-bottom a:hover{color: black;}
.dealer-bottom ul li:hover i {color: #fcc51c;cursor: pointer;}
.dealer-bottom .card ul li h3 {margin: 0 0 0;font-size: 14px;color: #0018ff;}
.dealer-bottom .card a {display: block;margin: 15px 0 0 0px;font-size: 15px;color: #666666;}
.dealer-bottom .card ul {margin: 0 0 25px 0;}
.dealer-bottom .card a i {margin: 0 5px 0 0;width: 15px;text-align: center;}
.dealer-bottom .card a.visit {background: #a40000;color: white;border-radius: 50px;font-weight: 400;text-transform: uppercase;text-align: center;font-size: 13px;padding: 14px 20px;}
.dealer-bottom .card a.visit:hover {background: #760000;}
/*================================ find dealer page end here ===================================*/


/*================================ sell your car page start here ===================================*/


/* Mark input boxes that gets an error on validation: */
#regForm input.invalid {background-color: #ffdddd;}
/* Hide all steps by default: */
#regForm .tab {display: none;}
#regForm button#nextBtn {background-color: #a40000;color: #ffffff;border: none;cursor: pointer;height: 50px;text-transform: uppercase;font-weight: 600;border-radius: 100px;margin: 20px 0 0 0 !important;}
#regForm button#nextBtn:hover {background: #760000;}
#regForm .pending-ad .detail button#prevBtn {padding: 10px 40px 10px 40px;margin: 40px 0 0 0 !important;height: auto;}
#regForm #prevBtn {background-color: #a40000;color: #ffffff;border: none;cursor: pointer;height: 50px;text-transform: uppercase;font-weight: 600;border-radius: 100px;margin: 20px 0 0 0;}
/* Make circles that indicate the steps of the form: */
#regForm .step {height: 40px;width: 40px;margin: 0 2px;background-color: #e1e1e1;border-radius: 50%;display: inline-block;border: 4px solid white;margin: 0 0 0 0;}
#regForm .step.active {opacity: 1;background: #a40000 !important;border: 5px solid #EDCCC8;}
/* Mark the steps that are finished and valid: */
#regForm .step.finish {background-color: #bcbcbc;position:relative;opacity: 1;color: white;}
#regForm .step.finish::before {background: #bcbcbc;position:absolute;height:2px;content:'';left: 60px;top: 15px;width: 50px;}
.sell-your-car h3 {font-size: 30px;font-weight: 600;text-transform: capitalize;}
body .sell-your-car form#regForm .buttons button {height: 50px;}
.sell-your-car h2 {margin: 60px 0 0 0;font-size: 30px;color: black;font-weight: 600;text-transform: capitalize;padding: 40px 0 60px 0;border-top: 1px solid #ebebeb;}
.sell-your-car form#regForm .tab {}
.sell-your-car a.red {padding: 20px 40px;margin: 30px 0 0 0;font-size: 16px;text-transform: capitalize;}
.sell-your-car p {margin: 30px 0 0 0;font-size: 16px;color: #666666;}
.sell-your-car  label {text-transform: capitalize;font-size: 14px;color: #000000;margin: 0px 0 20px 0;}select.form-control.gas {background-position: 97.6% 20px;}
select {background: url(../images/downarrow_blue.png) no-repeat 95%  center;margin: 0 0 25px 0;-moz-appearance: none;-webkit-appearance:none;appearance:none;height: 50px !important;border-radius: 100px !important;text-transform: capitalize;padding: 0 20px 0 20px !important;border: 1px solid #e1e1e1 !important;color: #999999 !important;}
.sell-your-car  .form-control {margin: 0 0 25px 0;border: 1px solid #e1e1e1  !important;}
.sell-your-car textarea {border-radius: 30px;height: 290px;padding: 20px 30px 20px 30px;color: black;}
.sell-your-car form#regForm .form-control::placeholder {color: #999999;}
.upload-pic {position: relative;display: block;}
input#upload {height: 0;width: 0;visibility: hidden;display: none;}
.upload-pic button.change-cover {width: 100%;height: 240px;font-weight: 600;font-size: 20px;text-transform: capitalize;color: #000000;border-radius: 10px;position: initial;border: 0px;background: #f0f0f0;}
.upload-pic button.change-cover i {display: block;margin: 0px 0 18px 0;}
.sell-your-car form#regForm button.change-cover:hover {background: #cccccc;}
.tabbs {width: 200px;}
.tabbs h4 {color: #000000;font-size: 13px;margin: 20px 0 0 0;font-weight: 600;text-transform: capitalize;}
.tabbs span.text:nth-of-type(2)> span.step.active:before,.tabbs span.text:nth-of-type(2)> span.step.active.finish:before,.tabbs span.text:nth-of-type(3)> span.step.active:before,.tabbs span.text:nth-of-type(3)> span.step.active.finish:before {display: none;}
.sell-your-car .pending-ad {margin: 60px 0 0 0;}
.sell-your-car .pending-ad h2 {margin: 0 !important;padding: 0 !important;border: 0 !important;font-weight: 600 !important;color: #ef1717 !important;font-size: 25px !important;}
.sell-your-car .pending-ad .box p {font-size: 14px !important;color: #666666 !important;margin: 0 0 10px 0 !important;}
.sell-your-car .pending-ad .detail label {margin: 25px 0 0 0 !important;color: #666666 !important;font-size: 16px !important;}
.sell-your-car .pending-ad .detail p {margin: 25px 0 0 0 !important;font-size: 16px !important;color: #333333 !important;}
.sell-your-car .pending-ad .des p {margin: 30px 0 40px 0 !important;font-size: 14px !important;color: #666666 !important;line-height: 23px !important;}
.sell-your-car .pending-ad .seller-info h3 {margin: 0 0 20px 0;font-weight: 500;}
.sell-your-car .pending-ad .seller-info h4 {font-weight: 500;margin: 0 0 10px 0;}
button#prevBtn {margin: 20px 0 0 0;}
button#nextBtn {background-color: #a40000;color: #ffffff;border: none;cursor: pointer;height: 50px;text-transform: uppercase;font-weight: 600;border-radius: 100px;margin: 20px 0 0 0 !important;}
#regForm button.sub {background: #1e1fa2 !important;}
#regForm button.sub:hover {background: #060740 !important;}
#regForm #prevBtn:hover {background: #D90404;}
.modal-open {padding: 0 !important;/* overflow: hidden !important; */overflow-y: scroll;}
.modal h2 {font-size: 40px;color: #000000;font-weight: 600;margin: 30px 0 0 0;}
.modal p {margin: 20px 0 30px 0;font-size: 18px;color: #666666;line-height: 22px;font-weight: 400;}
/*================================ sell your car page end here ===================================*/


/*================================ car for sale page start here ===================================*/

.car-for-sale .dealer-top button {color: white;font-size: 14px;text-transform: capitalize;background: #a40000;}
.car-for-sale .dealer-top button:hover {background: #760000;}
.car-for-sale .dealer-top select {background: url(../images/arrow.png) no-repeat 90%  center;font-size: 13px;color: black !important;text-transform: capitalize;}
.car-for-sale .dealer-middle {margin: 60px 0 0 0;}
.car-for-sale .dealer-middle a {display: block;}
.car-for-sale .dealer-middle .box-bottom {padding: 20px;}
.car-for-sale .dealer-middle .box-bottom i {color: #a40000;font-size: 16px;}
.car-for-sale .dealer-middle .box-bottom p {margin: 12px 0 0 0px;font-size: 16px;color: #666666;}
.car-for-sale .dealer-bottom .card h2 {font-size: 18px;color: #666666;font-weight: 400;margin: 30px 0 10px 0;line-height: 20px;}
.car-for-sale .dealer-bottom h2 span {color: #a40000;}
.car-for-sale .dealer-bottom h4 {text-align: right;}
.car-for-sale .dealer-bottom i {color: #a40000;margin: 0 10px 0 0;}
.car-for-sale .card .d-sm-flex h2 {font-size: 30px;color: #a40000;margin: 0;font-weight: 600;line-height: 35px;}
.car-for-sale .all-cars .card:hover ,.dealer-middle .box:hover {transform: scale(1.04);}


/*================================ car for sale page end here ===================================*/

/*================================ featured page end here ===================================*/


.featured-car button {border: 0;background: #a40000;border-radius: 100px;color: white;font-size: 11px;margin: 0 0 0 0;padding: 10px 20px;text-transform: capitalize;}
.featured-car button:hover {background: #760000;}
.featured-car button i {margin: 0 05px 0 0;}
.featured-car .box p {margin: 10px 0 0 0;}
.featured-car .box p:last-child {margin: 0 0 10px 0;}
.featured-car .box .act p:last-child {margin: 0 0 0 0;}


/*================================ featured page end here ===================================*/


/*================================ dealer profile page end here ===================================*/

.nav.nav-tabs.nav-underline .nav-item a.nav-link.active {color: #a40000 !important;border-bottom: 2px solid #a40000 !important;}
.nav.nav-tabs.nav-underline .nav-item a.nav-link:before {background: transparent;}
.nav.nav-tabs.nav-underline .nav-item {position: relative;z-index: 1;display: inline;text-align: center;-webkit-flex: 0;-moz-flex: 0;-ms-flex: 0;flex: 0; border: 0px;}
.nav.nav-tabs.nav-underline .nav-item a.nav-link {font-size: 14px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 16px;border: 0;padding: 20px 20px 20px 20px;-webkit-transition: color 0.2s;border-bottom-right-radius: 1px;color: #cccccc;text-transform: uppercase;transition: all .3s ease-in-out;font-weight: 500;text-transform: capitalize;width: 170px;border-bottom: 1px solid #cccccc;text-transform: uppercase;}
.nav.nav-tabs.nav-underline .nav-item a.nav-link:hover,.nav.nav-tabs.nav-underline .nav-item a.nav-link:focus {background: white;color: #a40000 !important;border-bottom: 2px solid #a40000 !important;}
 ul.nav.nav-tabs.nav-underline {margin: 90px 0 40px 0;border: 0;}
.dealer-profile .dealer-bottom .card h3 {/* margin: 50px 0 0 0; */}
.dealer-profile .dealer-bottom .card ul h2 {margin: 0 0 0 0;}
.dealer-profile .dealer-bottom .card ul h3 {margin: 0 0 0 0;}
.dealer-profile .dealer-bottom .card ul {margin: 20px 0 0 0 !important;}
.dealer-profile .dealer-bottom .card a.visit {margin: 0;display: inline-block;padding: 11px 40px;}
.dealer-profile .dealer-bottom .card a {margin: 0 0 10px 0;}
.dealer-profile .dealer-bottom .card {}
.dealer-profile .dealer-bottom {margin: 0 0 50px 0;}
.dealer-profile .contact-detail {padding: 40px 30px 40px 30px;box-shadow: 0 0 20px 0 rgb(0,0,0,.3);border-radius: 10px;}
.dealer-profile .contact-detail h4 {margin: 0 0 20px 0;font-size: 20px;color: black;font-weight: 600;text-transform: uppercase;}
.dealer-profile .contact-detail ul {margin: 30px 0 0 0;}
.dealer-profile .contact-detail ul a {margin: 0 0 10px 0;font-size: 14px;color: #666666;position: relative;}
.dealer-profile .contact-detail ul li {display: block;position: relative;padding: 0 0 0 25px;}
.dealer-profile .contact-detail ul a i {width: 20px;text-align: center;color: #666666;margin: 0 5px 0 0;}
.dealer-profile .overview h2 {margin: 60px 0 0 0;font-size: 20px;color: black;font-weight: 600;text-transform: capitalize;}
.dealer-profile .overview p {margin: 20px 0 40px 0;padding: 0 0 0;line-height: 25px;color: #666666;font-size: 14px;}
.dealer-profile .contact-detail a.chat {background: #a40000;color: white;border-radius: 50px;font-weight: 400;text-transform: uppercase;text-align: center;font-size: 13px;padding: 14px 40px;margin: 20px 0 0 0;}
.dealer-profile .contact-detail a.chat:hover {background: #760000;}
.dealer-profile .contact-detail ul li:nth-child(1):before {position: absolute;left: 0;font-family: "Font Awesome 5 Free";font-weight: 900;content: "\f3c5";color: #666666;width: 20px;text-align: center;}
.dealer-profile .contact-detail ul li:nth-child(2):before {position: absolute;left: 0;font-family: "Font Awesome 5 Free";font-weight: 900;content: "\f276";color: #666666;width: 20px;text-align: center;}
.dealer-profile .contact-detail ul li:nth-child(3):before {position: absolute;left: 0;font-family: "Font Awesome 5 Free";font-weight: 900;content: "\f095";width: 20px;text-align: center;color: #666666;}
.dealer-profile .contact-detail ul li:nth-child(4):before {position: absolute;left: 0;font-family: "Font Awesome 5 Free";font-weight: 900;content: "\f0e0";color: #666666;width: 20px;text-align: center;}
.dealer-profile .contact-detail ul li:hover{cursor:pointer;}
.dealer-profile .contact-detail ul li:hover:before{color:black;}
.dealer-profile .dealer-middle {margin: 60px 0 60px 0;}
.dealer-review h2 {float: left;margin: -3px 10px 0 0;font-size: 20px;color: black;font-weight: 600;text-transform: capitalize;}
ul.rating {margin: 3px 0 0 0;}
.dealer-review .review {padding: 30px 0;border-bottom: 1px solid #ebebeb;}
.dealer-review .review img {width: 45px !important;height: 45px;border-radius: 100%;margin: 0 20px 0 0;}
.dealer-review .review h3 {font-size: 15px;color: black;font-weight: 600;text-transform: capitalize;}
.dealer-review .review h3 span {color: #666666;font-size: 14px;font-weight: 400;margin: 0 0 0 20px;}
.dealer-review .review ul.rating {margin: 10px 0 0 0;}
.dealer-review .review p {margin: 15px 0 0 0;font-size: 14px;color: #666666;font-weight: 400;line-height: 25px;}
.dealer-review .review:last-child {border-bottom: 1px solid #ebebeb;}
ul.rating.top-rating {margin: 0 0 0 0;border-bottom: 1px solid #ebebeb;padding: 0 0 30px 0;}
.dealer-review .bottom-rating {margin: 55px 0 0 0;}
.dealer-review .bottom-rating textarea {margin: 20px 0 0 0;border-radius: 20px;height: 230px;padding: 15px 30px;color: black;font-weight: 600;}
.dealer-review .bottom-rating textarea::placeholder {color: #7d7d7d !important;text-transform:capitalize;} 
.dealer-review .bottom-rating .rating {margin: 0 0 10px 0;}
.dealer-review button {background: #a40000;color: white;font-size: 16px;padding: 18px 55px;font-weight: 600;text-transform: uppercase;border-radius: 100px;margin: 30px 0 0 0;border: 0;}
.dealer-review button:hover {background: #D90404;}

 

/*================================ dealer profile page end here ===================================*/
/*================================ listing page start here ===================================*/

.my-listing .total-ads .card h3 {margin: 0 0 0;}
.my-listing .total-ads .card ul {margin: 0 0 0 0;text-align: right;} 
.my-listing .card {margin: 0 0 40px 0;}
.my-listing .total-ads .card ul li {font-size: 16px;text-transform: capitalize;padding: 12px 22px;border-radius: 5px;background: #10369f;color: white;}
.my-listing .total-ads .card ul li+li {background: white;color: black;}
.total-ads .dealer-bottom .card h2 {margin: 20px 0 15px 0;}
.total-ads .dealer-bottom .card .d-sm-flex h2 {margin: 0;}
.pending-ad .car-for-sale .dealer-bottom h2 {font-size: 14px;margin: 0 0 10px 10px;text-transform: capitalize;}
.pending-ad .car-for-sale .dealer-bottom select {font-size: 14px;margin: 0 0 60px 0;}
.pending-ad .car-for-sale .dealer-bottom .card {margin: 0 0 20px 0;}
.pending-ad .car-for-sale .dealer-bottom .card h2 {font-size: 18px;margin: 30px 0 10px 0;}
.pending-ad .car-for-sale .dealer-bottom .btn-group button {padding: 0;background: transparent;margin: 0 0 0 40px;outline: none;}
.pending-ad .car-for-sale .dealer-bottom button i {margin: 0;color: #a3a3a3;}
.pending-ad .car-for-sale .dealer-bottom .dropdown-menu.show {padding: 0;background: white;border: 0;box-shadow: 0 0 10px 0 rgb(0,0,0,.1);}
.pending-ad .car-for-sale .dealer-bottom .dropdown-menu.show a {color: #666666;font-size: 11px;text-transform: uppercase;font-weight: 400;padding: 0 10px 10px 20px;margin: 10px 0 0 0;transition: all .3s ease-in-out;}
.pending-ad .car-for-sale .dealer-bottom .dropdown-menu.show a i {font-size: 11px;margin: 0 5px 0 0;color: #666666;}
.pending-ad .car-for-sale .dealer-bottom .dropdown-menu.show a:hover,.pending-ad .car-for-sale .dealer-bottom .dropdown-menu.show a:hover i {color: #a40000;}
.pending-ad .car-for-sale .all-cars .card:hover {transform: scale(1);}
.pending-ad .car-for-sale .dealer-bottom .btn-group button:focus {box-shadow: none;}
.pending-ad .pending-ad .car-for-sale .dealer-bottom h2 .card .d-sm-flex h2 {font-size: 30px;color: #a40000;margin: 0;font-weight: 600;}
.pending-ad .car-for-sale .dealer-bottom .card .d-sm-block h2 {font-size: 30px;color: #a40000;margin: 0;font-weight: 600;}
.pending-ad .car-for-sale .card .d-sm-flex h2 {font-size: 30px;color: #a40000;margin: 0;font-weight: 600;}.delete-modal {text-align: center;}
.delete-modal h2 {font-size: 20px;text-transform: capitalize;margin: 0 0 0 0;}
.delete-modal button {border: 0;margin: 20px 10px;border-radius: 100px;padding: 10px 40px;text-transform: capitalize;background: #a40000;color: white;}
.delete-modal button:hover {background: #D90404;}



/*================================ listing page end here ===================================*/

.my-wishlist .card {margin: 0 0 30px 0;}
.my-wishlist .dealer-bottom .card ul li {font-size: 16px;text-transform: capitalize;border-radius: 5px;}
.my-wishlist .dealer-bottom .card ul {margin: 0 0 0 0;text-align: right;}
.my-wishlist .dealer-bottom .card ul li.fe {background: #10369f;color: white;padding: 12px 22px;margin: 0 10px 0 0;}
.my-wishlist .dealer-bottom .card h2 {margin: 0 0 10px 0;}
.my-wishlist .dealer-bottom i {margin: 0;font-size: 20px;text-align: right;display: block;}
.my-wishlist .dealer-bottom p {margin: 10px 0 0 0;}
.my-wishlist .dealer-bottom button i {display: inline;color: white;font-size: 15px;margin: 0 5px 0 0;}
.my-wishlist .dealer-bottom .d-md-flex button {border: 0;width: 200px;border-radius: 100px;color: white;background: #a40000;padding: 10px 0;font-size: 15px;margin: 30px 0 0 0;}
.my-wishlist .dealer-bottom .d-md-flex button:hover {background: #760000;}
.active-ad-second .package-main {padding: 50px 60px;}
.active-ad-second .modal-dialog {max-width: 1120px !important;}
.active-ad-second .package-box {border: 1px solid #ebebeb;border-radius: 10px;text-align: center;}
.active-ad-second .package-box .top {background: #a40000;padding: 35px;}
.active-ad-second .package-box .top h1 {color: white;font-size: 30px;font-weight: 700;text-transform: uppercase;}
.modal.active-ad-second .package-box .top h2 {font-size: 16px;margin: 5px 0 0 0;text-transform: uppercase;color: white;font-weight: 400;}
.modal.active-ad-second .package-box .bottom {padding: 30px;}
.modal.active-ad-second .package-box .bottom h3 {font-size: 40px;color: #000000;font-weight: 700;margin: 0 0 50px 0;}
.modal.active-ad-second .package-box .bottom h3 sub {font-size: 20px;}
.modal.active-ad-second .package-box .bottom p {margin: 0 0 12px 0;color: #666666;font-size: 16px;}
.modal.active-ad-second {overflow-y: scroll;}
.modal.active-ad-second .package-box .bottom button {margin: 30px 0 0 0;background: #0a0a3e;color: white;text-transform: uppercase;padding: 20px;border-radius: 50px;border: 0;font-weight: 500;}
.modal.active-ad-second .package-box .bottom button:hover {background: #1a1a8e;}


/*================================ index page start here ===================================*/


/*header start here*/

.header-area{background: url("../images/header-bg.png") no-repeat;-webkit-background-size: cover;background-size: cover;background-position: top center;padding: 150px 0 30px 0;position: relative;}
.header-area h1 {color: white;margin: 90px 0 0 0;font-family: 'Orbitron', sans-serif;font-weight: 700;font-size: 100px;text-transform: uppercase;line-height: 110px;} 
.header-area-top img {margin: 0 0 0 0;}
.header-area h2 {margin: 10px 0 0 0;color: white;letter-spacing: 10px;text-transform: uppercase;font-family: 'Orbitron', sans-serif;font-weight: 600;}
.header-area a.read-btn {padding: 16px 50px;margin: 30px 20px 0 0;}
.header-area i {background: white;text-align: center;padding: 15px 15px 15px 18px;border-radius: 100px;border: 5px solid #414782;font-size: 15px;color: #131661;transition: all .3s ease;}
.header-area i:hover {background: #a40000;color: white;border-color: #5a0404;}
.bottom-slider .car-slider img {width: 100%;border-radius: 10px;}
.bottom-slider .car-slider item {position: relative;}
.bottom-slider .car-slider item i {}
.bottom-slider .car-slider .item {position: relative;margin: 0 20px 0 0;}
.bottom-slider .car-slider .item i {position: absolute;right: -10px;bottom: -15px;padding: 18px;color: white;border: 0;font-size: 10px;background: #ef1d28;}
#home14 .owl-stage-outer {padding: 0 0 20px 0;}
#home14 .owl-dots.disabled {display: none !important;}
.header-area .car-slider {margin: 80px 0 0 0;}
/*header end here*/


/*about start here*/
.about{padding: 80px 0;background: url("../images/about-banner.png") no-repeat;-webkit-background-size: cover;
background-size: cover;background-position: top center;}
.about h2{position: relative;font-family: 'Orbitron', sans-serif;font-size: 40px;color: #fcfcfc;padding: 22px 0 0 0;font-weight: 700;text-transform: uppercase;}
.about h2:before{content: '';height: 65px; width: 100%; background: url("../images/about-b.png") no-repeat; position: absolute;left: 0;right: 0;text-align: center;font-size: 80px;text-transform: uppercase;color: #3c4051;font-weight: 700;top: 0; }
.about-middle {margin: 60px 0 0 0;}
.about-middle .box {margin: 40px 0 0 0;}

.about-middle .box h3 {color: white;font-weight: 500;font-size: 30px;}
.about-middle .box img {margin: 0 20px 0 0;}
.about-middle .box h4 {color: white;font-size: 14px;font-weight: 300;}
.about-bottom .call {background: white;border-radius: 100px;position: relative;padding: 20px 55px;margin: 65px 0 0 0;}
.about-bottom .call img {position: absolute;left: 0;right: 0;margin: 0 auto;top: -25px;}
.about-bottom .call p {margin: 0;font-size: 14px;text-transform: uppercase;color: #2c2c2c;font-weight: 500;}
.about-bottom .call a.call-btn {font-size: 14px;color: #2c2c2c;font-weight: 500;}
.about-bottom .call a.read-btn {background: red;}
.about-bottom a.read-btn {padding: 12px 55px;margin: 45px 0 0 0;}
.about-bottom {}
.read-btn:hover {background: #5f0000;}
.read-btn {background: #a40000;color: white;font-size: 15px;text-transform: uppercase;font-weight: 500;border-radius: 100px;}
.about-bottom .call a.call-btn:hover {color: #a40000;}
/*about end here*/



/*vehicle start here*/

.vehicle{padding: 100px 0;}
.vehicle h2{position: relative;font-family: 'Orbitron', sans-serif;font-size: 40px;color: #000000;padding: 22px 0 0 0;font-weight: 700;text-transform: uppercase;}
.vehicle h2:before{content: '';height: 65px;width: 100%;background: url("../images/fe.png") no-repeat;position: absolute;left: 0;right: 0;text-align: center;font-size: 80px;text-transform: uppercase;color: #e5e5e5;font-weight: 700;top: 0;opacity: 0.6;background-position: top center;}
.vehicle .box {border: 1px solid #e7e7e7;margin: 60px 0 0 0;transition: all .3s ease-in-out;background: white;cursor: pointer;}
.vehicle .box-top {margin: 70px 0 0 0;padding: 10px;}
.vehicle .box-top img {height: 154px;width: 100%;object-fit: contain;}
.vehicle .box-top a {margin: 55px 0 0 0;padding: 10px 55px;}
.vehicle .box:hover {box-shadow: 0 0 20px 0 rgb(0,0,0,.1);}
.vehicle .box h3 {margin: 20px 0 0 0;text-transform: capitalize;color: #2c2c2c;font-size: 15px;font-weight: 600;}
.vehicle .box .box-bottom {margin: 30px 0 0 0;border-top: 1px solid #e7e7e7;padding: 20px 30px 30px 30px;}
.vehicle .box .box-bottom p {margin: 0 0 0 0;font-size: 14px;color: #666666;text-transform: capitalize;}
.vehicle a.bottom {margin: 60px 0 0 0;padding: 13px 52px 14px 52px;}
.vehicle ul.nav {display: block;margin: 75px 0 0 0 !important;}
.vehicle ul.nav li {display: inline-block;margin: 0px 15px;}
.vehicle ul.nav li a:hover, .vehicle ul.nav li a.active {color: #a40000;}
.vehicle ul.nav li a {color: #2c2c2c;font-size: 14px;font-weight: 600;margin: 15px 0 0 0;}

/*vehicle end here*/


/*testimonial start here*/


.testimonial{background: url("../images/testi.png") no-repeat;-webkit-background-size: cover;
background-size: cover;background-position: top center;padding: 90px 0;}
.testimonial h2{position: relative;font-family: 'Orbitron', sans-serif;font-size: 40px;color: white;padding: 22px 0 0 0;font-weight: 700;text-transform: uppercase;}
.testimonial h2:before{content: '';height: 65px;width: 100%;background: url("../images/te.png") no-repeat;position: absolute;left: 0;right: 0;text-align: center;font-size: 80px;text-transform: uppercase;color: #a12b28;font-weight: 700;background-position: top center;top: 0;opacity: 0.6;}
.testimonial .slider{margin: 70px 0 0 0;}
.testimonial img{}
.testimonial i{color:white;font-size: 30px;}
.testimonial p{color:white;font-size: 16px;line-height: 25px;width: 70%;margin: 30px auto 0 auto;}
.testimonial h3{color:white;margin: 40px 0 0 0;font-weight: 600;font-size: 16px;text-transform: uppercase;}
.testimonial h4{color:white;font-size: 13px;text-transform: capitalize;font-weight: 300;margin: 5px 0 0 0;}
.testimonial .owl-dots {margin: 20px 0 0 0 !important;}
.testimonial .owl-dots button span {width: 15px !important;height: 15px !important;}
.testimonial .owl-dots button{outline: none;}
.testimonial .owl-dots button.active span,.testimonial .owl-dots button:hover span {background:#c27e7c !important;outline: none;}
 
/*testimonial end here*/

/*news start here*/
 
.news{padding: 100px 0;}
.news h2{position: relative;font-family: 'Orbitron', sans-serif;font-size: 40px;color: #000000;padding: 22px 0 0 0;font-weight: 700;text-transform: uppercase;}
.news h2:before{content: '';height: 65px;width: 100%;background: url("../images/ne.png") no-repeat;position: absolute;left: 0;right: 0;text-align: center;font-size: 80px;text-transform: uppercase;color: #e5e5e5;font-weight: 700;top: 0;opacity: 0.6;background-position: top center;}
.news .box {box-shadow: 0 0 20px 0 rgb(0,0,0,.3);margin: 80px 0 0 0;padding: 30px;position: relative;}
.news .box img {width: 100%;height: 240px;}
.news .box .badge {position: absolute;left: 0;background: #a40000;border-radius: 0;padding: 16px 10px;}
.news .box .badge p {color: white;text-transform: uppercase;margin: 0;font-size: 15px;line-height: 15px;}
.news .box h3 {margin: 25px 0 0 0;text-transform: uppercase;font-weight: 600;font-size: 14px;line-height: 20px;}
.news .box p {margin: 45px 0 0 0;color: #666666;font-size: 14px;line-height: 25px;}
.news .box a {margin: 40px 0 0 0;font-size: 14px;color: #a40000;text-transform: uppercase;font-weight: 600;padding: 0;}
.news .box a:hover {color: black;}
.news a {margin: 60px 0 0 0;padding: 13px 55px 14px 55px;}
/*news end here*/

/*logos start here*/
.logos img {width: 111px;height: 66px;margin: 20px 20px 0 0;}
.logos {background: #f1f1f1;padding: 40px 0px 60px 0px;}
/*logos end here*/



/*search vehicle start here*/

.search-vehicle {background: #a40000;padding: 60px 0 100px 0;}
.search-vehicle h2 {color: white;font-size: 40px;font-weight: 700;font-family: 'Orbitron', sans-serif;text-transform: uppercase;}
.search-vehicle h3 {font-family: 'Orbitron', sans-serif;color: white;margin: 30px 0 0 0;font-weight: 700;letter-spacing: 12px;font-size: 16px;text-transform: uppercase;line-height: 25px;}
.search-vehicle .search-box {position: absolute;left: 0;right: 0;top: 116px;padding: 30px;z-index: 9999;background: #0a0a3e;}
.search-vehicle-inner {position: relative;}
.search-vehicle .form-control {border: 0px !important;border-radius: 0 !important;width: 200px;outline: none;box-shadow: none;padding: 0;height: 50px;margin: 0 !important;}
.search-vehicle label {color: white;font-size: 12px;text-transform: uppercase;margin: 0 0 10px 0;}
.search-vehicle i.gj-icon {top: 10px !important;}
.search-vehicle button {color: white;text-transform: uppercase;border: 0;font-size: 12px;width: 100px;height: 50px;margin: 25px 0 0 0;border-radius: 0;}
.search-vehicle .form-group {margin: 0;}
.header-area .left img {position: absolute;bottom: -90px;}


/*search vehicle end here*/

/*special-offer start here*/


.special-offer{padding: 168px 0 95px 0;}
.special-offer h2{position: relative;font-family: 'Orbitron', sans-serif;font-size: 40px;color: #000000;padding: 22px 0 0 0;font-weight: 700;text-transform: uppercase;}
.special-offer h2:before{content: '';height: 65px;width: 100%;background: url("../images/special.png") no-repeat;position: absolute;left: 0;right: 0;text-align: center;font-size: 80px;text-transform: uppercase;color: #e5e5e5;font-weight: 700;top: 0;opacity: 0.6;background-position: top center;}
#special-car ul.tabs li.active, #special-car ul.tabs li:hover {border-radius: 5px;opacity: 1;}
.special-car-main ul.owl2-carousel.tabs li a img {width: 100%;}
.special-car-main ul.owl2-carousel.tabs .owl2-carousel_tabs_img {height: 95px;display: flex;align-items: center;width: 165px;}
.special-car-main ul.tabs li {border: none;border-bottom: none;float: left;margin: 0 0 0 0;padding: 0;transition-duration: .3s;opacity: .5;}
#special-car ul.tabs li.active a {color: white;}
.special-car-main ul.tabs li a {color: #fff;text-decoration: none;font-size: 12.1px;text-align: center;float: left;text-transform: uppercase;}
ul.owl-carousel.owl2-carousel.tabs .owl-carousel .owl-dots.disabled,ul.owl-carousel.owl2-carousel.tabs  .owl-carousel .owl-nav.disabled {display: block;}
#special-car .owl-carousel .owl-dots.disabled, #special-car .owl-carousel .owl-nav.disabled {display: block;}
#special-car .owl-nav button span {position: absolute;top: 25px;z-index: 99999;background: #999c9d;height: 30px;width: 30px;color: white;font-size: 20px;border-radius: 100px;border: 0;padding: 4px 0 0 2px;}
#special-car .owl-nav button.owl-prev span {left: -40px;}
#special-car .owl-nav button.owl-next span {right: -40px;}
.special-car-main .article_box {margin: 80px 0 0 0;}
.special-car-main .article_box img {height: 260px;width: 100%;}
.special-car-main {margin: 80px 0 0 0;}
.special-car-main h3 {font-size: 20px;color: #000000;font-weight: 700;font-family: 'Orbitron', sans-serif;}
.special-car-main ul.rating {margin: 30px 0 0 0;}
.special-car-main ul.rating li {display: inline-block;color: #e5e5e5;font-size: 11px;cursor: pointer;transition: all .3s ease;}
.special-car-main ul.rating h4 {display: inline-block;text-transform: uppercase;font-size: 15px;color: #000000;margin: 0 5px 0 0;font-weight: 500;}
.special-car-main ul.rating li.active,.special-car-main ul.rating li:hover {color: #a40000;}
.special-car-main p {font-size: 14px;color: #666666;line-height: 25px;margin: 30px 0 0 0;}
.special-car-main ul.make li {display: inline-block;font-size: 14px;margin: 0 17px 0 0;color: #666666;}
.special-car-main ul.make {margin: 40px 0 0 0;}
.special-car-main a.read-btn {padding: 12px 55px;margin: 30px 0 0 0;text-transform: uppercase;}
.special-car-main a.read-btn:hover {color: white;}
.header-area div#home11 .owl-dots {text-align: left;transform: rotate(90deg);margin: 0;position: absolute;left: -170px;top: 180px;}
.header-area div#home11 .owl-dots button {width: 50px;height: 50px;border: 2px solid transparent;border-radius: 100px;padding: 0 0 0 14px !important;outline: none;}
.header-area div#home11 .owl-dots button span {width: 4px;height: 4px;color: white;}
.header-area div#home11 .owl-dots button.active,.header-area div#home11 .owl-dots button:hover {border: 2px solid white;}
.header-area div#home11  .owl-dots .owl-dot.active span, .header-area div#home11 .owl-dots .owl-dot:hover span {background: white !important;}
/*special-offer end here*/


/*================================ index page end here ===================================*/

/*======================= custom checkbox  css start here==============*/

/* The container */
.checkcontainer {display: block;position: relative;padding-left: 45px;margin-bottom: 10px;padding-top: 2px;cursor: pointer;font-family: 'Poppins', sans-serif;font-size: 15px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
/* Hide the browser's default checkbox */
.checkcontainer input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
/* Create a custom checkbox */
.checkboxcheckmark {position: absolute;top: 2px;left: 20px;height: 15px;width: 15px;border: 1px solid #dfdfdf;border-radius: 2px;background-color: #fff;}
/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkboxcheckmark {background-color: #fff;}
/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkboxcheckmark {background-color: #2196F3;border: unset;}
/* Create the checkmark/indicator (hidden when not checked) */
.checkboxcheckmark:after {content: "";position: absolute;display: none;}
/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkboxcheckmark:after {display: block;}
/* Style the checkmark/indicator */
.checkcontainer .checkboxcheckmark:after {left: 5px;top: 1px;width: 5px;height: 11px;
 border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}

/*======================= custom checkbox  css end here==============*/

/*======================= dealer account information start here==============*/

.attached {width: 150px;height: 150px;position: relative;margin: 50px auto;}
.attached img {width: 150px;height: 150px;border-radius: 100%;} 
button.change-cover {width: 35px;height: 35px;text-align: center;font-size: 15px;border: 2px solid #fff;border-radius: 50%;color: #fff;position: absolute;padding: 0px 0 0 1px;right: 0;bottom: 0;background: #a40000;}
button.change-cover:hover{background: #760000;}
.attached i {position: initial;color: white;}
.dealer-account h2{color: #000000;font-size: 40px;font-weight: 600;text-transform: capitalize;text-align: center;}
.dealer-account .register-main button:hover {background: #760000;color: white;}
.dealer-account .register-main button {margin: 0;}
.dealer-account .register-main p {text-align: center;margin: 40px 0;font-size: 14px;color: #666666;line-height: 20px;}

/*======================= dealer account information end here==============*/

/*======================= d-edit-ad detail start here==============*/

.edit-ad-detail {}
.edit-ad-detail h2 {margin: 30px 0 0 0;padding: 60px 0;}
.edit-ad-detail img {width: 100%;border-radius: 10px;}
.edit-ad-detail button.change-cover {height: 100%;display: table-cell;margin: 0;padding: 0;background: white;outline: none;}
.edit-ad-detail .upload-pic {display: inline;}
.edit-ad-detail i {margin: 0 !important;padding: 0;font-size: 60px;color: #3acc26;}
.edit-ad-detail button.red {margin: 60px 0 0 0;padding: 18px 113px;border: 0px;background: #a40000;font-size: 14px;border-radius: 100px;color: white;text-transform: uppercase;}
.edit-ad-detail button.red:hover {background: #760000;}


/*======================= d-edit-ad detail end here==============*/

/*======================= Dealer profile start here==============*/


.dealer-profile h2 {font-size: 40px;color: #000000;font-weight: 600;text-transform: capitalize;float: none;margin: 0 10px 0 0;line-height: 50px;}
.dealer-profile p {margin: 20px 0 0 0;font-size: 16px;color: #666666;line-height: 20px;}
.dealer-profile a.red {margin: 20px 0 0 20px;display: inline-block;width: 270px !important;font-size: 15px;text-align: center;padding: 17px 0 20px 0;text-transform: capitalize;font-weight: 500;}
.dealer-profile .dealer-box-main {border-radius: 10px;box-shadow: 0 0 10px 0 rgb(0,0,0,.1);margin: 113px 0 0 0;padding: 84px 30px 30px 30px;position: relative;}
.dealer-profile .top img {width: 135px;height: 135px;border-radius: 100%;border: 4px solid #ebebeb;position: absolute;top: -60px;left: 0;right: 0;margin: 0 auto;}
.dealer-profile .top {text-align: center;}
.dealer-profile .top h3 {margin: 30px 0 0 0;color: #000000;font-size: 30px;font-weight: 600;}
.dealer-profile .dealer-box-main .top a {margin: 0;width: auto !important;position: absolute;top: 30px;right: 30px;padding: 10px 23px;}
.dealer-box-main h3 {margin: 30px 0 0 0;color: #000000;font-weight: 600;font-size: 20px;text-transform: capitalize;line-height: 25px;}
.dealer-box-main .middle {margin: 75px 0 0 0;}
.dealer-box-main .middle p {margin: 20px 0 0 0;font-size: 16px;color: #666666;line-height: 25px;}
.dealer-box-main .middle img {display: inline-block;width: 70px;height: 70px;margin: 30px 10px 0 0;border-radius: 5px;}
.dealer-box-main .bottom h3 {margin: 30px 10px 0 0;}
.dealer-box-main .bottom ul li {display: inline-block;color: #d3d3d3;font-size: 14px;}
.dealer-box-main .bottom .media ul {float: none;display: block;}
.dealer-box-main .bottom .media li {float: none;margin: 8px 0 0 0;}
.dealer-box-main .bottom {margin: 30px 0 0 0;}
.dealer-box-main .bottom ul li.active {color: #fcc51c;}
.dealer-box-main .media {margin: 30px 0 0 0;padding: 30px 0;border-top: 1px solid #ebebeb;}
.dealer-box-main .media img {margin: 0 20px 0 0;width: 30px;height: 30px;border-radius: 100%;}
.dealer-box-main .media h4 {font-size: 15px;color: #333333;font-weight: 600;text-transform: capitalize;}
.dealer-box-main .media p {margin: 20px 0 0 0;color: #666666;font-size: 14px;line-height: 20px;}



/*======================= Dealer profile end here==============*/


/*======================= d-car-for-sale detail start here==============*/

.d-car-for .box p:last-child {margin: 8px 0 0 0;}


/*======================= d-car-for-sale detail end here==============*/

/*======================= d-car-for-sale start here==============*/

.d-car .dealer-middle .box-bottom h3 {font-size: 22px;font-weight: 500;}
.d-car .dealer-middle .box-bottom p {font-weight: 500;}
.d-car a.red.load-more {margin: 80px 0 0 0;padding: 17px 50px;text-transform: uppercase;font-size: 13px;font-weight: 500;}
.d-car a.red.load-more:hover {color: white;}

	

/*======================= d-car-for-sale end here==============*/


/*======================= notification start here==============*/

.notification h2 {margin: 0 0 20px 0;font-size: 40px;font-weight: 600;text-transform: capitalize;}
.notification .top {background: #f5f5f5;padding: 30px 50px 20px 50px;}
.notification .box {box-shadow: 0 0 10px 0 rgb(0,0,0,.1);border-radius: 10px;margin: 20px 0 0 0;}
.notification .top h3 {font-size: 22px;color: #b20303;font-weight: 600;}
.notification .top p {margin: 0 0 0 0;color: white;padding: 6px 17px;background: #b20303;border-radius: 5px;font-size: 13px;text-transform: uppercase;display: inline-block;}
.notification .bottom {padding: 40px 50px 40px 50px;}
.notification .bottom i {width: 50px;height: 50px;border-radius: 100%;text-align: center;background: #0f1058;color: white;padding: 18px 0 0 1px;font-size: 16px;margin: 0 20px 0 0;}
.notification .bottom p {margin: 0 0 0 0;font-size: 20px;font-weight: 300;color: #333333;}
.notification .bottom h6 {font-size: 16px;font-weight: 300;color: #999999;min-width: 150px;text-align: right;}
.d-ad-re.rejected-ad .detail h4 {margin: 60px 0 0 0;}
.rejected-ad.d-ad-re .right .status button {background: #a40000;}
.rejected-ad.d-ad-re .right .status button:hover {background: #760000;}
.rejected-ad.d-ad-re .box.seller-info a {padding: 12px 20px 11px 20px;}

/*======================= notification end here==============*/


/*=======================dealer car start here==============*/

section.dealer-profile.d-dealer-car .car-for-sale .dealer-bottom .card h2 {margin: 20px 0 10px 0;}
section.dealer-profile.d-dealer-car .car-for-sale .card .d-sm-flex h2 {margin: 0;}
section.dealer-profile.d-dealer-car .car-for-sale .dealer-bottom .card h4 {margin: 20px 0 10px 0;}
section.dealer-profile.d-dealer-car .car-for-sale .dealer-bottom .card h3 {margin: 0 0 0 0;}
section.dealer-profile.d-dealer-car .dealer-middle .box-bottom p {font-weight: 600;font-size: 18px;text-transform: uppercase;color: black;}
.d-edit button.red {margin: 30px 0 0 0;padding: 18px 40px;border: 0;text-transform: capitalize;}
.d-edit textarea {height: 170px;padding: 20px;margin: 20px 0 0 0;color: black !important;font-weight: 300;}
.d-edit textarea::placeholder {color: #666666 !important;}
.d-dealer-car .review:last-child {border: 0;}
/*=======================dealer car end here==============*/

/*=======================dealer edit car start here==============*/
 

.d-edit .upload-pic {position: initial;}
.d-edit ul li {display: inline-block;margin: 30px 10px 0 0;width: 70px;height: 70px;}
.d-edit ul li:last-child {margin: 30px 0 0 0;}
.d-edit .middle img {display: block;width: 100%;margin: 0 0 0  0;}
.d-edit ul li button.upload-cover {height: 70px;width: 100%;background: #00002d;color: white;border: 0;border-radius: 5px;}
.d-edit ul li button.upload-cover i {font-size: 26px;color: #6ef85f;}
.d-edit ul {display: flex;}

/*=======================dealer edit car end here==============*/

.d-featured-pro .payment-detail p {margin: 10px 0 0 0;font-size: 16px;font-weight: 500;}
.d-featured-pro .payment-detail h3 {margin: 10px 0 0 0;}
.payment-detail .check {font-size: 16px;font-weight: 500;}
.featured-pro h2 {font-size: 30px;margin: 0;}
.featured-pro h5 {font-size: 16px;margin: 10px 0 0 0;font-weight: 500;text-transform: capitalize;}
.featured-pro h3 {font-size: 25px;color: #0a0a3e;text-transform: capitalize;margin: 20px 0 0 0;}
.featured-pro h4 {font-size: 18px;font-weight: 600;margin: 20px 0;text-transform: capitalize;}
.featured-pro h6 {margin: 23px 0 20px 0;font-size: 16px;color: #666;font-weight: 500;}
.dealer-profile.featured-pro .payment-detail a {margin: 10px 0 20px 0;width: 170px !important;font-size: 13px;text-transform: uppercase;font-weight: 500;padding: 15px 0 15px 0;}

/*======================= change package start here==============*/

.change-package-main{}
.change-package{text-align: center;box-shadow: 0 0 20px 0 rgb(0,0,0,.3);padding: 100px 100px 60px 100px;border-radius: 10px;}
.change-package h2 {font-weight: 600;color: black;font-size: 40px;text-transform: capitalize;}
.change-package h3 {font-weight: 500;font-size: 20px;color: #666666;margin: 30px 0 0 0;}
.change-package .box {margin: 30px 0 0 0;border: 1px solid #ebebeb;}
.change-package .box-middle {padding: 30px 20px;}
.change-package .box h2 {background: #a40000;padding: 20px;color: white;font-size: 16px;font-weight: 500;text-transform: uppercase;}
.change-package .box-middle h3 {margin: 0;font-size: 40px;font-weight: 700;color: #000000;}
.change-package .box-middle h3 sub {font-size: 20px;bottom: 0;}
.change-package .box-middle h4 {font-size: 20px;color: #0a0a3e;font-weight: 700;}
.change-package .box-middle p {margin: 30px 0 0 0;font-size: 16px;color: #666666;font-weight: 400;line-height: 25px;}
.change-package .box-middle button {margin: 20px 0 0 0;padding: 20px 0 20px 0;text-transform: uppercase;font-weight: 500;font-size: 16px;background: #0a0a3e;}
.change-package .box-middle button:hover {background: #101079;}
.change-package .box-middle button:focus {color: white;background: #101079;}
.change-package a {margin: 40px 0 0 0;padding: 20px 0;font-weight: 600;text-transform: uppercase;}



/*======================= change package end here==============*/



/*================================ login page start here ===================================*/

 

/*check box start here*/

.login-check {display: block;position: relative;padding-left: 35px;margin-bottom: 0;margin-top: 1px  !important;cursor: pointer;font-size: 14px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;font-family: 'Play', sans-serif;color: #999999;}

/* Hide the browser's default checkbox */
.login-check input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
/* Create a custom checkbox */
.login-check .checkmark {position: absolute;top: -4px;left: 6px;height: 20px;width: 20px;border: 1px solid #e1e1e1;border-radius: 3px !important;}
img.log-car {position: absolute;z-index: 999;bottom: 180px;}
/* On mouse-over, add a grey background color */


/* When the checkbox is checked, add a blue background */
.login-check input:checked ~ .checkmark {}

/* Create the checkmark/indicator (hidden when not checked) */
.login-check .checkmark:after {content: "";position: absolute;display: none;}

/* Show the checkmark when checked */
.login-check input:checked ~ .checkmark:after {display: block;}
/* Style the checkmark/indicator */
.login-check .checkmark:after {left: 1px;top: 4px;width: 5px;height: 8px;border: solid black;border-width: 0 2px 2px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);right: 0;margin: 0 auto;}

/*check box end here*/
.login-main{background: url("../images/login-banner.png") no-repeat;-webkit-background-size: cover;background-size: cover;padding: 245px 0;position: relative;}
.login-inner{border-radius: 0;border: 30px solid white;background: #eaedfe;}
.login-main .left{height: auto;border-top-left-radius: 20px;border-bottom-left-radius: 20px;}
.login-inner .left{display: flex;align-items: center;justify-content: center;}
.login-inner .right{padding: 0 80px 0 40px;}
.login-inner .right h1{text-align: center;font-weight: 500;text-transform: capitalize;font-size: 40px;color: #a40000;line-height: 50px;}
.login-inner .right ul{list-style-type: none;padding: 0;margin: 50px 40px 0 40px;display: flex;justify-content: space-around;}
.login-inner form  input {font-family: 'Play', sans-serif;font-size: 14px;position: relative;}
.login-inner form input[type="email"] {margin: 30px 0 0 0;}
.login-inner form .form-group input {height: 50px;border-radius: 100px;position: relative;padding: 0 20px 0 40px !important;color: black;}
.login-inner form .form-group i {position: absolute;top: 49px;left: 33px;font-size: 14px;color: black;width: 20px;}
input.form-control::placeholder {color: #999999;}
.login-inner form i.fa.fa-lock {top: 18px;left: 36px;}
.login-inner a.forgot {margin: 0;display: inline-block;font-size: 14px;text-decoration: underline !important;color: #4485c6;}
.login-inner button {border: 0;height: 60px;width: 100%;border-radius: 100px;color: white;font-family: 'Barlow', sans-serif;text-transform: uppercase;font-size: 15px;margin: 40px 0 0 0;outline: none;}
.login-inner button i {margin: 0 0 0 5px;font-size: 15px;}


.login-inner p {margin: 40px 0 0 0;font-size: 14px;color: #666666;}
.forget-pass form button.camera-btn i {margin: 0 0 0 2px !important;}
.attached i {margin: 0px 0 0 4px !important;}
.login-inner a.register {background: #262262;height: 60px;width: 100%;display: inline-block;text-align: center;padding: 22px 0 0 0;font-size: 14px;color: #ffffff;text-transform: uppercase;border-radius: 100px;margin: 33px 0 0 0;}
.login-inner a.register i {margin: 0 0 0 5px;font-size: 15px;}
.login-inner a.register:hover {background: #393498;}
.login-inner button:hover {cursor: pointer;}
.login-fail-main .top h1 {font-weight: 600;}
.login-fail-main {padding: 80px;}
.login-main .modal-content {border-radius: 20px;}
.login-fail-main .top h2 {font-size: 30px;margin: 0;line-height: 30px;color: #bd1e2c;font-weight: 400;}
.login-fail-main .top h3 {color: #666666;font-size: 22px;line-height: 25px;margin: 10px 0 0 0;}
.login-fail-main .box {margin: 60px 0 0 0;text-align: center;background: white;box-shadow: 0 0 20px 0 rgb(0,0,0,.2);padding: 0 0 60px 0;border-radius: 20px;background-image: url(../images/boxborder.png);background-repeat: no-repeat;background-position: bottom center;}
.login-fail-main .box .box-top {background: #bd1e2c;border-radius: 20px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0;}
.login-fail-main .box .box-top h1 {font-size: 30px;color: white;text-transform: capitalize;font-weight: 600;}
.login-fail-main .box-center {background: url(../images/boxx.png) no-repeat;background-size: cover;background-position: 0px -20px;padding: 50px 0 150px 0;text-align: center;}
.login-fail-main .box-center h1 {margin: 0;font-size: 120px;line-height: 125px;}
.login-fail-main .box-center h2 {margin: 10px 0 0 0;font-size: 20px;color: #bd1e2c;line-height: 25px;font-weight: 500;}
.login-fail-main .box-bottom {padding: 0 50px;}
.login-fail-main .box-bottom p {margin: 50px 0 0 0;font-size: 16px;color: #52585b;line-height: 18px;}
.login-fail-main .box a {margin: 40px 0 0 0;display: inline-block;padding: 20px 70px;background: #bd1e2c;border-radius: 100px;color: white;text-transform: uppercase;font-size: 15px;}
.login-fail-main .box a i {font-size: 17px;margin: 0 0 0 4px;}
.login-fail-main .box a:hover {background: #1b1216;}
.login-fail-main .box {transition: all .3s ease-in-out;}
.login-inner button.close {width: 30px;margin: 0;position: absolute;right: 20px;height: 30px;border-radius: 100%;padding: 0;top: 20px;background: #adadad;z-index: 99999;}
.login-inner button.close span {position: absolute;top: 3px;font-size: 25px;right: 7px;}
div#exampleModal {overflow-y: scroll;}
.register-two {overflow-y: scroll;}
.forget-pass p {color: #666666;font-size: 18px;line-height: 35px;margin: 50px 0 0 0;}
.forget-pass h2 {color: #f7941e;font-size: 21px;font-weight: 400;margin: 40px 0 0 0;}
.register-two form button {text-transform: capitalize;height: 50px;}
.register-two form button i {margin: 0 0 0 10px !important;}
.modal {padding: 0 !important;}div#password-modal {overflow-y: scroll;}
.register-two form button.verify {background: #f7941e;}
.register-two form button.verify:hover {background: #b96d12;}
#register-two form,#register-three form {margin: 30px 0 0 0;}
div#exampleModalLong {overflow-y: scroll;}.register-two a {margin: 70px auto 0 auto;}
.login-inner .right h4 {text-align: center;margin: 10px 0 0 0;color: #999999;}


/*forget-pass start here*/


.forget-pass {padding: 70px 30px 40px 30px;}
.forget-pass h1{color: black;font-size: 40px;text-transform: capitalize;font-weight: 600;line-height: 45px;}
.forget-pass form{margin: 60px 0 0 0;}
.forget-pass form .form-group{position: relative;}
.forget-pass form .form-group i{position: absolute;left: 33px !important;color: black;font-size: 14px;top: 18px !important;}
.forget-pass form input{color: black;font-size: 14px;font-weight: 200;}
.forget-pass form input::placeholder{color: #999999;}
.forget-pass form button{margin: 0;font-size: 16px;padding: 0;height: 60px;font-weight: 600;}
.forget-pass a{color: #1b1216;display: block;margin: 40px auto 0 auto;border-bottom: 1px solid #1b1216;text-transform: capitalize;}
.forget-pass a:hover{color: black;}
.forget-pass a i {margin: 0 6px 0 0;position: initial;color: black;}
/*forget-pass end here*/


/*register start here*/

.forget-pass textarea{color: black;font-size: 14px;height: 207px;border-radius: 20px;padding: 13px 40px 0 40px !important;resize: none;}
.forget-pass textarea::placeholder{color: #999999;}
.forget-pass form input[type="email"] {margin: 0 0 0 0;}
.attached i {right: 0px;left: 1px;top: 7px;color: white;}
.attached {width: 150px;margin: 0 auto 40px auto;height: 150px;position: relative;}
#upload {height: 0;width: 0;visibility: hidden; }
.attached img {width: 150px;height: 150px;border-radius: 100%;border: 16px solid #eceaea;}
.camera-btn {width: 35px !important;height: 35px !important;background: #262262 !important;text-align: center;font-size: 14px !important;border: 4px solid #fff !important;position: absolute;right: 0;bottom: 9px;border-radius: 50% !important;color: #fff !important;padding: 0 0 0 0 !important;transition: all .3s ease-in-out;margin: 0 0 0 0 !important;}
.attached i {right: 4px;top: 6px;color: white;position: absolute;}
.next-modal {overflow-y: scroll;scroll-behavior: smooth;}
.forget-pass form button:focus {color: white;}
.bd-example-modal-lg {overflow-y: scroll;}
.forget-pass form button:hover,.forget-pass form button:focus {background: #393498;}
.forget-pass form button i {margin: 0 5px 0 0;}
button.form-control.add-talent {background: #1b1216;}
button.form-control.add-talent:focus {background: black;}
button.form-control.add-talent:hover {background: black;}

/*login and register start here*/

/*================================ login page end here ===================================*/

/*================================ dealer listing page start here ===================================*/

.my-listing .all-cars .card p.text-sm-right {font-size: 18px;color: black;margin: 10px 0 10px 0;text-transform: capitalize;}
.d-listing h2 {font-size: 30px;color: #000000;font-weight: 600;text-transform: capitalize;line-height: 35px;}
.d-listing a.red {padding: 20px 40px;text-transform: capitalize;font-size: 15px;font-weight: 500;}
/*aja*/
/*================================ dealer listing page end here ===================================*/
/*======================= responsive start here==============*/
@media (max-width: 1660px) 
{
 
    
}
@media (max-width: 1440px) 
{
 
    
}
@media (max-width: 1366px) 
{
    
    .slider-bottom {padding: 0 30px 0 38px;}
    .news h2:before {font-size: 60px;}
    .news h2 {padding: 15px 0 0 0;}
    
}


@media (max-width: 1280px) 
{

    .header-area div#home11 .owl-dots {left: -140px;}
}
@media (max-width:1199px) { 
    
    .dealer-profile a.red {margin: 20px 0 0 0;}
    ul.nav-menu.align-to-right.login-area li a {background: transparent !important;color: black !important;font-weight: 400 !important;padding: 0;}
    header.header_area.inner-header-main.main-header .nav-menu > li > a {margin: 0;}
    .search-vehicle .form-group {margin-bottom: 1rem;}

    .search-vehicle button {margin: 0;}
    .search-vehicle .search-box {padding: 30px 30px 20px 30px;}
    .special-offer {padding: 270px 0 95px 0;}
    .special-car-main {padding: 0 30px;}
    .search-vehicle .form-control {width: 100%;}
    .special-car-main .article_box img {height: 450px;margin: 50px 0 0 0;}
    .special-car-main ul.owl2-carousel.tabs li a img {width: 80%;}
	div#home14 .owl-nav.disabled+.owl-dots {display: none !important;}
	#home14 .owl-dots.disabled{display:none !important;}
	.header-area div#home11 .owl-dots {left: -80px;}
	.header-area-top img {display: none;}
	.header-area div#home11 {padding: 0 0 0 70px;}
    .nav-toggle:before {box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff;background: white;}
	.navigation-portrait .nav-menu > li > a {color: black;padding: 0 10px 15px 30px!important;border: 0!important;}
	.navigation-portrait .nav-menu>li:last-child {padding: 10px 0!important;}
	.navigation-portrait .nav-menu>li {padding: 15px 0 0 0!important;}
	.logos img {margin: 20px -10px 0 0;}
	.featured-car .right {margin: 60px 0 0 0;}
	.sell-your-car .pending-ad .box-1 {margin: 60px 0 30px 0;}
	section.active-ad-detail .dropdown-menu.show, .rejected-ad .dropdown-menu.show {left: 80% !important;margin: 0;top: -30px !important;width: 80px;text-align: left;}
	section.active-ad-detail .dropdown-menu.show a, .rejected-ad .dropdown-menu.show a {width: 80px;}
	.rejected-ad h3 {margin: 40px 0 30px 0;}
	.rejected-ad .right .status button {margin: 40px 0;}
	.review-ad h3 {margin: 40px 0 0 0;}
	section.active-ad-detail .right {margin: 100px 0 0 0;}
 
}

@media (min-width: 768px) and (max-width: 991px) {

    .login-inner .right {padding:  40px;}
    #special-car .owl-nav button.owl-prev span {left: -60px;}
	section.active-ad-detail .dropdown-menu.show, .rejected-ad .dropdown-menu.show {left: 70% !important;}
	.contact-admin {padding: 70px 50px;} 

}

@media (min-width: 0px) and (max-width: 991px) {
    

    .login-main {padding: 50px 0;}
    img.log-car {display: none;}
    .login-inner .left img {display: none;}
    section.dealer-profile.d-dealer-car .car-for-sale .dealer-bottom .card h2 {margin: 0 0 0 0;}
	section.dealer-profile.d-dealer-car .car-for-sale .dealer-bottom .card h4 {margin: 0 0 20px 0;}
    .notification .bottom p {font-size: 16px;line-height: 20px;}
    .register-main {padding: 60px;}
    #special-car .owl-nav button {display: none;}
    .search-vehicle button {width: 100%;}
    .special-car-main .article_box img {height: auto;}
    .special-car-main {padding: 0;}
    .header-area .left img {display: none;}
	.logos img {margin: 40px auto 0 auto;display: block;}
	.testimonial p {width: 100%;}
	.about h2:before,.vehicle h2:before,.testimonial h2::before,.news h2:before,.special-offer h2:before{display:none;}
    .all-cars a {display: block;}
	.listed-cars .all-cars a {display: block;}
	.all-cars .media-body {margin: 30px 0 0 0;}
	.all-cars .card h2 {margin: 0 0 0 0;}
	.all-cars .card .slider {width: 100% !important;margin: 0;}
	.all-cars .card .slider img {width: 100% !important;height: 220px !important;}
	.all-cars .card {padding: 20px !important;}
	.nav-toggle {top: 35%;}
	.profile-inner button{width: 100%;margin: 20px 0 0 0;}
 	.profile-inner label {margin: 10px 0 10px 5px;}
	.footer-bottom h2 {margin: 60px 0 0 0;}
	a.nav-link.nav-link-label {color: black;}
	ul.nav.float-right {float: left !important;margin: 10px 0 0 0;}
	.dropdown-toggle::after {color: black;} 
	ul.dropdown-menu.dropdown-menu-media.dropdown-menu-right.show {width: 310px;}
	

}
@media (max-width: 767px) { 
    .login-inner .right {padding:  40px;}	
    .change-package {padding: 30px;}
    .notification .bottom h6 {margin: 20px 0 0 0;}
	.notification .bottom {padding: 30px 20px;}
	.notification .top {padding: 20px;}
	.notification .bottom p {margin: 10px 0 0 0;}	
    .dealer-profile a.red {width: 100% !important;margin:30px 0 0 0;}	
    .edit-ad-detail h2 {padding: 30px 0 40px 0;}
    .edit-ad-detail img {margin: 0 0 30px 0;}
    .edit-ad-detail button.red {width: 100%;}
    .search-vehicle button {margin:10px 0 0 0;}
    .bottom-slider .car-slider .item {margin: 0 20px 0 15px;}
    .header-area h1 {font-size: 80px;line-height: 90px;}
    .my-wishlist .dealer-bottom .d-md-flex button {width: 100%;margin: 30px 0  20px 0;}
	select.form-control.gas {background-position: 95% 20px;}
	section.active-ad-detail .dropdown-menu.show, .rejected-ad .dropdown-menu.show {left: 60% !important;}

	.footer-top a {display: block;width: 206px;margin: 0 auto;}
	.footer-top img {margin: 0 0 0 0;}
	.footer-top ul {display: block;float: none;text-align: center;margin: 0px 0 30px 0;}
	.footer-top ul li {display: inline-block;float: none;}
	.footer-bottom {padding: 60px 0;}
	footer {padding: 0 0 40px 0;background: #0d0d40;}
	.footer-bottom {padding: 10px 0 60px 0;}	
	.footer-bottom .footer-last {padding: 0 0 0 0;}
	.contact-admin {padding: 70px 50px;} 
	
}

@media (max-width: 480px) {
	
	.notification .bottom i {margin: 0;}
	.notification .media {display: block;text-align: center;}
	.notification .bottom h6 {text-align: center;margin: 10px 0 0 0;} 
	.notification .top p {display: inline-block;margin: 10px 0 0 0;}
    li.breadcrumb-item {padding: 0 10px 0 0 !important;}
	li.breadcrumb-item + li.breadcrumb-item {padding: 0 10px 0 10px !important;}

    li.breadcrumb-item a, li.breadcrumb-item {font-size: 14px;}
    .edit-ad-detail .upload-pic {display: block;margin: 30px 0 0 0;}
    .special-car-main ul.make {margin: 20px 0 0 0;}
    .special-car-main ul.make li {margin: 0 10px 0 0;}
    .header-area div#home11 .owl-dots {top: 120px;}
    .search-vehicle .search-box {position: initial;margin: 50px 0 0 0;}




    .search-vehicle {padding: 60px 0;}
    .special-offer {padding: 60px 0;}
    .search-vehicle h2 {font-size: 30px;}
    .search-vehicle h3 {margin: 20px 0 0 0;}
    .header-area h1 {font-size: 50px;line-height: 60px;margin: 50px 0 0 0;}
    .about-bottom .call {padding: 20px;}
    .about h2, .vehicle h2, .testimonial h2,.news h2 {font-size: 30px;}
    .testimonial .slider {margin: 30px 0 0 0;}
    .testimonial, .vehicle, .about,.news {padding: 40px 0;}
    .about-middle {margin: 30px 0 0 0;}
    .vehicle ul.nav {margin: 40px 0 0 0 !important;}
    .news .box {margin: 40px 0 0 0;}
 	.dealer-review .dealer-bottom .all-cars .card .card {margin: 0 !important;}
	.dealer-profile .dealer-bottom .card {margin: 0 0 0 0;}
	.listed-cars .dealer-bottom .card {	margin: 40px 0 0 0 !important;}
	.dealer-profile .dealer-middle a {display: block;}
 	.dealer-review button {width: 100%;}
 	.nav.nav-tabs.nav-underline .nav-item a.nav-link {width: 100%;}
	ul.nav.nav-tabs.nav-underline {display: block;margin: 40px 0;}
	.dealer-bottom .card h4 {margin: 20px 0 0 0;}
	.dealer-bottom .card ul {margin: 20px 0 0 0;}
	.dealer-bottom .card a.visit {margin: 30px 0 0 0 ;text-align: center;}
	.dealer-bottom .card a {margin: 20px 0 0 0;}
	.dealer-bottom .all-cars .card {padding: 30px 20px 30px 20px !important;} 
	.payment-detail h2 {font-size: 20px;}
	.payment-detail h3 {font-size: 30px;}
	.payment-detail h4 {font-size: 20px;}
	.payment-detail h5 {font-size: 20px;}
 	.all-cars .card .d-sm-flex h2 {margin: 10px 0 0 0 !important;}
 	section.active-ad-detail .dropdown-menu.show, .rejected-ad .dropdown-menu.show {top: 0px !important;}
 	.profile-inner {padding: 40px 20px;}
	.banner-area h1 {font-size: 30px;margin: 190px 0 0 0;}
	.banner-area {height: 300px;}
	
	
}
@media (max-width: 375px) {
	  
    .login-inner .right {padding: 40px 10px;}
    .login-inner {border: 10px solid white;}
    .dealer-profile .dealer-box-main {padding: 84px 10px 30px 10px;}
    .dealer-profile .dealer-box-main .top a {right: 10px;}
    .dealer-box-main .media {text-align: center;display: block;padding: 20px 0;}
    .dealer-box-main .media img {margin: 0 0 10px 0;}
	.header-area div#home11 {padding: 0;}
    .header-area div#home11 .owl-dots {display: none;}
	.about-bottom .call {display: none !important;}
	.dealer-profile .dealer-bottom .card a.visit {width: 100%;margin: 10px 0 15px 0;}
	.dealer-review .review .media {display: block;text-align: center;}
	.dealer-review .review .media img {display: block;margin: 0 auto 10px auto;}
	.dealer-review .review h3 {text-align: center;}
	.dealer-review .review h3 span {display: block;margin: 5px 0 10px 0;}
	.dealer-review .review p {margin: 20px 0 0 0;}	
	section.active-ad-detail .dropdown-menu.show, .rejected-ad .dropdown-menu.show {left: 40% !important;}
	.contact-admin {padding: 70px 10px;} 
    .register-main {padding: 40px 10px;} 


}


@media (min-width: 320px) and (max-width: 999px) { 

		/*menu start here*/
	
	/*menu end here*/
/*h1 {font-size: 40px;}
h1 span{font-size: 25px;}
h2 {font-size: 30px;}
h3 {font-size: 30px;}
h4 {font-size: 22px;}
h5 {font-size: 20px;}
h6 {font-size: 19px}*/

    
    

}
/*======================= responsive start here==============*/