<template>
    <div class="app-content content view orders user-listing">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h1 class="pull-left">Dealers Listing </h1>
                                            </div>
                                        </div>

                                        <!--tab start here-->

                                        <ul class="nav nav-tabs nav-underline no-hover-bg">
                                            <li class="nav-item">
                                                <router-link :to="{ name: 'users.index' }" class="nav-link">User</router-link>
                                            </li>
                                            <li class="nav-item">
                                                <router-link :to="{ name: 'dealers.index' }" class="nav-link active">Dealer</router-link>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="tab31" aria-expanded="true" aria-labelledby="base-tab31">
                                                <div class="row">
                                                    <div class="col-12 text-md-right text-center">
                                                        <a href="#" @click="blocked = !blocked" class="blocked"><i class="fa fa-ban"></i> {{ !blocked? 'Blocked dealer': 'Active dealer'}}</a>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="maain-tabble">
                                                    <table class="table table-striped table-bordered dealer-table">
                                                        <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>Name</th>
                                                            <th>email</th>
                                                            <th>contact</th>
                                                            <th>vehicle List</th>
                                                            <th>package</th>
                                                            <th>featured</th>
                                                            <th>Registered On</th>
                                                            <th>action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="(dealer, index) in dealers">
                                                            <td>{{ index+1 }}</td>
                                                            <td>
<!--                                                                <img :src="`${base_url}/storage/${dealer.image}`" :alt="dealer.name" style="width: 32px; height: 32px; border-radius: 50%; margin-right: 10px"/>-->
                                                                {{ dealer.name }}
                                                            </td>
                                                            <td>{{ dealer.email }}</td>
                                                            <td>{{ dealer.contact }}</td>
                                                            <td>{{ dealer.ads_count }}</td>
                                                            <td>{{ dealer.profile_package? dealer.profile_package.title: '' }}</td>
                                                            <td>{{ dealer.profile_package? 'yes': '' }}</td>
                                                            <td>{{ dealer.created_at | date }}</td>
                                                            <td>
                                                                <div class="btn-group mr-1 mb-1">
                                                                    <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                        <router-link class="dropdown-item" :to="{ name: 'dealers.show', params: {id: dealer.id} }"><i class="fa fa-eye"></i>View </router-link>
                                                                        <a class="dropdown-item" @click="blockDealer(dealer.id)">
                                                                            <i class="fa fa-ban"></i>{{ blocked ? 'UnBlock': 'Block' }} </a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--tab 1 end-->

                                        </div>
                                        <!--tab end here-->
                                    </div>
                                </div>
                                <!--main card end-->

                            </div>
                        </div>
                    </div>
                </section>

                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                base_url: window.base_url,
                blocked: false,
                dealers: [],
                table: undefined
            }
        },
        mounted() {
            this.loadDealers();
        },
        methods: {
            loadDealers(){
                if(this.table !== undefined)
                    this.table.destroy();
                axios.get(`/users?dealer=1&status=${this.blocked? 0: 1}`)
                    .then(data => {
                        this.dealers = data.data;
                        setTimeout(()=>{
                            this.table = $('.dealer-table').DataTable();
                        }, 100);
                    });
            },
            blockDealer(id){
                this.$dialog.confirm(`Are you sure you want to ${this.blocked? 'Unblock': 'block'} this dealer?`).then(dialog => {
                            axios.delete(`/dealers/${id}`).then( d => {
                                this.loadDealers();
                                this.$toastr.success(d.data.message, 'Success', {});
                                dialog.close();
                            }).catch(d => {
                            });
                        })
            }
        },
        watch: {
            'blocked': function(){
                this.loadDealers()
            }
        }
    }
</script>
