<template>
    <div class="main-slider">
        <swiper :options="swiperOptionTop" class="slider-top" ref="swiperTop">

            <swiper-slide v-for="(img,index) in images" :class="`slide-${index}`" v-bind:key="img.id">
                <img :src="`${img.file_name}`" alt="" class="img-fluid w-100">
            </swiper-slide>

            <!--<swiper-slide class="slide-2">
                <img :src="`${base_url}/admins/images/slider-1.png`" alt="" class="img-fluid w-100" >
            </swiper-slide>
            <swiper-slide class="slide-3">
                <img :src="`${base_url}/admins/images/slider-1.png`" alt="" class="img-fluid w-100" >
            </swiper-slide>
            <swiper-slide class="slide-4">
                <img :src="`${base_url}/admins/images/slider-1.png`" alt="" class="img-fluid w-100" >
            </swiper-slide>
            <swiper-slide class="slide-5">
                <img :src="`${base_url}/admins/images/slider-1.png`" alt="" class="img-fluid w-100" >
            </swiper-slide>-->
        </swiper>
        <!-- swiper2 Thumbs -->
        <swiper :options="swiperOptionThumbs" class="gallery-thumbs" ref="swiperThumbs">
            <swiper-slide v-for="(img,index) in images" :class="`slide-${index}`" v-bind:key="img.id">
                <img :src="`${img.file_name}`" alt="" class="img-fluid w-100" >
            </swiper-slide>
            <!--<swiper-slide class="slide-1">
                <img :src="`${base_url}/admins/images/slider-1.png`" alt="" class="img-fluid w-100" >
            </swiper-slide>
            <swiper-slide class="slide-2">
                <img :src="`${base_url}/admins/images/slider-1.png`" alt="" class="img-fluid w-100" >
            </swiper-slide>
            <swiper-slide class="slide-3">
                <img :src="`${base_url}/admins/images/slider-1.png`" alt="" class="img-fluid w-100" >
            </swiper-slide>
            <swiper-slide class="slide-4">
                <img :src="`${base_url}/admins/images/slider-1.png`" alt="" class="img-fluid w-100" >
            </swiper-slide>
            <swiper-slide class="slide-5">
                <img :src="`${base_url}/admins/images/slider-1.png`" alt="" class="img-fluid w-100" >
            </swiper-slide>-->
        </swiper>

        <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
        <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
    </div>
</template>

<script>
    import { swiper, swiperSlide } from 'vue-awesome-swiper';
    export default {
        props: ['images'],
        components: { swiper, swiperSlide },
        data() {
            return {
                base_url: window.base_url,

                swiperOptionTop: {
                    spaceBetween: 10,
                    loop: true,
                    loopedSlides: 5, //looped slides should be the same
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    }
                },
                swiperOptionThumbs: {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    touchRatio: 0.2,
                    loop: true,
                    loopedSlides: 5, //looped slides should be the same
                    slideToClickedSlide: true,
                },
            }
        }
    }
</script>
