<template>
    <section class="slider">
        <div id="slider" class="flexslider">
            <ul class="slides">
                <li v-for="(image, index) in images" :key="image.id">
                    <img :src="image.file_name"/>
                </li>
            </ul>
        </div>
        <div id="carousel" class="flexslider">
            <ul class="slides">
                <li v-for="(image, index) in images" :key="image.id">
                    <img :src="image.file_name"/>
                </li>
            </ul>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        created() {
            setTimeout(() => {
                $('#carousel').flexslider({
                    animation: "slide",
                    controlNav: false,
                    animationLoop: false,
                    slideshow: false,
                    itemWidth: 140,
                    itemMargin: 25,
                    asNavFor: '#slider'
                });

                $('#slider').flexslider({
                    animation: "slide",
                    controlNav: false,
                    animationLoop: false,
                    slideshow: false,
                    sync: "#carousel",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            }, 0)
        },
        beforeDestroy() {
            $('#carousel').flexslider('destroy');
            $('#slider').flexslider('destroy');
        },
        props: ['images']
    }
</script>
