<template>
    <div class="app-content content view orders change-pass">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">
                                        <div class="row">
                                            <div class="col-xl-6 col-12">
                                                <h1 class="pull-left">Change New Password</h1>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-8 col-12">
                                                <div class="col-12"> 
                                                </div>
                                                <form action="" @submit.prevent="validate()">
                                                    <div class="row m-0">
                                                        <div class="col-12 form-group">
                                                            <label for="current_password">
                                                                <i class="fa fa-key"></i>Current password
                                                            </label>
                                                            <input type="password" v-validate="'required'" v-model="password.current_password" name="current password" id="current_password" class="form-control" placeholder="Current Password">
                                                            <span class="text-danger">{{ errors.first(`current password`) }}</span>
                                                        </div>
                                                        <div class="col-12 form-group">
                                                            <label for="password">
                                                                <i class="fa fa-key"></i>new password
                                                            </label>
                                                            <input type="password" v-validate="'required|min:8'" v-model="password.password" name="password" id="password" class="form-control" placeholder="New Password" ref="password">
                                                            <span class="text-danger">{{ errors.first(`password`) }}</span>
                                                        </div>
                                                        <div class="col-12 form-group">
                                                            <label for="password_confirmation">
                                                                <i class="fa fa-key"></i>re-type password
                                                            </label>
                                                            <input type="password" v-validate="'required|min:8|confirmed:password'" name="password_confirmation" id="password_confirmation" data-vv-as="password" class="form-control" placeholder="Re-Type Password">
                                                            <span class="text-danger">{{ errors.first(`password_confirmation`) }}</span>
                                                        </div>
                                                        <div class="col-12 text-center">
                                                            <button type="submit">save</button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                base_url: window.base_url,
                image: `${window.base_url}/storage/${window.user.image}`,
                user: window.user,
                password: {
                    current_password: '',
                    password: '',
                    password_confirmation: '',
                }
            }
        },
        mounted() {
        },
        methods: {
            save(){
                axios.post('/password-change', this.password)
                    .then(data => {
                        this.$toastr.success(data.data.message, "Success");
                    });
            },
            validate(){
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;
                    this.save();
                });
            },
        },
    }
</script>
