<template>
    <div class="app-content content view gen feedback detail">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h1>Feedback Details</h1>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-10 col-12 offset-xl-1">
                                                <div class="feedback-detail">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="attached">
                                                                <img :src="feedback.owner.image" class="img-fluid" :alt="feedback.owner.name">
                                                                <h3>{{ feedback.owner.name }}</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-12 text-right">
                                                            <button class="del" @click="deleteFeedback">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label for="">
                                                                <i class="fa fa-envelope"></i>email
                                                            </label>
                                                            <p>{{ feedback.owner.email }}</p>
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label for="">
                                                                <i class="fa fa-file-text"></i>subject
                                                            </label>
                                                            <p>{{ feedback.subject }}</p>
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label for="">
                                                                <i class="fa fa-calendar"></i>date
                                                            </label>
                                                            <p>{{ feedback.created_date }}</p>
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label for="">
                                                                <i class="fa fa-comments"></i>message
                                                            </label>
                                                            <p class="last-p">{{ feedback.message }}</p>
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <router-link :to="{ name: 'feedback.index'}" class="red">go back</router-link>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import Breadcrumb from "../Breadcrumb";
    export default {
        components: { Breadcrumb },
        data() {
            return {
                base_url: window.base_url,
                feedback: {},
            }
        },
        mounted() {
            this.getFeedback(this.$route.params.id);
        },
        methods: {
            getFeedback(id){
                axios.get(`/feedback/${id}`)
                    .then(data => {
                        this.feedback = data.data;
                    });
            },
            deleteFeedback(){
                
                this.$dialog
                    .confirm("Are you sure you want to delete this feedback?")
                    .then(dialog => {
                        axios.delete(`/feedback/${this.feedback.id}`).then( d => {
                            this.$toastr.success(d.data.message, 'Success', {});
                            this.$router.push({name: 'feedback.index'});
                            dialog.close();
                        }).catch(d => {
                        });
                    });
            }
        }
    }
</script>
