<template>
    <div class="app-content content view orders user-listing">
        <div class="content-wrapper">
            <div class="content-body">

                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause advisor-profile-main user-profile" v-if="user">
                    <div class="row">
                        <div class="col-12 col-xl-8 offset-xl-2">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">


                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h1 class="pull-left">
                                                    <router-link :to="{name: 'users.index'}">
                                                        <i class="fa fa-angle-left"></i>
                                                    </router-link>
                                                    User profile
                                                </h1>
                                            </div>
                                            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                                                <div class="breadcrumb-wrapper col-12">
                                                    <breadcrumb v-if="$route.meta.breadcrumb" :breadcrumb="$route.meta.breadcrumb"></breadcrumb>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <div class="user-id">
                                                    <p>ID# {{ user.id }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-info">
                                            <div class="row ">
                                                <div class="col-12">
                                                    <div class="d-lg-flex d-block justify-content-between align-items-center">
                                                        <div class="media left align-items-center">
                                                            <img :src="user.image" class="img-fluid" :alt="user.name">
                                                            <div class="media-body">
                                                                <h2>{{ user.name }}</h2>
                                                                <label for="">Registered Since: </label>
                                                                <p>{{ user.created_date }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="active-ads">
                                                            <div class="media align-items-center">
                                                                <div class="media-body">
                                                                    <p>Active Ads</p>
                                                                    <a href="#">View All</a>
                                                                </div>
                                                                <h4>{{ user.ads_count }}</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <form @submit.prevent="save()">
                                                <div class="row">
                                                    <div class="col-md-6 col-12 form-group">
                                                        <label for="">Name</label>
                                                        <input type="text" name="name" v-validate="'required'" v-model="user.name" :disabled="!edit" placeholder="Name" class="form-control">
                                                        <span class="text-danger">{{ errors.first(`name`) }}</span>
                                                    </div>
                                                    <div class="col-md-6 col-12 form-group">
                                                        <label for="">Phone</label>
<!--                                                        <input type="text" >-->
                                                        <the-mask mask="+1 (###) ### ####" name="Phone Number" v-validate="'required'" v-model="user.contact" :disabled="!edit" placeholder="Phone Number" class="form-control"/>
                                                        <span class="text-danger">{{ errors.first(`Phone Number`) }}</span>
                                                    </div>
                                                    <div class="col-md-6 col-12 form-group">
                                                        <label for="">Email</label>
                                                        <input type="email" disabled v-model="user.email" placeholder="Email Address" class="form-control">
                                                    </div>
                                                    <div class="col-md-6 col-12 form-group">
                                                        <label for="">Password</label>
                                                        <input type="password" :disabled="!edit" placeholder="Password" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 text-center">
                                                        <button type="button" v-if="!edit" @click="editMode(true)">edit</button>
                                                        <button type="submit" v-if="edit">save</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <!--main card end-->

                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    import Breadcrumb from "../Breadcrumb";
    import {TheMask} from 'vue-the-mask'
    export default {
        components: { Breadcrumb, TheMask },
        data() {
            return {
                base_url: window.base_url,
                user: {},
                edit: false,
                shouldSubmit: false
            }
        },
        mounted() {
            console.log(this.$route)
            this.getUser(this.$route.params.id);
        },
        methods: {
            getUser(id){
                axios.get(`/users/${id}`)
                    .then(data => {
                        this.user = data.data;
                    });
            },
            save(){
                this.$validator.validateAll().then((result) => {
                    if (!result || !this.shouldSubmit) {
                        this.shouldSubmit = true;
                        return;
                    }

                    axios.put(`/users/${this.user.id}`, this.user)
                        .then(data => {
                            this.editMode(false);
                            this.$toastr.success(data.data.message, "Updated!");
                        }).catch( e => {});

                });
            },
            editMode(bol)
            {
                this.edit = bol;
                this.shouldSubmit = false
            }
        }
    }
</script>
