<template>
    <div class="app-content content view orders user-listing">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h1 class="pull-left">Advetisers Listing </h1>
                                            </div>
                                        </div>

                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="tab31" aria-expanded="true" aria-labelledby="base-tab31">
                                                <div class="row">
                                                    <div class="col-12 text-sm-right text-center">
                                                    <router-link :to="{ name: 'banners.create' }" class="pur"><i class="fa fa-plus"></i> Add Advetisement</router-link>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="maain-tabble">
                                                    <table class="table table-striped table-bordered dealer-table">
                                                        <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>Title</th>
                                                            <th>action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="(banner, index) in banners">
                                                            <td>{{ index+1 }}</td>
                                                            <td>{{ banner.title }}</td>
                                                            <td>{{ banner.created_at | date }}</td>
                                                            <td>
                                                                <div class="btn-group mr-1 mb-1">
                                                                    <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                        <router-link class="dropdown-item" :to="{ name: 'banners.show', params: {id: banner.id} }"><i class="fa fa-eye"></i>View </router-link>
                                                                        <a class="dropdown-item" @click="blockBanner(banner.id)">
                                                                            <i class="fa fa-ban"></i>Delete</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--tab 1 end-->

                                        </div>
                                        <!--tab end here-->
                                    </div>
                                </div>
                                <!--main card end-->

                            </div>
                        </div>
                    </div>
                </section>

                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                base_url: window.base_url,
                blocked: false,
                banners: [],
                table: undefined
            }
        },
        mounted() {
            this.loadBanners();
        },
        methods: {
            loadBanners(){
                if(this.table !== undefined)
                    this.table.destroy();
                axios.get(`/banners`)
                    .then(data => {
                        console.log('data', data);
                        this.banners = data.data;
                        setTimeout(()=>{
                            this.table = $('.dealer-table').DataTable();
                        }, 100);
                    });
            },
            blockBanner(id){
                // this.$dialog.confirm(`Are you sure you want to ${this.blocked? 'Unblock': 'block'} this dealer?`).then(dialog => {
                //             axios.delete(`/banners/${id}`).then( d => {
                //                 this.loadBanners();
                //                 this.$toastr.success(d.data.message, 'Success', {});
                //                 dialog.close();
                //             }).catch(d => {
                //             });
                //         })
            }
        },
        watch: {
            'blocked': function(){
               // this.loadBanners()
            }
        }
    }
</script>
