<template>
    <div class="app-content content view orders banner-listing">
        <div class="content-wrapper">
            <div class="content-body">

                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause advisor-profile-main banner-profile" v-if="banner">
                    <div class="row">
                        <div class="col-12 col-xl-8 offset-xl-2">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">


                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h1 class="pull-left">
                                                    <router-link :to="{name: 'banners.index'}">
                                                        <i class="fa fa-angle-left"></i>
                                                    </router-link>
                                                    View
                                                </h1>
                                            </div>
                                            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                                                <div class="breadcrumb-wrapper col-12">
                                                    <breadcrumb v-if="$route.meta.breadcrumb" :breadcrumb="$route.meta.breadcrumb"></breadcrumb>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <div class="banner-id">
                                                    <p>ID# {{ banner.id }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="banner-info">
                                            

                                            <form @submit.prevent="save()">
                                                <div class="row">
                                                    <div class="col-md-6 col-12 form-group">
                                                        <label for="">Title</label>
                                                        <input type="hidden" name="id" v-model="banner.id">
                                                        <input type="text" name="title" v-validate="'required'" v-model="banner.title" :disabled="!edit" placeholder="Title" class="form-control">
                                                        <span class="text-danger">{{ errors.first(`title`) }}</span>
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                <div class="col-12">
                                                    <div class="d-lg-flex d-block justify-content-between align-items-center">
                                                        <div class="media left align-items-center">
                                                            <div class="position-relative">
                                                                <button v-if="edit" type="button" name="file" class="change-cover" onclick="document.getElementById('upload').click()">
                                                                    <div class="ca"><i class="fa fa-camera"></i></div>
                                                                </button>
                                                                <img :src="banner.image" class="img-fluid" :alt="banner.title">
                                                            </div>
                                                            <image-cropper :source="banner.image" :is-active="showCropper"
                                                                           @imageClosed="showCropper = false"
                                                                           @imageResult="(image) => { banner.image = image; showCropper = false; }"></image-cropper>
                                                            <input type="file" id="upload" name="file" @change="fileChanged">
                                                            <input type="hidden" v-model="banner.image">
                                                            <!-- <div class="media-body">
                                                                <h2>{{ banner_name }}</h2>
                                                                <label for="">Registered Since: </label>
                                                                <p>{{ banner.created_at }}</p>
                                                            </div> -->
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="row">
                                                    <div class="col-12 text-center">
                                                        <button type="button" v-if="!edit" @click="editMode(true)">edit</button>
                                                        <button type="submit" v-if="edit">save</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <!--main card end-->

                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    import Breadcrumb from "../Breadcrumb";
    import {TheMask} from 'vue-the-mask'
    import ImageCropper from "../../../../js/components/ImageCropper";
    export default {
        components: { Breadcrumb, TheMask, ImageCropper },
        data() {
            return {
                base_url: window.base_url,
                banner: {},
                banner_name: {},
                edit: false,
                shouldSubmit: false,
                showCropper: false
            }
        },
        mounted() {
            this.getbanner(this.$route.params.id);
        },
        methods: {
            getbanner(id){
                axios.get(`/banners/${id}`)
                    .then(data => {
                        console.log(data);
                        this.banner = data.data;
                        this.banner_name = data.data.title;
                    });
            },
            save(){
                this.$validator.validateAll().then((result) => {
                    if (!result || !this.shouldSubmit) {
                        this.shouldSubmit = true;
                        return;
                    }
  console.log(this.banner);
                    axios.put(`/banners/${this.banner.id}`, this.banner)
                        .then(data => {
                            this.editMode(false);
                            this.$toastr.success(data.data.message, "Updated!");
                        }).catch( e => {});

                });
            },
            editMode(bol)
            {
                this.edit = bol;
                this.shouldSubmit = false
            },
            fileChanged(e){
                Array.from(e.target.files).forEach(file => {
                    let fileReader = new FileReader();
                    let that = this;
                    // when image is loaded, set the src of the image where you want to display it
                    fileReader.onload = function(e) {
                        that.banner.image = this.result;
                        that.showCropper = true;
                    };
                    fileReader.readAsDataURL(file);
                })
            },
        }
    }
</script>
