<template>
    <div class="app-content content view orders user-listing">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h1 class="pull-left">
                                                    {{ $route.meta.title }}
                                                </h1>
                                            </div>
                                        </div>

                                        <div class="row mt-4 mb-4">
                                            <div class="col-12">
                                                <transaction-chart :chart-data="dataCollection" :options="options"></transaction-chart>
                                            </div>
                                        </div>

                                        <!--tab start here-->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="tab31" aria-expanded="true" aria-labelledby="base-tab31">
                                                <div class="clearfix"></div>
                                                <div class="maain-tabble">
                                                    <table class="table table-striped table-bordered transactions-table">
                                                        <thead>
                                                        <tr>
                                                            <th>S.no</th>
                                                            <th>ID</th>
                                                            <th>NAME</th>
                                                            <th>USER TYPE</th>
                                                            <th>Amount</th>
                                                            <th>Type</th>
                                                            <th>Date</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="(transaction, index) in data.transactions">
                                                            <td>{{ index+1 }}</td>
                                                            <td>{{ transaction.id }}</td>
                                                            <td>{{ transaction.payer }}</td>
                                                            <td>{{ transaction.user_type }}</td>
                                                            <td>${{ transaction.amount }}</td>
                                                            <td>{{ transaction.payment_type }}</td>
                                                            <td>{{ transaction.created_date }}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--tab 1 end-->

                                        </div>
                                        <!--tab end here-->
                                    </div>
                                </div>
                                <!--main card end-->

                            </div>
                        </div>
                    </div>
                </section>

                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    import TransactionChart from "./TransactionChart";
    export default {
        components: { TransactionChart },
        data() {
            return {
                base_url: window.base_url,
                data: [],
                table: undefined,
                dataCollection: {
                    labels: [],
                    datasets: []
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                        labels: {
                            fontColor: 'rgb(255, 99, 132)'
                        }
                    }
                }
            }
        },
        mounted() {
            this.loadFeedback();
        },
        methods: {
            loadFeedback(){
                if(this.table !== undefined)
                    this.table.destroy();

                axios.get(`/transactions`)
                    .then(data => {
                        this.data = data.data;

                        const labels = this.data.states.map(month => month.name);
                        const values = this.data.states.map(month => month.value);
                        this.dataCollection = {
                            labels: labels,
                            datasets: [
                                {
                                    label: 'Payment Logs',
                                    backgroundColor: '#ee2c48',
                                    data: values
                                }
                            ]
                        };

                        setTimeout(() => {
                            this.table = $('.transactions-table').DataTable({
                                "order": [[ 0, "desc" ]]
                            });
                        }, 100);
                    });
            }
        }
    }
</script>
