<template>
    <section class="terms pad-100">

        <div class="container">
            <div class="row">
                <div class="col-12">
                   <div v-html="page.description"></div>
                    <br/>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data(){
           return {
                base_url: window.base_url,
                page: {},
                page_name: {},
            }
        },
        mounted() {
            this.getPage();
        },
        methods: {
            getPage(){
                axios.get(`/pages/1`)
                    .then(data => {
                        this.page = data.data;
                        this.page_name = data.data.title;
                        console.log('page',this.page);
                    });
            },
        }
    }
</script>
