<template>
    <!--rejected ad detail end here-->
    <section class="pending-ad featured-car my-60 rejected-ad" v-if="car">
        <div class="container">

            <div class="row">
                <div class="col-xl-8 col-12 ">
                    <div class="left">
                        <div class="content-header-right breadcrumbs-right breadcrumbs-top col-12 p-0">
                            <div class="breadcrumb-wrapper ">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Cars for sale</a> </li>
                                    <li class="breadcrumb-item active">Details</li>
                                </ol>
                            </div>
                        </div>
                        <section class="slider">
                            <main-slider :images="car.medias" v-if="car"></main-slider>
                        </section>
                    </div>
                </div>
                <div class="col-xl-4 col-12" v-if="car">
                    <div class="right">
                        <h3 v-if="isCreator">Status: <span>{{ numberToStatus(car.status) }}</span></h3>
                        <div class="row">
                            <div class="col-12 d-flex ">
                                <div class="box box-1 w-100">

                                    <div class="d-flex justify-content-between act align-items-center">
                                        <div class="">
                                            <h2>${{ car.price }}</h2>
                                        </div>
                                        <div class="">
                                            <div class="btn-group" v-if="isCreator">

                                                <div class="btn-group">
                                                    <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(4px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                        <!-- <router-link v-if="car.status !== status.REJECTED" class="dropdown-item" :to="{name: 'ad.details', params: {id: car.id}}">
                                                            <i class="fa fa-edit"></i>Edit
                                                        </router-link> -->
                                                        <a class="dropdown-item" href="#" @click.prevent="deleteAd(car.id)">
                                                            <i class="fa fa-trash"></i>delete
                                                        </a>
                                                    </div>
                                                </div>


                                                <!--<button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <a class="dropdown-item" href="#" @click="deleteAd(car.id)"><i class="fa fa-trash"></i></a>
                                                </button>-->
                                                <!--<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(4px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <a class="dropdown-item" href="#" @click="deleteAd(car.id)"><i class="fa fa-edit"></i>delete</a>
                                                </div>-->
                                            </div>
                                            <p v-else>{{ numberToStatus(car.status) }}</p>
                                        </div>
                                    </div>
                                    <h3>{{ car.model.name }} {{ car.make.name }}</h3>
                                    <p>{{ car.condition }}</p>
                                    <!--<p>Listing id: {{ car.id }}</p>-->
                                    <div class="text-right" v-if="!isCreator && car.status === status.REJECTED">
                                        <button class="wish" @click="markAsFavourite(car.id)">
                                            <i class="fa-heart" :class="{ fa: wishlist_ids.includes(car.id), far: !wishlist_ids.includes(car.id) }"></i>
                                            <template> {{ wishlist_ids.includes(car.id)? 'remove from Wishlist': 'add to Wishlist' }} </template>
                                        </button>
                                    </div>
                                    <p>Posted: {{ car.created_at | date }}</p>
                                </div>
                            </div>
                            <div class="col-12 d-flex" v-if="true">
                                <div class="box seller-info w-100">
                                    <h3>Contact Seller</h3>
                                    <div class="media">
                                        <img :src="car.adable.image" class="img-fluid" :alt="car.adable.name">
                                        <div class="media-body">
                                            <h4>{{ car.adable.name }}</h4>
                                            <p>Call: {{ car.adable.contact }}</p>
                                            <p>Email: {{ car.adable.email }}</p>
                                            <router-link v-if="!isCreator" :to="{ name: 'chat', params: { toId: car.adable.id } }">chat</router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" v-if="isCreator">
                                <div class="status">
                                    <router-link :to="{ name: 'ad.payment', params: { id: car.id }}" v-if="car.status === status.PENDING_PAYMENT" class="form-control pur">Post Now</router-link>
                                    <button type="button" class="form-control" data-toggle="modal"
                                            v-if="car.status !== status.SOLD && !car.featured && car.status !== status.PENDING_PAYMENT && car.status !== status.REJECTED"
                                            data-target="#packagesModal">Feature Ad</button>
                                    <button type="button" class="form-control" @click="markAsSold" v-if="car.status !== status.SOLD && car.status === status.ACTIVE">Mark As SOLD</button>
                                </div>
                                <div class="reject-reason" v-if="car.status === status.REJECTED" style="background: #fed807;padding: 30px;border-radius: 5px;min-height: 160px">
                                    <h3>Rejection Reasons:</h3>
                                    <p>{{ car.rejection_reason }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detail" v-if="car">
                <div class="row">
                    <div class="col-12 col-xl-8 ">
                        <h4>Details</h4>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <label>Make</label>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <p>{{ car.make.name }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <label>Year</label>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <p>{{ car.year }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <label>Fuel</label>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <p>{{ car.fuel_type }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <label>model</label>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <p>{{ car.model.name }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <label>Mileage</label>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <p>{{ car.mileage }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <label>Transmission</label>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <p>{{ car.transmission }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" v-if="car">
                <div class="col-xl-6 col-12">
                    <div class="des">
                        <h4>Description </h4>
                        <p>{{ car.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade active-ad-modal" id="imagesModel" tabindex="-1" role="dialog" aria-labelledby="imagesModelTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header p-0 border-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h2>Feature Your Ad </h2>
                        <p>Add extra pictures for the ad as per feature package</p>
                        <div class="main-image">
                            <img src="images/bus-2.png" class="img-fluid" alt="">
                        </div>
                        <div class="bottom-area">
                            <div class="row">
                                <div class="col-lg-3 col-sm-6 col-12">
                                    <div class="upload-pic">
                                        <button name="file" class="change-cover" onclick="document.getElementById('upload').click()"><i class="fa fa-plus"></i></button>
                                        <input type="file" id="upload" name="file" @change="fileChanged">
                                    </div>
                                </div>
                                <div  v-if="car" class="col-lg-3 col-sm-6 col-12" v-for="(media, index) in car.medias">
                                    <div class="img-box">
                                        <img :src="media.file_name" class="img-fluid" alt="">
                                        <button type="button" @click="deleteFile(index)">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="form-control next" id="cont" @click="pay" :disabled="!imageWithinLimit">next</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade active-ad-second" id="packagesModal" tabindex="-1" role="dialog" aria-labelledby="packagesModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header p-0 border-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="package-main">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12" v-for="(pkg) in packages">
                                <div class="package-box">
                                    <div class="top">
                                        <h1>{{ pkg.title }}</h1>
                                        <h2>Package</h2>
                                    </div>
                                    <div class="bottom">
                                        <h3><sub>$</sub>{{ pkg.price}}</h3>
                                        <p>Upto {{ pkg.no_images }} Photos</p>
                                        <p>Feature for {{ pkg.months }} Months</p>
                                        <button type="button" class="form-control" id="conf" @click="selectPackage(pkg)">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade active-ad-third" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header p-0 border-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <h1>Feature Your Ad </h1>
                   
                    <h2 v-if="selectedPackage">Fee: <span>{{ selectedPackage.price | currency }}</span></h2>
                    <form @submit.prevent="selectImages">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" v-validate="'required'" v-model="details.name" class="form-control" name="card holder name" placeholder="Card Holder Name">
                                <span class="text-danger" v-if="errors.has('card holder name')">{{ errors.first('card holder name') }}</span>
                            </div>
                            <div class="col-12">
                                <the-mask type="text" name="card number" v-model="details.number" :mask="'################'" v-validate="'required|min:16|max:16'" placeholder="Card Number" class="form-control" spellcheck="true"/>
                                <span class="text-danger" v-if="errors.has('card number')">{{ errors.first('card number') }}</span>
                            </div>
                            <div class="col-12">
                                <the-mask type="text" name="cvc" :mask="'###'" v-model="details.cvc" v-validate="'required|min:3|max:3'" placeholder="CVC" class="form-control" spellcheck="true"/>
                                <span class="text-danger" v-if="errors.has('cvc')">{{ errors.first('cvc') }}</span>
                            </div>
                            <div class="col-12">
                                <the-mask type="text" name="expiry" :masked="true" v-model="expiry" v-validate="'required|card_expiry'" :mask="'##/####'" placeholder="MM/YYYY" class="form-control"/>
                                <span class="text-danger" v-if="errors.has('expiry')">{{ errors.first('expiry') }}</span>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="form-control">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import MainSlider from "../../../admin/js/components/dealers/MainSliderCustom";
    import Statuses from "../../../admin/js/Statuses";
    import Packages from "./PackagesComponent";
    import CardExpiry from "../../../Validations/CardExpiry";
    import { TheMask } from 'vue-the-mask';

    export default {
        components: { MainSlider, Packages, TheMask },
        data(){
            return {
                user: window.user,
                car: undefined,
                wishlist_ids:[],
                imageWithinLimit: true,
                packages: [],
                details: {
                    name: '',
                    number: '',
                    exp_month: '',
                    exp_year: '',
                    cvc: ''
                },
                expiry: '',
                selectedPackage: undefined
            }
        },
        created() {
            this.loadAd();
            this.getPackages();
            this.$validator.extend('card_expiry', CardExpiry);
        },
        methods:{
            loadAd(){
                axios.get(`/ads/${this.$route.params.id}`)
                .then(({data}) => {
                    this.car = data.car;
                    this.wishlist_ids = data.wishlist_ids;
                });
            },
            markAsSold(){
                this.$dialog.confirm("are you sure to mark this post as sold?").then(result => {
                    if(!result) return;
                    axios.put(`ads/${this.car.id}/sold`)
                        .then(({data}) => {
                            this.car.status = Statuses.SOLD;
                            this.car.soled = 1;
                            this.$toastr.success(data.message, "Success");
                        });
                })
            },
            markAsFavourite(id){
                const action = this.wishlist_ids.includes(id)? 'remove': 'add';
                axios.put(`wishlist/${action}`, {ad_id : id})
                    .then(data => {
                        if(action === 'remove')
                            this.wishlist_ids.splice(this.wishlist_ids.indexOf(id), 1);
                        else
                            this.wishlist_ids.push(id);
                    });
            },
            deleteAd(id){
                this.$dialog
                    .confirm(`Are you sure you want to delete this Ad?`)
                    .then(dialog => {
                        axios.delete(`/my-listing/${id}`).then(d => {
                            this.$toastr.success(d.data.message, 'Success', {});
                            this.getLatestAds(1, this.status, this.soled);
                            dialog.close();
                        }).catch(d => {});
                    })
            },
            fileChanged(e){
                Array.from(e.target.files).forEach(file => {
                    let fileReader = new FileReader();
                    let that = this;
                    // when image is loaded, set the src of the image where you want to display it
                    fileReader.onload = function(e) { that.car.medias.push({ file_name: this.result, id: undefined }); };
                    fileReader.readAsDataURL(file);
                })
            },
            deleteFile(index){
                this.$dialog.confirm('are you sure you like to remove this file.')
                    .then(result => {
                        if(!result) return;
                        if(this.car.medias[index].id)
                            this.car.deletedMedia.push(this.car.medias[index].id);
                        this.car.medias.splice(index, 1);
                    })
            },
            showPackageModal(){
                $('#imagesModel').modal('hide');
                $('#packagesModal').modal('show');
            },
            selectPackage(pkg){
                this.selectedPackage = pkg;
                this.car.package_id = pkg.id;

                $('#packagesModal').modal('hide');
                $('#paymentModal').modal('show');
            },
            getPackages(){
                axios.get(`packages?type=${dealer? 'dealer_ad': 'ad'}`).then(({data}) => {
                    this.packages = data;
                });
            },
            selectImages(){
                this.$validator.validateAll().then(result => {
                    if(!result) return;
                    $('#imagesModel').modal('show');
                    $('#paymentModal').modal('hide');
                });
            },
            pay(){
                this.$validator.validateAll().then(result => {
                    if(!result) return;

                    axios.post(`ads/${this.car.id}/pay`, this.payload)
                        .then(({data}) => {
                            this.car.featured = true;
                            this.car.package_id = this.selectedPackage.id;
                            this.car.package = this.selectedPackage;
                            $('#imagesModel').modal('hide');
                        })
                        .catch(e => this.$toastr.error("Something went wrong.", 'Error'))
                });
            }
        },
        computed: {
            isCreator(){
                // return this.user.id === this.car.adable_id && this.car.status === this.status.PENDING_PAYMENT;
                return this.user.id === this.car.adable_id;
            },
            payload(){
                return  {...this.details, ...this.car};
            }
        },
        watch: {
            'expiry': function(){
                const x = this.expiry.split('/');
                if (x.length < 2) return false;
                this.details.exp_year = x[1];
                this.details.exp_month = x[0];
            }
        }
    }
</script>

<!--
<style>
    .owl-carousel{
        display: block;
    }
    .dealer-bottom .card a.readmore {
        display: inline-block;
        color: white;
        padding: 10px 15px;
    }
</style>
-->
