<template>
    <section class="ad-payment my-60" v-if="car">
        <div class="container">
            <!--<div class="row">
                <div class="content-header-right breadcrumbs-right breadcrumbs-top col-12 ">
                    <div class="breadcrumb-wrapper ">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="a-users-listing.html">page</a> </li>
                            <li class="breadcrumb-item"><a href="#">inner page</a> </li>
                            <li class="breadcrumb-item active">Active Page </li>
                        </ol>
                    </div>
                </div>
            </div>-->
            <div class="all-cars">
                <div class="row">
                    <div class="col-12">
                        <h2>Post Your Ad </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="media media d-lg-flex d-block">
                                <card-slider :medias="car.medias"></card-slider>
                                <div class="media-body">
                                    <h4>{{ numberToStatus(car.status) }}</h4>
                                    <h2>{{ car.condition }}</h2>

                                    <div class="d-sm-flex d-block justify-content-between">
                                        <div class="">
                                            <h3>{{ car.year + ' ' + car.make.name + ' ' + car.model.name }} </h3>
                                        </div>
                                        <div class="">
                                            <h2>${{ car.price }}</h2>
                                        </div>
                                    </div>
                                    <h6>Listing id: <span>{{ car.id }}</span></h6>
                                    <p>{{ car.description }}</p>
                                    <h4>Posted: {{ car.created_at | date }}</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="payment-detail">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <h2>Payment Details:</h2>
                        <h3>Total Amount: <span>${{ package.price }}</span></h3>
                        <h4>{{ car.package.title }}</h4>
                        <h5>Please provide your payment information </h5>
                        <form action="" @submit.prevent="pay">
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" name="card holder name" v-validate="'required'" v-model="details.name" placeholder="Card Holder Name " class="form-control" spellcheck="true">
                                    <span class="text-danger" v-if="errors.has('card holder name')">{{ errors.first('card holder name') }}</span>
                                </div>

                                <div class="col-12">
                                    <the-mask type="text" name="card number" v-model="details.number" mask="#### #### #### ####" v-validate="'required|min:16|max:16'" placeholder="Card Number" class="form-control" spellcheck="true"/>
                                    <span class="text-danger" v-if="errors.has('card number')">{{ errors.first('card number') }}</span>
                                </div>

                                <div class="col-md-6 col-12">
                                    <the-mask type="text" name="cvc" mask="###" v-model="details.cvc" v-validate="'required|min:3|max:3'" placeholder="CVC" class="form-control" spellcheck="true"/>
                                    <span class="text-danger" v-if="errors.has('cvc')">{{ errors.first('cvc') }}</span>
                                </div>
                                <div class="col-md-6 col-12">
                                    <the-mask type="text" name="expiry" v-model="expiry" :masked="true" v-validate="'required|date_format:MM/yyyy|card_expiry'" mask="##/####" placeholder="Expiry" class="form-control"/>
                                    <span class="text-danger" v-if="errors.has('expiry')">{{ errors.first('expiry') }}</span>
                                </div>
                                <div class="col-12">
                                    <label class="check">By doing this i am agreeing to the terms and conditions
                                        <input type="checkbox" name="term" v-model="termsAccepted" v-validate="'required'" :checked="termsAccepted">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="text-danger" v-if="errors.has('term')">{{ errors.first('term') }}</span>
                                </div>
                                <div class="col-12">
                                    <button type="submit" name="term" class="form-control" data-toggle="modal" data-target="#exampleModalCenter">confirm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Modal start-->
                <div class="modal fade" id="congratsModal" tabindex="-1" role="dialog" aria-labelledby="congratsModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header p-0 border-0">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <img :src="`${$baseUrl}/images/modal-check.png`" class="img-fluid" alt="check image">
                                <h2>Congratulations! <br>Your Ad is successfully posted. </h2>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal end here-->
            </div>
        </div>
    </section>
</template>
<script>
    import carousel from 'vue-owl-carousel'
    import CardSlider from "../components/CardSlider";
    import { TheMask } from 'vue-the-mask';
    import CardExpiry from "../../../Validations/CardExpiry";
    export default {
        components: { carousel, CardSlider, TheMask },
        data(){
            return {
                car: undefined,
                package: undefined,
                details: {
                    name: '',
                    number: '',
                    exp_month: '',
                    exp_year: '',
                    cvc: ''
                },
                expiry: '',
                termsAccepted: false
            }
        },
        created: function () {
            this.$validator.extend('card_expiry', CardExpiry);
            this.loadAd();
        },
        methods:{
            loadAd(){
                axios.get(`/ads/${this.$route.params.id}`)
                    .then(({data}) => {
                        this.car = data.car;
                        this.package = data.car.package;
                        this.wishlist_ids = data.wishlist_ids;
                    });
            },
            pay(){
                this.$validator.validateAll().then(result => {
                    if(!result) return;

                    axios.post(`ads/${this.car.id}/pay`, this.details)
                        .then(({data}) => {
                            this.car.status = this.status.ACTIVE;
                            $('#congratsModal').modal('show')
                                .on('hidden.bs.modal', e => this.$router.push({ name: 'user.mylisting' }));
                        })
                        .catch(e => this.$toastr.error(e.response.statusText, 'Error'))
                })
            }
        },
        watch: {
            'expiry': function(){
                const x = this.expiry.split('/');
                if (x.length < 2) return false;
                this.details.exp_year = x[1];
                this.details.exp_month = x[0];
            }
        }
    }
</script>
<style>
    .owl-carousel{
        display: block;
    }
    .dealer-bottom .card a.readmore {
        display: inline-block;
        color: white;
        padding: 10px 15px;
    }
</style>
