<template>
    <section class="news">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="images/car.png" class="img-fluid wow fadeInRight" v-wow data-wow-delay=".8s" data-wow-duration="1.5s" alt="white car">
                    <h2 class="wow fadeInUp" v-wow data-wow-delay=".5s" data-wow-duration="1s">Latest Auto bazaar News</h2>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">

                <div class="col-lg-4 col-md-6 col-12 d-flex">
                    <div class="box w-100 wow fadeIn" v-wow data-wow-delay=".5s" data-wow-duration="1.2s">
                        <div class="badge">
                            <p>26 april</p>
                        </div>
                        <img :src="`${$baseUrl}/images/news-1.png`" class="img-fluid">
                        <h3 class="wow fadeInUp" v-wow data-wow-delay=".9s" data-wow-duration="1.5s">MONOTONECTALLY BUILD DISTINCTIVE CONVERGENCE AND AN ATTEMPT</h3>
                        <p class="wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.7s">Sed non mauris vitae erat consequat vitae auctor eu in elit. Class aptent taciti non sociosqu ad...</p>
                        <a href="#" class="wow fadeInUp" v-wow data-wow-delay="1.6s" data-wow-duration="2.3s">READ MORE</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 d-flex">
                    <div class="box w-100 wow fadeIn" v-wow data-wow-delay=".9s" data-wow-duration="1.4s">
                        <div class="badge">
                            <p>26 april</p>
                        </div>
                        <img :src="`${$baseUrl}/images/news-2.png`" class="img-fluid">
                        <h3 class="wow fadeInUp" v-wow data-wow-delay=".9s" data-wow-duration="1.5s">MONOTONECTALLY BUILD DISTINCTIVE CONVERGENCE AND AN ATTEMPT</h3>
                        <p class="wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.7s">Sed non mauris vitae erat consequat vitae auctor eu in elit. Class aptent taciti non sociosqu ad...</p>
                        <a href="#" class="wow fadeInUp" v-wow data-wow-delay="1.6s" data-wow-duration="2.3s">READ MORE</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 d-flex">
                    <div class="box w-100 wow fadeIn" v-wow data-wow-delay="1.2s" data-wow-duration="1.7s">
                        <div class="badge">
                            <p>26 april</p>
                        </div>
                        <img :src="`${$baseUrl}/images/news-3.png`" class="img-fluid">
                        <h3 class="wow fadeInUp" v-wow data-wow-delay=".9s" data-wow-duration="1.5s">MONOTONECTALLY BUILD DISTINCTIVE CONVERGENCE AND AN ATTEMPT</h3>
                        <p class="wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.7s">Sed non mauris vitae erat consequat vitae auctor eu in elit. Class aptent taciti non sociosqu ad...</p>
                        <a href="#" class="wow fadeInUp" v-wow data-wow-delay="1.6s" data-wow-duration="2.3s">READ MORE</a>
                    </div>
                </div>

            </div>

            <!--<div class="row">
                <div class="col-12 text-center">
                    <a href="#" class="read-btn">BROWSE ALL</a>
                </div>
            </div>-->
        </div>
    </section>
</template>
<script>
    export default {
        data(){
            return {}
        },
        mounted() {
            new WOW().init();
        },
    }
</script>
