<template>
    <section class="auto-bazaar" id="advertisers">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="images/car.png" class="img-fluid wow fadeInRight"  data-wow-delay=".8s" data-wow-duration="1.5s" alt="">
                    <h2 class="wow  fadeInUp"  data-wow-delay=".5s" data-wow-duration="1s">Advertisers</h2>
                </div>
            </div>
            <carousel class="slider owl-carousel owl-theme"
                        :loop="true"
                        :margin="20"
                        :dots="false" 
                        :autoplay="true"
                        :autoplayTimeout="3000"
                        :autoplayHoverPause="true"
                        :responsiveClass="true"
                        :responsive="{ 0: { items: 1, nav: false }, 600: { items: 2, nav: false }, 1000: { items: 3, nav: true, } }"
            >
             <!-- <div class="item" v-for="img in banners" :key="img">
                        <img :src="img.image" class="img-fluid" alt="" data-toggle="modal" data-target=".auto-bazaar-modal" @click="selectedImage = index">
                </div> -->
                <div class="item" v-for="(img,index) in images" :key="img">
                        <img :src="img" class="img-fluid" alt="" data-toggle="modal" data-target=".auto-bazaar-modal" @click="selectedImage = index">
                </div>
                <!-- <div class="item">
                    <img src="images/auto-2.png" class="img-fluid" alt="" data-toggle="modal" data-target=".auto-bazaar-modal">
                </div>
                <div class="item">
                    <img src="images/auto-3.png" class="img-fluid" alt="" data-toggle="modal" data-target=".auto-bazaar-modal">
                </div> -->
            </carousel>
        </div>
        <!-- Modal start-->
        <div class="modal fade active-ad-modal auto-bazaar-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header p-0 border-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="main-image">
                            <img :src="images[selectedImage]" class="img-fluid" alt="">
                        </div> 
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end here-->
    </section>
</template>
<script>
 import carousel from 'vue-owl-carousel';
    export default {
        components: { carousel },
        data(){
            return {
                images: [
                    "images/auto-1.png",
                    "images/auto-2.png",
                    "images/auto-3.png",
                ],
                selectedImage: 0,
                banners:[]
            }
        },
        mounted() {
            new WOW().init();
             this.loadBanners();
        },
        methods:{
            loadBanners(){
                axios.get('banners').then(({data}) => {
                    this.banners = data;
                    console.log('banners', this.banners)
                });
            }
        }
    }
</script>
