<template>
    <!--find-dealer start here-->
    <section class="car-for-sale my-60 ">
        <div class="container">
            <!--dealer top start here-->
            <div class="dealer-top">
                <div class="row">
                    <div class="col-12">
                        <h2>Cars Available For Sale</h2>
                        
                    </div>
                </div>
                <form action="">
                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6 form-group">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="search here" spellcheck="true">
                        </div>
                        <div class="col-12 col-lg-4 col-xl-4 col-md-6 ">
                            <div class="row">
                                <div class="col-md-6  form-group">
                                    <select @change="loadModals(make_id)" class="form-control" v-model="make_id">
                                        <option value="">All Makes</option>
                                        <option :value="make.id" v-for="make in makes" :key="make.id">{{ make.name }}</option>
                                    </select>
                                </div>
                                <div class="col-md-6  form-group">
                                    <select class="form-control" v-model="model_id">
                                        <option value="">All Models</option>
                                        <option :value="model.id" v-for="model in models" :key="model.id">{{ model.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 col-xl-4 col-md-6 ">
                            <div class="row">
                                <div class="col-md-6  form-group">
                                    <select class="form-control" v-model="year_from">
                                        <option value="">year from</option>
                                        <option :value="y" v-for="y in allYears">{{ y }}</option>
                                    </select>
                                    <select class="form-control" v-model="year_to">
                                        <option value="">year to</option>
                                        <option :value="y" v-for="y in allYears">{{ y }}</option>
                                    </select>
                                </div>
                                <div class="col-md-6  form-group">
                                    <button type="button" @click="getLatestAds(1)" class="form-control">search</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <!--dealer top end here-->

            <!--dealer middle start here-->
            <div class="dealer-middle" v-if="featuredCars.length">
                <div class="row">
                    <div class="col-12">
                        <h2>Featured cars</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-3 col-sm-6 col-12" v-for="(car, index) in featuredCars" v-bind:key="car.id">
                        <div class="box">
                            <router-link v-if="user" :to="{ name: 'ad.details', params: { id: car.id }}">
                                <div class="img-box">
                                    <img :src="car.medias[0].file_name" class="img-fluid w-100 " alt="Car Image">
                                    <p>Featured</p>
                                </div>
                            </router-link>
                             <div v-else class="img-box">
                                    <img :src="car.medias[0].file_name" class="img-fluid w-100 " alt="Car Image">
                                    <p>Featured</p>
                                </div>
                            <div class="box-bottom">
                                <div class="d-flex justify-content-between align-items-center">
                                    <router-link v-if="user" :to="{ name: 'ad.details', params: { id: car.id }}">
                                        <h3>${{ car.price }}</h3>
                                    </router-link>
                                     <h3 v-else>${{ car.price }}</h3>

                                    <i @click="markAsFavourite(car.id, 'featuredCars')" class="fa-heart" :class="{ fa: wishlist_ids.includes(car.id), far: !wishlist_ids.includes(car.id) }"></i>
                                </div>
                                <router-link v-if="user" :to="{ name: 'ad.details', params: { id: car.id }}">
                                    <p>{{ car.name }} </p>
                                    <!--                                    <p>{{ car.model.year }} {{ car.make.name }} </p>-->
                                </router-link>
                                 <p v-else>{{ car.name }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--dealer middle end here-->

            <!--dealer bottom start here-->
            <div class="dealer-bottom">
                <div class="row">
                    <div class="col-12">
                        <h2>Total Ad Found: <span>{{ adsCount }}</span></h2>
                    </div>
                </div>
                <div class="all-cars">
                    <div class="row" v-for="car in cars.data">
                        <div class="col-12">
                            <div class="card">
                                <div class="media media d-lg-flex d-block">
                                    <card-slider :medias="car.medias"></card-slider>
                                    <div class="media-body">
                                        <h4>
                                            <i @click="markAsFavourite(car.id, 'cars')" class="fa-heart" :class="{ fa: wishlist_ids.includes(car.id), far: !wishlist_ids.includes(car.id) }"></i>
                                            {{ "Active" }}
                                        </h4>
                                        <h2>{{ car.condition }}</h2>
                                        <div class="d-sm-flex d-block justify-content-between">
                                            <div class="">
                                                <h3>{{ car.name }} </h3>
                                                <!--<h3>{{ car.model.year }} {{ car.make.name }} </h3>-->
                                            </div>
                                            <div class="">
                                                <h2>${{ car.price }}</h2>
                                            </div>
                                        </div>
                                        <h6>Listing id: <span>{{ car.id }}</span></h6>
                                        <p>{{ car.description }}</p>
                                        <router-link v-if="user" :to="{ name: 'ad.details', params: { id: car.id }}" class="red readmore">Read more</router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-class red mt-4" type="button" v-if="cars.current_page < cars.last_page" @click="getLatestAds(cars.current_page + 1)">Load more</button>
                    </div>

                </div>
            </div>
            <!--dealer bottom end here-->
        </div>
    </section>
</template>

<script>
    import carousel from 'vue-owl-carousel'
    import CardSlider from "../components/CardSlider";
    export default {
        components: { carousel, CardSlider },
        data(){
            return {
                makes: [],
                models: [],
                featuredCars: [],
                cars: {data:[]},
                adsCount:0,
                wishlist_ids:[],
                make_id: '',
                model_id: '',
                year: '',
                year_from: '',
                year_to: '',
            }
        },
        mounted() {
            if(this.$route.query)
            {
                for (let prop in this.$route.query) this[prop] = this.$route.query[prop];

                this.loadModals(this.make_id);
            }

            this.getLatestAds();
            this.loadMakes();
        },
        methods:{
            getLatestAds(page = 1){
                axios.get(`/ads?page=${page}&make=${this.make_id}&model=${this.model_id}&year_between=${this.year_from},${this.year_to}`)
                .then(({data}) => {
                    this.featuredCars = data.featuredCars;
                    const carsResult = JSON.parse(data.cars);

                    if(page === 1)
                        this.cars.data = carsResult.data;
                    else
                        this.cars.data.push(...carsResult.data);

                    this.cars.current_page = carsResult.current_page;
                    this.cars.last_page = carsResult.last_page;
                    this.adsCount = data.adsCount;
                    this.wishlist_ids = data.wishlist_ids;
                });
            },
            /*loadMakes(){
                axios.get(`/makes`)
                .then(({data}) => {
                    this.makes = data;
                });
            },
            loadModals(){
                axios.get(`/modals?make_id=${this.make_id}`)
                .then(({data}) => {
                    this.models = data;
                });
            },*/
            markAsFavourite(id){
                const action = this.wishlist_ids.includes(id)? 'remove': 'add';
                axios.put(`wishlist/${action}`, {ad_id : id})
                .then(data => {
                    if(action === 'remove')
                        this.wishlist_ids.splice(this.wishlist_ids.indexOf(id), 1);
                    else
                        this.wishlist_ids.push(id);
                        this.$toastr.success(data.data.message, "Success");
                });
            },
        },
        computed: {
            /*years(){
                return this.models.map(({ year }) => year)
            }*/
        }
    }
</script>

<style>
    .dealer-middle .img-box p{
        z-index: 1;
    }
    .dealer-bottom .card a.readmore {
        display: inline-block;
        color: white;
        padding: 10px 15px;
    }

</style>
