<template>
    <section class="login dealer-account">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <div class="register-main my-60">
                        <h2>{{ $route.meta.title }}</h2>
                        <p>{{ $route.meta.description }}</p>
                        <div class="form-main">
                            <!--fields start here-->
                            <form action="" @submit.prevent="changePassword">
                                <div class="fields">
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <i class="fa fa-key"></i>
                                            <input type="password" v-validate="{required: 'required', min: 8}" name="current password" v-model="password.current_password" class="form-control" placeholder="Current Password">
                                            <span v-if="errors.has('current password')">{{ errors.first('current password') }}</span>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <i class="fa fa-key"></i><input type="password" name="new password" v-validate="'required|confirmed:password_confirmation'" v-model="password.password" spellcheck="true" class="form-control" placeholder="New Password ">
                                            <span v-if="errors.has('new password')">{{ errors.first('new password') }}</span>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <i class="fa fa-key"></i><input type="password" name="password confirmation" ref="password_confirmation" v-validate="'required'" spellcheck="true" class="form-control" placeholder="Re-enter New Password ">
                                        </div>
                                    </div>
                                    <button type="submit" class="form-control">update</button>
                                    <!--fields end here-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                password: {
                    current_password: '',
                    password: '',
                }
            }
        },
        mounted() {
        },
        methods: {
            save(){
                axios.post('/password-change', this.password)
                    .then(data => {
                        this.$toastr.success(data.data.message, "Success");
                        window.history.back();
                    });
            },
            changePassword(){
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;
                    this.save();
                });
            },
        },
    }
</script>
