<template>
    <section class="ad-payment my-60">
        <div class="container">

            <div class="all-cars">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div id="oj-chat-window"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</template>
<script>
    import carousel from 'vue-owl-carousel'
    import CardSlider from "../components/CardSlider";
    import TheMask from 'vue-the-mask';
    import CardExpiry from "../../../Validations/CardExpiry";
    export default {
        components: { carousel, CardSlider, TheMask },
        data(){
            return {
                APP_ID : 'ea7126a627d1859537ec45d9ee5d4f20',
                APP_KEY : 'a76507f0155ccea95f4c9af5663ccb64',
                DOMAIN : 'https://dev74.onlinetestingserver.com',
                CHAT_ELEMENT : '#oj-chat-window',
            }
        },
        mounted () {
            this.createThread();
            this.initChat(window.user.id, this.$route.params.toId)

        },
        methods: {
            initChat(fromID, toID){
                ocs.init({
                    appid: this.APP_ID,
                    appkey: this.APP_KEY,
                    domain: this.DOMAIN,
                    global: '0',
                    id: fromID,
                    toid: toID,
                    colorScheme: '04053d',
                    element: this.CHAT_ELEMENT,
                });
            },
            createThread(){
                axios.post('threads', { dealer_id : this.$route.params.toId })
                .then(({data}) => {
                    console.log(data);
                })
            }
        }
    }
</script>
<style>
    .owl-carousel{
        display: block;
    }
    .dealer-bottom .card a.readmore {
        display: inline-block;
        color: white;
        padding: 10px 15px;
    }
</style>
