<template>
   <section class="contact-admin-main">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-12">
                    <div class="contact-admin my-60">

                        <img src="images/contact.png" class="img-fluid" alt="">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h1>contact us</h1>
                            </div>
                        </div>

                        <form action="" @submit.prevent="submit">
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" v-model="contact.email" name="email" v-validate="'required|email'" placeholder="Enter Email" class="form-control">
                                    <span class="text-danger" v-if="errors.has('email')">{{ errors.first('email') }}</span>
                                </div>
                                <div class="col-12 form-group">
                                    <label for="subject">Subject</label>
                                    <input type="text" id="subject" v-model="contact.subject" name="subject" v-validate="'required'" placeholder="Subject here" class="form-control">
                                    <span class="text-danger" v-if="errors.has('subject')">{{ errors.first('subject') }}</span>
                                </div>
                                <div class="col-12 form-group">
                                    <label for="message">Message</label>
                                    <textarea  id="message" name="message" v-model="contact.message" v-validate="'required'" spellcheck="true" class="form-control" placeholder="message here"/>
                                    <span class="text-danger" v-if="errors.has('message')">{{ errors.first('message') }}</span>
                                </div>
                                <div class="col-12 form-group">
                                    <button type="submit" class="form-control"> send</button>
                                </div>
                            </div>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data(){
            return {
                contact: {
                    email:'',
                    subject: '',
                    message: ''
                }
            }
        },
        methods:{
            submit(){
                this.$validator.validateAll().then( result => {
                    if(!result) return;

                    axios.post('contact', this.contact)
                        .then(({data}) => {
                            this.$toastr.success(data.message, 'Success');

                            this.contact.email = '';
                            this.contact.subject = '';
                            this.contact.message = '';

                            this.$validator.reset()
                        })
                        .catch(e => this.$toastr.error(e.response.data || e.response.statusText, 'Error'));
                });
            }
        }
    }
</script>

