<template>
    <section class="ad-payment my-60">
        <div class="container">

            <div class="all-cars">
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <ul class="list-unstyled" v-if="threads">
                                <li class="media" v-for="thread in threads" :key="thread.id" @click="selectedUserId = thread.sender.id !== user.id? thread.sender.id : thread.recipient.id" :class="{ active: selectedUserId === thread.sender.id }">
                                    <template v-if="user.id !== thread.sender.id">
                                        <img :src="thread.sender.image" class="mr-3" :alt="thread.sender.name">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">{{ thread.sender.name }} </h5>
                                        </div>
                                    </template>
                                    <template v-else>
                                        <img :src="thread.recipient.image" class="mr-3" :alt="thread.recipient.name">
                                        <div class="media-body">
                                            <h5 class="mt-0 mb-1">{{ thread.recipient.name }}</h5>
                                        </div>
                                    </template>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card">
                            <div id="oj-chat-window" :ref="`chatWindow`"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</template>
<script>
    import carousel from 'vue-owl-carousel'
    import CardSlider from "../components/CardSlider";
    import TheMask from 'vue-the-mask';
    import CardExpiry from "../../../Validations/CardExpiry";
    export default {
        components: { carousel, CardSlider, TheMask },
        data(){
            return {
                APP_ID : 'ea7126a627d1859537ec45d9ee5d4f20',
                APP_KEY : 'a76507f0155ccea95f4c9af5663ccb64',
                DOMAIN : 'https://dev74.onlinetestingserver.com',
                CHAT_ELEMENT : '#oj-chat-window',
                threads: undefined,
                selectedUserId: undefined,
                user: window.user,
            }
        },
        mounted () {
            this.loadThreads();
        },
        methods: {
            initChat(){
                this.$refs.chatWindow.innerHTML = '';
                ocs.init({
                    appid: this.APP_ID,
                    appkey: this.APP_KEY,
                    domain: this.DOMAIN,
                    global: '0',
                    id: this.user.id,
                    toid: this.selectedUserId,
                    colorScheme: '04053d',
                    element: this.CHAT_ELEMENT,
                });
            },
            loadThreads(){
                axios.get(`${this.dealer? 'users': 'dealers'}-threads?`)
                .then(({data}) => {
                    this.threads = data;
                    const firstThread = this.threads[0];
                    if(firstThread)
                        this.selectedUserId = this.user.id !== firstThread.sender.id? firstThread.user_id: firstThread.dealer_id;
                })
            }
        },
        computed: {
            dealer(){
                return  this.user && this.user.is_dealer;
            }
        },
        watch: {
            'selectedUserId': 'initChat'
        }
    }
</script>
<style scoped lang="scss">
    li {
        margin-bottom: 5px;
        img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
        .media-body {
            display: flex;
            align-self: center;
        }
        &.media{
            border-radius: 5px;
            padding: 10px;
            &.active {
                background: #ccc;
            }
        }
    }
</style>
