<template>
    <section class="dealer-profile my-60 d-dealer-car" v-if="dealer">
        <div class="container">
            <div class="row">
                <div class="content-header-right breadcrumbs-right breadcrumbs-top col-12 ">
                    <div class="breadcrumb-wrapper ">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><router-link :to="{ name: 'user.find.dealer' }">dealers</router-link> </li>
                            <li class="breadcrumb-item active">Dealer Profile</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!--dealer bottom start here-->
            <div class="dealer-bottom">
                <div class="all-cars">
                    <!--result card start here-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="media d-lg-flex d-block align-items-center">
                                    <card-slider :medias="dealer.medias"></card-slider>
                                    <div class="media-body">
                                        <h3>{{ dealer.name }}</h3>
                                        <ul>
                                            <star-rating :read-only="true" :rating="Number(dealer.ratings_avg)"
                                                         v-bind:star-size="18"></star-rating>
                                            <li>
                                                <p>({{ dealer.ratings_avg || 0 }})</p>
                                            </li>
                                            <li>
                                                <h3>{{ dealer.ratings_count }} Reviews</h3>
                                            </li>
                                        </ul>
                                        <div class="text-right" v-if="isFeatured">
                                            <a style="cursor: default;" href="#" @click.prevent="()=>{}" class="visit">Featured</a>
                                        </div>
                                        <p><i class="fa fa-map-marker-alt"></i> {{ dealer.address }}</p>
                                        <a :href="`https://maps.google.com/?q=${dealer.address}`" target="_blank"><i class="fa fa-map-pin"></i> {{ dealer.zipcode }}</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--result card end here-->

                </div>
            </div>
            <!--dealer bottom end here-->

            <div class="dealer-bottom dealer-tabs">
                <ul class="nav nav-tabs nav-underline no-hover-bg">
                    <li class="nav-item" style="cursor: pointer;" @click.prevent="currentTab = 'overview'">
                        <a class="nav-link" :class="{ active: currentTab === 'overview'}">Overview</a>
                    </li>
                    <li class="nav-item" style="cursor: pointer;" @click.prevent="currentTab = 'listing'">
                        <a class="nav-link" :class="{ active: currentTab === 'listing'}">Listed Cars</a>
                    </li>
                    <li class="nav-item" style="cursor: pointer;" @click.prevent="currentTab = 'reviews'">
                        <a class="nav-link" :class="{ active: currentTab === 'reviews'}">Reviews</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane overview" :class="{ active: currentTab === 'overview'}">
                        <div class="row">
                            <div class="col-lg-8 col-12">
                                <section class="slider">
                                    <div id="slider" class="flexslider">
                                        <ul class="slides">
                                            <li>
                                                <img src="images/car-card.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-2.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-3.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-1.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-2.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-3.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-1.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-2.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-3.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-2.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-1.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-3.png"/>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="carousel" class="flexslider">
                                        <ul class="slides">
                                            <li>
                                                <img src="images/bus-2.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-3.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-1.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-2.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-3.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-1.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-2.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-3.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-2.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-1.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-3.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-2.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-3.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-1.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-2.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-3.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-1.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-2.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-3.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-2.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-1.png"/>
                                            </li>
                                            <li>
                                                <img src="images/bus-3.png"/>
                                            </li>
                                        </ul>
                                    </div>
                                </section>

                                <h2>about</h2>
                                <p>{{ dealer.about }}</p>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="contact-detail">
                                    <h4>Contact Details </h4>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13004082.928417291!2d-104.65713107818928!3d37.275578278180674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2s!4v1567084232751!5m2!1sen!2s" width="100%" height="142" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                    <ul>
                                        <li><a :href="`https://maps.google.com/?q=${dealer.address}`" target="_blank">{{ dealer.address }}</a></li>
                                        <li><a :href="`https://maps.google.com/?q=${dealer.address}`">{{ dealer.zipcode }}</a></li>
                                        <li><a :href="`tel:${dealer.contact}`">{{ dealer.contact }}</a></li>
                                        <li><a href="mailto:email@address.com">{{dealer.email}}</a></li>
                                    </ul>
                                    <!--<a href="chat.php" class="chat">chat</a>-->
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--tab 1 end-->

                    <div class="tab-pane listed-cars" :class="{ active: currentTab === 'listing'}">
                        <!--dealer middle start here-->
                        <div class="car-for-sale">
                            <div class="dealer-middle">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>Featured cars</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-lg-3 col-sm-6 col-12" v-for="ad in dealer.featuredAds">
                                        <router-link :to="{ name: 'ad.details', params: { id: ad.id } }">
                                            <div class="box">
                                                <div class="img-box">
                                                    <img :src="ad.medias[0].file_name" class="img-fluid w-100 " alt="">
                                                    <p>Featured</p>
                                                </div>
                                                <div class="box-bottom">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <h3>{{ ad.price | currency }}</h3>
                                                    </div>
                                                    <p>{{ ad.year }} {{ ad.make.name }} {{ ad.model.name }}</p>
                                                </div>
                                            </div>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                            <div class="dealer-bottom">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>All Cars</h2>
                                    </div>
                                </div>
                                <div class="all-cars">
                                    <div class="row">
                                        <div class="col-12" v-for="ad in dealer.ads.data">
                                            <router-link :to="{ name: 'ad.details', params: {id: ad.id } }" class="w-100">
                                                <div class="card">
                                                    <div class="media d-lg-flex d-block align-items-center">
                                                        <card-slider :medias="ad.medias" />
                                                        <div class="media-body">
                                                            <div class="d-flex justify-content-between">

                                                                <h2>{{ ad.condition }}</h2>
                                                                <h4>{{ numberToStatus(ad.status) }}</h4>
                                                            </div>
                                                            <div class="d-sm-flex d-block justify-content-between">
                                                                <div class="">
                                                                    <h3>{{ ad.year }} {{ ad.make.name }} {{ ad.model.name }}</h3>
                                                                    <h3>{{ ad.year }}</h3>
                                                                </div>
                                                                <div class="">
                                                                    <h2>{{ ad.price | currency }}</h2>
                                                                </div>
                                                            </div>
                                                            <h6>Listing id: <span>{{ ad.id }}</span></h6>
                                                            <p>{{ ad.description }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--dealer bottom end here-->
                    </div>
                    <div class="tab-pane dealer-review" :class="{ active: currentTab === 'reviews'}">
                        <div class="row">
                            <div class="col-12">

                                <ul class="rating top-rating d-flex align-items-center">
                                    <li><h2>Ratings</h2></li>
                                    <star-rating :read-only="true" :rating="Number(dealer.ratings_avg)"
                                                 v-bind:star-size="18"></star-rating>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="review" v-for="review in dealer.ratings.data">
                                    <div class="media">
                                        <img :src="review.author.image" class="img-fluid w-100" :alt="review.author.name">
                                        <div class="media-body">
                                            <h3>{{ review.author.name }} <span>{{ review.created_at | date('arif') }}</span></h3>
                                            <ul class="rating">
                                                <!--<star-rating :read-only="dealer.current_review.id !== review.id" :rating="review.rating"-->
                                                <star-rating :read-only="true" :rating="Number(review.rating)"
                                                             v-bind:star-size="18"></star-rating>

                                            </ul>
                                            <p>{{ review.body }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="bottom-rating">
                                    <review-form :dealer="dealer.id" @rated="rated($event)" :disabled="dealer.current_review"></review-form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--tab 2 end-->
                </div>
            </div>
        </div>
    </section>

</template>

<script>
    import CardSlider from "../components/CardSlider";
    import ReviewForm from '../components/ReviewFormComponent';
    import StarRating from 'vue-star-rating';
    export default {
        components: { CardSlider, ReviewForm, StarRating },
        data(){
            return {
                dealer: undefined,
                currentTab: 'listing'
            }
        },
        mounted() {
            this.getDealer();
        },
        methods:{
            getDealer(){
                axios.get(`/dealers/${this.$route.params.id}`)
                .then(({data}) => this.dealer = data);
            },
            rated(review){
                this.dealer.ratings.data.push({
                    "id": review.id,
                    "rating": review.rating,
                    "body": review.body,
                    "reviewrateable_type":"dealers",
                    "reviewrateable_id": this.dealer.id,
                    "author_type":"users",
                    "author_id": review.author.id,
                    "created_at": review.created_at,
                    "author": review.author
                })
            },
            makeImage(medias){
                if(!medias.length) return '';
                console.log(medias[0].image);
                return medias[0].image;
            }
        },
        computed: {
            isFeatured(){
                if(!this.dealer.featured_end_at)
                    return false;
                let expireAt = new Date(this.dealer.featured_end_at);
                return new Date() <= expireAt;
            }
        }
    }
</script>
