<template>
    <section class="login dealer-account" v-if="user">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-12">
                    <form class="register-main my-60" @submit.prevent="save">
                        <h2 >Dealer Account Information </h2>
                        <div class="attached">
                            <img :src="user.image" class="img-full" :alt="user.name">
                            <image-cropper :source="user.image" :is-active="showCropper"
                                           @imageClosed="showCropper = false"
                                           @imageResult="(image) => { user.image = image; showCropper = false; }"></image-cropper>
                            <button type="button" name="file" class="change-cover" onclick="document.getElementById('upload').click()">
                                <div class="ca"><i class="fa fa-camera"></i></div>
                            </button>
                            <input type="file" id="upload" name="file" @change="fileChanged">
                            <input type="hidden" v-model="user.image">
                        </div>
                        <div class="form-main">
                            <!--fields start here-->
                            <div class="fields">
                                <div class="row">
                                    <div class="col-lg-6 col-12 form-group">
                                        <i class="fa fa-user"></i>
                                        <input type="text" class="form-control" v-model="user.first_name" name="first name" v-validate="'required'" placeholder="first Name">
                                        <span class="text-danger" v-if="errors.has('first name')">{{ errors.first('first name') }}</span>
                                    </div>
                                    <div class="col-lg-6 col-12 form-group">
                                        <i class="fa fa-user"></i>
                                        <input type="text" class="form-control" v-model="user.last_name" name="last_name" v-validate="'required'" placeholder="last Name">
                                        <span class="text-danger" v-if="errors.has('last name')">{{ errors.first('last name') }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <i class="fa fa-building"></i><input type="text" class="form-control" v-model="user.company" name="company" v-validate="'required'" placeholder="Company Name ">
                                        <span class="text-danger" v-if="errors.has('company')">{{ errors.first('company') }}</span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <i class="fa fa-envelope"></i><input type="email" class="form-control" v-model="user.email" name="email" v-validate="'required|email'" placeholder="Email">
                                        <span class="text-danger" v-if="errors.has('email')">{{ errors.first('email') }}</span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <i class="fa fa-phone"></i>
                                            <the-mask :mask="'+1 (###) ###-####'" id="phone" type="text" v-model="user.contact" name="phone" v-validate="`required|numeric|digits:10`" class="form-control" placeholder="+1 (xxx)-xxx-xxxx"></the-mask>
                                        <span class="text-danger" v-if="errors.has('phone')">{{ errors.first('phone') }}</span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <i class="fa fa-map"></i>
                                        <input ref="autocomplete"
                                               placeholder="Address"
                                               class="form-control"
                                               onfocus="value = ''"
                                               v-model="user.address"
                                               id="address"
                                               name="address"
                                               type="text" />
                                        <span class="text-danger" v-if="errors.has('address')">{{ errors.first('address') }}</span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <i class="fa fa-globe"></i>
                                        <input type="text" v-model="user.city " name="city" v-validate="'required'" class="form-control" placeholder="City">
                                        <span class="text-danger" v-if="errors.has('city')">{{ errors.first('city') }}</span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <i class="fa fa-map-pin"></i><input type="number" v-model="user.zipcode" name="zipcode" v-validate="'required'" class="form-control" placeholder="zip code">
                                        <span class="text-danger" v-if="errors.has('zipcode')">{{ errors.first('zipcode') }}</span>
                                    </div>
                                </div>
                                <button type="submit" class="form-control">save</button>
                                <!--fields end here-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</template>

<script>
    import {TheMask} from 'vue-the-mask'
    import ImageCropper from "../../../js/components/ImageCropper";
    export default {
        components: { TheMask, ImageCropper },
        data(){
            return {
                user: window.user,
                componentForm: {
                    locality: 'long_name',
                    administrative_area_level_1: 'short_name',
                    country: 'long_name',
                    postal_code: 'short_name'
                },
                showCropper: false
            }
        },
        mounted() {
            this.getDealer();
            this.setupAutoCompleteAddress();
        },
        methods:{
            getDealer(){
                axios.get(`/dealers/${this.user.id}`)
                    .then(({data}) => {
                        this.user = data;
                    })
            },
            fileChanged(e){
                Array.from(e.target.files).forEach(file => {
                    let fileReader = new FileReader();
                    let that = this;
                    // when image is loaded, set the src of the image where you want to display it
                    fileReader.onload = function(e) {
                        that.user.image = this.result;
                        that.showCropper = true;
                    };
                    fileReader.readAsDataURL(file);
                })
            },
            save(){
                this.$validator.validateAll().then(result => {
                    if(!result) return;
                    axios.post(`/dealers/${this.user.id}`, this.user).then(data => {
                        this.$toastr.success(data.data.message, 'Success');
                        // window.history.back();
                    })
                });
            },

            setupAutoCompleteAddress(){
                this.autocomplete = new google.maps.places.Autocomplete(
                    (this.$refs.autocomplete),
                    {types: ['address']}
                );

                this.autocomplete.addListener('place_changed', (d) => {
                    let place = this.autocomplete.getPlace();
                    this.onPlaceChanged(place);
                });
            },

            onPlaceChanged(place) {
                this.user.address = place.formatted_address;
                const fields = {
                    locality: 'city',
                    administrative_area_level_1: 'state',
                    country: 'country',
                    postal_code: 'zipcode'
                };

                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];

                    if (this.componentForm[addressType]){
                        console.log(addressType, place.address_components[i][this.componentForm[addressType]]);

                        this.user[fields[addressType]] = place.address_components[i][this.componentForm[addressType]];
                    }
                }
            },
        }
    }
</script>
