<template>
    <section class="dealer-profile my-60 d-edit" v-if="dealer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>dealer overview</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-xl-flex d-block justify-content-between">
                    
                    <router-link :to="{ name: 'user.profile', query: {'featured': 'yes'} }" class="red">feature profile</router-link>
                </div>
            </div>

            <form class="row" @submit.prevent="save">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <div class="dealer-box-main">
                        <div class="top">
                            <img :src="dealer.image" class="img-fluid" alt="">
                            <h3>{{ dealer.name }}</h3>
                        </div>
                        <div class="middle">
                            <h3>About </h3>
                            <textarea name="about" v-validate="'required'" id="" v-model="dealer.about" placeholder="" class="form-control" rows=""></textarea>
                            <p class="text-danger" v-if="errors.has('about')">{{ errors.first('about') }}</p>
                            <h3>Upload Pictures</h3>
                            <ul>
                                <li v-if="dealer.medias" v-for="(file, index) in dealer.medias">
                                    <i class="fa fa-times" @click="deleteFile(index)"></i>
                                    <img :src="file.file_name" class="img-fluid" alt="">
                                </li>
                                <li>
                                    <div class="upload-img">
                                        <button name="file" type="button" class="upload-cover" onclick="document.getElementById('upload').click()">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                        <input type="file" id="upload" name="file" @change="fileChanged" multiple>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="bottom text-center">
                            <button type="submit" class="red">save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return {
                dealer: window.user,
            }
        },
        mounted() {
            this.getDealer();
        },
        methods:{
            getDealer(){
                axios.get(`/dealers/${this.dealer.id}`)
                    .then(({data}) => {
                        this.dealer = data;
                        this.dealer.deletedMedia = [];
                        this.dealer.filesBinary = this.dealer.medias.map(file => file.file_name);
                    })
            },
            fileChanged(e){
                Array.from(e.target.files).forEach(file => {
                    // console.log(URL.createObjectURL(file));
                    let fileReader = new FileReader();
                    let that = this;
                    this.dealer.filesBinary.push(file);
                    // when image is loaded, set the src of the image where you want to display it
                    fileReader.onload = function(e) {
                        that.dealer.medias.push({ file_name: this.result, id: undefined });
                    };
                    fileReader.readAsDataURL(file);
                })
            },
            deleteFile(index){
                this.$dialog.confirm('are you sure you like to remove this file.')
                .then(result => {
                    if(!result) return;
                    if(this.dealer.medias[index].id)
                        this.dealer.deletedMedia.push(this.dealer.medias[index].id);
                    this.dealer.medias.splice(index, 1);
                    this.dealer.filesBinary.splice(index, 1);
                })
            },
            save(){
                this.$validator.validateAll().then(result => {
                    if(!result) return;

                    const data = new FormData();

                    for (let key in this.dealer) {
                        if(key === 'filesBinary')
                            this.dealer.filesBinary.forEach(file => {
                                if(file instanceof File)
                                    data.append('files[]', file)
                            });
                        else
                            data.append(key, this.dealer[key]);
                    }
                    axios.post(`/dealers/${this.dealer.id}`, data).then(data => {
                        this.$toastr.success(data.data.message, 'Success');
                        // window.history.back();
                    })
                })
            }
        }
    }
</script>
<style scoped>
    .d-edit ul li {
        position: relative;
    }

    .d-edit ul li i.fa-times {
        position: absolute;
        right: 5px;
        top: 5px;
        background: #00000073;
        color: white;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .d-edit ul li:hover i.fa-times {
        opacity: 1;
    }
</style>
