<template>
    <div class="container" id="packageContainer">
        <div class="change-package">
            <h2>Feature Your {{this.type? 'profile': 'ad'}} </h2>
            <h3>Please choose package</h3>
            <form action="">
                <div class="row">

                    <div class="col-md-6 col-lg-4 col-12" v-for="p in packages">
                        <div class="box" :class="{ active: selectedPackage && p.id === selectedPackage.id }">
                            <div class="box-top">
                                <h2>{{ p.title }}</h2>
                            </div>
                            <div class="box-middle">
                                <h3><sub>$</sub>{{ p.price }}</h3>
                                <p>Upto {{ p.no_images }} Photos</p>
                                <p>Feature for {{ p.months }} days</p>
                                <button class="pur form-control" type="button" @click="selectedPackage = p">Select</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8 offset-md-2 text-center">
                        <a href="#" class="red form-control" @click.prevent="selectPackage()">confirm</a>
                        <a href="#" class="red form-control" @click.prevent="$emit('onCancel')">back</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal fade" id="paymentModal" tabindex="-1" v-if="selectedPackage" data-backdrop='static' role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="paymentModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2>Payment Details:</h2>
                        <h3>Total Amount: <span>${{ selectedPackage.price }}</span></h3>
                        <h4>{{ selectedPackage.title }}</h4>
                        <h5>Please provide your payment information </h5>
                        <form action="" @submit.prevent="subscribe">
                            <!-- <input type="hidden" name="price" v-model="details.price" :value="selectedPackage.price" />
                            <input type="hidden" name="id" :value="selectedPackage.id" /> -->
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" name="card holder name" v-validate="'required'" v-model="details.name" placeholder="Card Holder Name " class="form-control" spellcheck="true">
                                    <span class="text-danger" v-if="errors.has('card holder name')">{{ errors.first('card holder name') }}</span>
                                </div>

                                <div class="col-12">
                                    <the-mask type="text" name="card number" v-model="details.number" mask="#### #### #### ####" v-validate="'required|min:16|max:16'" placeholder="Card Number" class="form-control" spellcheck="true"/>
                                    <span class="text-danger" v-if="errors.has('card number')">{{ errors.first('card number') }}</span>
                                </div>

                                <div class="col-md-6 col-12">
                                    <the-mask type="text" name="cvc" mask="###" v-model="details.cvc" v-validate="'required|min:3|max:3'" placeholder="CVC" class="form-control" spellcheck="true"/>
                                    <span class="text-danger" v-if="errors.has('cvc')">{{ errors.first('cvc') }}</span>
                                </div>
                                <div class="col-md-6 col-12">
                                    <the-mask type="text" name="expiry" v-model="details.expiry" :masked="true" v-validate="'required'" mask="##/####" placeholder="Expiry" class="form-control"/>
                                    <span class="text-danger" v-if="errors.has('expiry')">{{ errors.first('expiry') }}</span>
                                </div>
                                <div class="col-12">
                                    <label class="check">By doing this i am agreeing to the terms and conditions
                                        <input type="checkbox" name="term" v-model="termsAccepted" v-validate="'required'" :checked="termsAccepted">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="text-danger" v-if="errors.has('term')">{{ errors.first('term') }}</span>
                                </div>
                            </div>
                        </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" @click="subscribe">Subscribe</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { TheMask } from 'vue-the-mask';
    export default {
        props: ["type"],
        components: { TheMask },
        data(){
            return {
                packages: [],
                selectedPackage: null,
                details: {
                    name: '',
                    number: '',
                    exp_month: '',
                    exp_year: '',
                    cvc: '',
                    expiry: '',
                    price: '',
                    id: '',
                },
                
                termsAccepted: false
            }
        },
        mounted() {
            this.getPackages();
            document.querySelector('.banner-area h1').style.display = 'none';
        },
        methods:{
            selectPackage(){
                if(!this.selectedPackage) {
                    this.$toastr.warning("Please Select any of the package.", "Warning");
                    return;
                }

                $('#paymentModal').modal('show');
            },
            async subscribe(){
                const result = await this.$validator.validateAll();
                if(!result) return;

                try {

                    const d = { ...this.details };
                    d.price = this.selectedPackage.price;
                    d.package_id = this.selectedPackage.id;

                    const { data } = axios.put(`subscribe`, d);
                            
                    $('#paymentModal').modal('hide');
    
                    let pkg = this.packages.filter(p => p.id === this.selectedPackage.id);
                    
                    this.$emit('packageSelected', pkg[0]);
                    this.$toastr.success("Thank you for featuring your profile", 'Success')
                } catch (error) {
                    this.$toastr.error(error.response.statusText, 'Error')
                }

            },
            getPackages(){
                axios.get(`packages?type=${this.type? 'profile': 'ad'}`).then(({data}) => {
               // axios.get(`packages?type=${dealer? 'dealer_ad': 'ad'}`).then(({data}) => {
                    this.packages = data;
                    window.scrollTo(0, document.getElementById('packageContainer').offsetTop);
                });
            },
        },
        watch: {
            'expiry': function(){
                const x = this.expiry.split('/');
                if (x.length < 2) return false;
                this.details.exp_year = x[1];
                this.details.exp_month = x[0];
            }
        }
    }
</script>

<style>
    .box.active{
        border-color: #a40000
    }
</style>
