<template>
    <!--find-dealer start here-->
    <section class="find-dealer my-60">
        <div class="container">
            <!--dealer top start here-->
            <div class="dealer-top">
                <div class="row">
                    <div class="col-12">
                        <h2>{{ $route.meta.title }}</h2>
                        <p>{{ $route.meta.description }}</p>
                    </div>
                </div>
                <form action="">
                    <div class="row">
                        <div class="col-12 col-lg-4 col-md-6 form-group">
                            <i class="fa fa-search"></i>
                            <input type="text" v-model="searchText" @input="getDealers()" class="form-control" placeholder="search here" spellcheck="true">
                        </div>
                    </div>
                </form>
            </div>

            <div class="dealer-middle">
                <div class="row">
                    <div class="col-12">
                        <h2>Featured Dealer profiles</h2>
                    </div>
                </div>
                <div class="row">

                    <router-link :to="{ name: 'dealers.detail', params: { id: dealer.id } }" class="col-md-4 col-lg-3 col-sm-6 col-12 d-flex" v-for="dealer in featuredDealers" :key="dealer.id">
                        <div class="box w-100">
                            <div class="img-box">
                                <img v-if="dealer.medias[0]" :src="dealer.medias[0].file_name" class="img-fluid w-100 " alt="">
                                <img v-else src="https://i0.wp.com/www.carwestautosales.com/wp-content/themes/motors-child/assets/images/automanager_placeholders/plchldr255automanager.png?w=1170&ssl=1" class="img-fluid w-100 " alt="">
                                <p>Featured</p>
                            </div>
                            <div class="box-bottom">
                                <h3>{{ dealer.name }}</h3>
                                <ul>
                                    <star-rating :read-only="true" :rating="dealer.ratings_avg" v-bind:star-size="18"></star-rating>
                                    <li><p>({{ dealer.ratings_avg || 0 }})</p></li>
                                </ul>
                                <p><i class="fa fa-map-marker-alt"></i>{{ dealer.address }}</p>
                                <a :href="`https://maps.google.com/?q=${dealer.address}`" target="_blank">google map</a>
                            </div>
                        </div>
                    </router-link>
                </div>

            </div>

            <!--dealer middle end here-->


            <!--dealer bottom start here-->
            <div class="dealer-bottom">

                <div class="all-cars" v-if="dealers.data.length > 0">
                    <div class="row">
                        <div class="col-12">
                            <h2>More Result</h2>
                        </div>
                    </div>

                    <!--result card start here-->
                    <div class="row" v-for="dealer in dealers.data">
                        <div class="col-12">
                            <div class="card">
                                <div class="media d-lg-flex d-block align-items-center">

                                    <card-slider :medias="dealer.medias" />

                                    <div class="media-body">
                                        <div class="d-sm-flex d-block justify-content-between card-top">
                                            <div class="">
                                                <h3>{{ dealer.name }}</h3>
                                            </div>
                                            <div class="">
                                                <h4>Cars listed</h4>
                                                <h5>{{ dealer.ads_count }}</h5>
                                            </div>
                                        </div>

                                        <ul>
                                            <star-rating :read-only="true" :rating="Number(dealer.ratings_avg)"
                                                         v-bind:star-size="18"></star-rating>
                                            <li>
                                                <p>({{ dealer.ratings_avg || 0 }})</p>
                                            </li>
                                            <li>
                                                <h3>{{ dealer.ratings_count }} Reviews</h3>
                                            </li>
                                        </ul>

                                        <div class="d-sm-flex d-block justify-content-between">
                                            <div class="">
                                                <a :href="`https://maps.google.com/?q=${dealer.address}`" target="_blank"><i class="fa fa-map-marker-alt"></i>{{ dealer.address }}</a>
                                                <a :href="`tel:${dealer.contact}`"><i class="fa fa-phone"></i>{{ dealer.contact }}</a>
                                                <!--<a href="mailto:email@address.com"><i class="fa fa-envelope"></i>{{ dealer.email }}</a>-->
                                            </div>
                                            <div class="">
                                                <router-link :to="{ name: 'dealers.detail', params: { id: dealer.id } }" class="visit"> visit profile</router-link>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--result card end here-->
                </div>
            </div>
            <!--dealer bottom end here-->
        </div>
    </section>
</template>

<script>
    import carousel from 'vue-owl-carousel'
    import CardSlider from "../components/CardSlider";
    import StarRating from 'vue-star-rating';
    export default {
        components: { carousel, CardSlider, StarRating },
        data(){
            return {
                makes: [],
                models: [],
                featuredDealers: [],
                dealers: {data:[]},
                make_id: '',
                model_id: '',
                year: '',
                searchText: '',
            }
        },
        mounted() {
            this.getDealers();
            this.loadMakes();
        },
        methods:{
            getDealers(page = 1){
                axios.get(`/dealers?page=${page}&make=${this.make_id}&model=${this.model_id}&year=${this.year}&name=${this.searchText}`)
                .then(({data}) => {
                    this.featuredDealers = data.featuredDealers;

                    if(page === 1)
                        this.dealers.data = data.dealers.data;
                    else
                        this.dealers.data.push(...data.dealers.data);

                    this.dealers.current_page = data.dealers.current_page;
                    this.dealers.last_page = data.dealers.last_page;
                });
            },
        },
        computed: {
        }
    }
</script>
<style>
    span.vue-star-rating-rating-text {
        display: none;
    }

    .vue-star-rating {
        float: left;
    }
</style>
