<template>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="forget-pass">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    <div class="modal-body">
                        <h1>Password Recovery</h1>
                        <form action="" @submit.prevent="register">
                            <div class="row">
                                <div class="col-12 form-group">
                                    <input type="text" name="email" v-model="email" placeholder="Enter email address" class="form-control">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <p class="text-danger" v-if="error">{{ error }}</p>
                                <div class="col-12">
                                    <button type="submit" class="form-control red" id="cont"> Send Passord Link <i class="fa fa-angle-right"></i></button>
                                </div>
                                <a href="#" data-dismiss="modal" aria-label="Close" id="forgotClose"><i class="fa fa-arrow-left"></i> back to login</a> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                email: '',
                error: '',
            }
        },
        mounted() {},
        methods:{
            register(){
                axios.post('password/email', {email: this.email}).then(({data}) => {
                    this.$toastr.success(data.message, 'Success');
                    document.getElementById('forgotClose').click();
                }).catch(e => this.$toastr.error(e.response.data || e.response.statusText, 'Error'));
            }
        }
    }
</script>
