<template>
    <section class="my-listing my-60">
        <div class="container">
            <div class="dealer-bottom dealer-tabs">
                <ul class="nav nav-tabs nav-underline no-hover-bg">
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;" :class="{ active: status === '0,1,2,3,4,5' }" @click="getLatestAds(1,'0,1,2,3,4,5', 0)">
                            Total Ads <span>({{ adsCount }})</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;" :class="{ active: status === '2' }" @click="getLatestAds(1,'2', 0)">
                            Active <span>({{ activeAdsCount }})</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;" :class="{ active: status === '0' }" @click="getLatestAds(1,'0', 0)">
                            Pending <span>({{ pendingAdsCount }})</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="cursor: pointer;" :class="{ active: status === '3,4' }" @click="getLatestAds(1,'3,4', 0)">
                            Inactive <span>({{ inactiveAdsCount }})</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane total-ads active" :class="{ 'pending-ad': status === '0' }">
                        <div class="car-for-sale">
                            <div class="dealer-bottom">
                                <div class="all-cars">
                                    <!--card start here-->
                                    <div class="row" v-for="car in carData" v-bind:key="car.id">
                                        <div class="col-12">
                                            <router-link :to="{ name: 'ad.details', params: { id: car.id } }" class="d-block" >
                                                <div class="card" v-if="status === '0,1,2,3,4,5'">
                                                    <div class="media media d-lg-flex d-block">
                                                        <card-slider :medias="car.medias"/>

                                                        <div class="media-body">
                                                            <ul>
                                                                <li v-if="car.featured">Featured</li>
                                                                <li>{{ numberToStatus(car.status) }}</li>
                                                                <li v-if="car.soled">Sold</li>
                                                                <li v-if="car.status === status.PENDING_PAYMENT">Pending Payment</li>
                                                            </ul>
                                                            <h2>{{ car.condition }}</h2>
                                                            <div class="d-sm-flex d-block justify-content-between">
                                                                <div class="">
                                                                    <h3>{{ car.year }} {{ car.make.name }} {{ car.model.name }} </h3>
                                                                </div>
                                                                <div class="">
                                                                    <h2>${{ car.price }}</h2>
                                                                </div>
                                                            </div>
                                                            <h6>Listing id: <span>{{ car.id }}</span></h6>
                                                            <p>{{ car.description }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card" v-else>
                                                <div class="media media d-lg-flex d-block">

                                                    <card-slider :medias="car.medias"/>

                                                    <div class="media-body">
                                                        <h4 v-if="car.status === 0 || car.soled === 1">Status: <span>{{ car.status === 0? 'In Review': car.soled === 1? 'Sold': '' }}</span>
                                                            <div class="btn-group">
                                                                <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="fa fa-ellipsis-v"></i>
                                                                </button>
                                                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(4px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                    <a class="dropdown-item" href="#" @click.prevent="deleteAd(car.id)">
                                                                        <i class="fa fa-trash"></i>delete
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </h4>
                                                        <ul>
                                                            <li v-if="car.featured">Featured</li>
                                                            <li v-if="car.status === status.ACTIVE">active</li>
                                                            <li v-if="car.soled">Sold</li>
                                                            <li v-if="car.status === status.PENDING_PAYMENT">Pending Payment</li>
                                                        </ul>
                                                        <h2>{{ car.condition }}</h2>
                                                        <div class="d-sm-flex d-block justify-content-between">
                                                            <div class="">
                                                                <h3>{{ car.year }} {{ car.make.name }} {{ car.model.name }} </h3>
                                                            </div>
                                                            <div class="">
                                                                <h2>${{ car.price }}</h2>
                                                            </div>
                                                        </div>
                                                        <h6>Listing id: <span>{{ car.id }}</span></h6>
                                                        <p>{{ car.description }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            </router-link>
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p v-if="carData.length === 0">No record found!</p>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-class red mt-4" type="button" v-if="cars.current_page < cars.last_page" @click="getLatestAds(cars.current_page + 1, status, soled)">Load more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    import carousel from 'vue-owl-carousel'
    import CardSlider from "../components/CardSlider";
    export default {
        components: { carousel, CardSlider },
        data(){
            return {
                cars: {},
                // status: '0,1,2,3,4,5',
                status: '0',
                adsCount: 0,
                pendingAdsCount: 0,
                activeAdsCount: 0,
                inactiveAdsCount: 0,
                soled: 0,
                carData: [],
                inActive: false,
            }
        },
        mounted() {
            this.getLatestAds();
        },
        methods:{
            async getData(page = 1, status = '0,1,2,3,4,5', soled = 0){
                this.soled = 0;
                this.status = status;
                if(this.inActive)
                    return await axios.get(`/my-listing?page=${page}&inactive=1`);
                else
                    return await axios.get(`/my-listing?page=${page}&status=${status}&soled=${soled}`);
            },
            getLatestAds(page = 1, status = '0,1,2,3,4,5', soled = 0){
                this.soled = soled;
                this.status = status;
                this.inActive = status === '' && soled === 0;
                this.getData(page, status, soled).then(response => {
                    let data = response.data;
                    const carsResult = JSON.parse(data.cars);

                    if(page === 1)
                        this.carData = carsResult.data;
                    else
                        this.carData.push(...carsResult.data);

                    this.cars.current_page = carsResult.current_page;
                    this.cars.last_page = carsResult.last_page;
                    this.adsCount = data.adsCount;
                    this.activeAdsCount = data.activeAdsCount;
                    this.inactiveAdsCount = data.inactiveAdsCount;
                    this.pendingAdsCount = data.pendingAdsCount;
                });
            },
            deleteAd(id){
                this.$dialog
                    .confirm(`Are you sure you want to approve this Ad?`)
                    .then(dialog => {
                        axios.delete(`/my-listing/${id}`).then(d => {
                            this.$toastr.success(d.data.message, 'Success', {});
                            this.getLatestAds(1, this.status, this.soled);
                            dialog.close();
                        }).catch(d => {});
                    })
            }
        }
    }
</script>

