<template>
    <div class="container" id="packageContainer">
        <div class="change-package">
            <h2>Feature Your Ad </h2>
            <h3>Please choose package</h3>
            <form action="">
                <div class="row">

                    <div class="col-md-6 col-lg-4 col-12" v-for="p in packages">
                        <div class="box" :class="{ active: p.id === selectedPackageId }">
                            <div class="box-top">
                                <h2>{{ p.title }}</h2>
                            </div>
                            <div class="box-middle">
                                <h3><sub>$</sub>{{ p.price }}</h3>
                                <p>Upto {{ p.no_images }} Photos</p>
                                <p>Feature for {{ p.months }} days</p>
                                <button class="pur form-control" type="button" @click="selectedPackageId = p.id">Select</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8 offset-md-2 text-center">
                        <a href="#" class="red form-control" @click.prevent="selectPackage()">confirm</a>
                        <a href="#" @click.prevent="$emit('onCancel')">back</a>
                       
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    import SaleYourCarComponent from "./SaleYourCarComponent";
    export default {
        props: ["type"],
        data(){
            return {
                packages: [],
                selectedPackageId: null
            }
        },
        mounted() {
            this.getPackages();
            document.querySelector('.banner-area h1').style.display = 'none';
        },
        methods:{
            selectPackage(){
                if(!this.selectedPackageId) {
                    this.$toastr.warning("Please Select any of the package.", "Warning");
                    return
                }

                let pkg = this.packages.filter(p => p.id === this.selectedPackageId);
                this.$emit('packageSelected', pkg[0]);

                // axios.put('subscribe', {'package_id': this.selectedPackageId})
                // .then(({data}) => {
                //     this.$emit('packageSelected', package[0]);
                // })
            },
            getPackages(){
               // console.log("user", user);
                //axios.get(`packages?type=${this.type? 'profile': 'ad'}`).then(({data}) => {
                axios.get(`packages?type=${(user.is_dealer==1) ? 'dealer_ad': 'ad'}`).then(({data}) => {
                    this.packages = data;
                    window.scrollTo(0, document.getElementById('packageContainer').offsetTop);
                });
            }
        },
    }
</script>

<style>
    .box.active{
        border-color: #a40000
    }
</style>
