<template>
    <div class="preloader-overlay">
        <div id="dots">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</template>

<script>
    export default {  }
</script>

<style lang="scss" scoped>
    .preloader-overlay{
        background: rgba(4, 4, 61, .2);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000;

        #dots {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 50px;
            width: 50px;
            margin: -25px 0 0 -25px;
            transform: scale(3)
        }

        #dots span {
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #a40000;
            -webkit-animation: dots 1.7s infinite ease-in-out both;
            animation: dots 1.7s infinite ease-in-out both;
            margin-right: 5px;
        }

        #dots span:nth-child(1) {
            left: 0px;
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }

        #dots span:nth-child(2) {
            left: 15px;
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

        #dots span:nth-child(3) {
            left: 30px;
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        #dots span:nth-child(4) {
            left: 45px;
            -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
        }
    }

    @keyframes dots {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 0;
        }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }
    @-webkit-keyframes dots {
        0%, 80%, 100% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 0;
        }
        40% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }
</style>
