<template>
    <section class="terms pad-100">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div v-html="page.description"></div>
                </div>
            </div>
        </div>
        
    </section>
</template>
<script>
    export default {
        data(){
           return {
                base_url: window.base_url,
                page: {},
                page_name: {},
            }
        },
        mounted() {
            this.getPage();
            new WOW().init();
        },
        methods: {
            getPage(){
                axios.get(`/pages/2`)
                    .then(data => {
                        this.page = data.data;
                        this.page_name = data.data.title;
                        console.log('page',this.page);
                    });
            },
        }
    }
</script>

<style>
   
    .list{list-style: decimal !important;}
    .ulist{list-style: disc !important;}
    .list li{margin: 10px;}
    .ulist li{margin: 10px;}
    .ulf li{margin: 5px;}
</style>