<template>
    <section class="profile-main" v-if="!user.is_dealer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-xl-6 offset-xl-3 offset-md-2 col-12">
                    <div class="profile-inner my-60">

                        <div class="row">
                            <div class="col-12">
                                <img :src="user.image" :alt="user.name" class="img-fluid" @error="src = `${$baseUrl}/images/inv.png`">
                                <h1>{{ user_name }} </h1>
                            </div>
                        </div>
                        <form @submit.prevent="submit()">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <label for="name">Name(here)</label>
                                    <input type="text" placeholder="Enter name" v-validate="'required'" name="name" :disabled="!isEditing" id="name" class="form-control" spellcheck="true" v-model="user.name">
                                    <span class="text-danger" v-if="errors.has('name')">{{ errors.first('name') }}</span>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label for="phone">Phone</label>
                                    <the-mask :mask="'+1 (###) ###-####'" id="phone" v-validate="`required|digits:10`" :disabled="!isEditing" v-model="user.contact" class="form-control" name="phone" placeholder="+1 (xxx)-xxx-xxxx"/>
                                    <span class="text-danger" v-if="errors.has('phone')">{{ errors.first('phone') }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" placeholder="Enter Email Address" v-validate="`required|email`" readonly :disabled="!isEditing" class="form-control" spellcheck="true" v-model="user.email">
                                </div>
                                <div class="col-lg-6 col-12">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" placeholder="Enter password" :disabled="!isEditing" class="form-control" spellcheck="true" v-model="password">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 text-center">
                                    <button type="submit">{{ isEditing? 'save': 'edit' }}</button>
<!--                                    <button type="button" @click="isEditing = true" v-if="!isEditing">edit</button>-->
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dealer-profile my-60" v-else>
        <div class="container" v-if="!choosingPackage">
            <div class="row">
                <div class="col-12">
                    <h2>dealer overview</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-xl-flex d-block justify-content-between">
                    <p>{{ user.about }}</p>
                    <a href="#" @click.prevent="choosingPackage = true" @onCancel="choosingPackage = false" class="red">feature profile</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <div class="dealer-box-main">
                        <div class="top">
                            <img :src="user.image" class="img-fluid" alt="">
                            <h3>{{ user.name }}</h3>
                            <router-link :to="{ name: 'dealer.profile.edit' }" class="red">Edit</router-link>
                        </div>

                        <div class="middle">
                            <h3>About </h3>
                            <p>{{ user.about }}</p>
                            <h3>Upload Pictures</h3>
                            <img :src="media.file_name" class="img-fluid" :alt="media.file_name" v-for="media in user.medias">
                        </div>

                        <div class="bottom" v-if="user.ratings">
                            <ul>
                                <li><h3>Ratings </h3></li>
                                <star-rating :read-only="true" :rating="Number(user.ratings_avg)"
                                             v-bind:star-size="18"></star-rating>
                            </ul>

                            <div class="media" v-for="review in user.ratings.data">
                                <img :src="review.author.image" class="img-fluid" :alt="review.author.name">
                                <div class="media-body">
                                    <h4>{{ review.author.name }}</h4>
                                    <ul>
                                        <star-rating :read-only="true" :rating="Number(review.rating)"
                                                     v-bind:star-size="18"></star-rating>
                                    </ul>
                                    <p>{{ review.body }}</p>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <FeaturePackages v-else="choosingPackage" @packageSelected="packageSelected" @onCancel="choosingPackage = false" :type="'profile'"/>
    </section>

</template>
<script>
    import FeaturePackages from "./FeaturePackagesComponent";
    import { TheMask } from 'vue-the-mask'
    import StarRating from 'vue-star-rating';
    export default {
        components: { TheMask, FeaturePackages, StarRating },
        data(){
            return {
                isEditing: false,
                user: window.user,
                dealer: window.dealer,
                password: '',
                choosingPackage: false,
                user_name: window.user.name,
            }
        },
        mounted() {
            this.dealer = this.user.is_dealer || false;
            if (this.dealer)
            {
                this.getDealer();
            }
        },
        methods:{
            submit(){
                if(!this.isEditing){
                    this.isEditing = true;
                    return;
                }
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;

                    axios.put('profile', {
                        name: this.user.name,
                        contact: this.user.contact,
                        email: this.user.email,
                        password: this.password,
                    })
                    .then(data => {
                        this.isEditing = false;
                        this.$toastr.success(data.data.message, 'Success');
                    })
                });
            },
            packageSelected(pkg){
                this.dealer.package_id = pkg.id;
                this.choosingPackage = false;
                document.querySelector('.banner-area h1').style.display = 'block';
            },
            getDealer(){
                axios.get(`/dealers/${this.user.id}`)
                .then(({data}) => {
                    this.dealer = data;
                    this.user = data;
                   
                })
            }
        }
    }
</script>
