<template>
    <div>
        <Preloader v-if="inProgress" />
        <!-- Modal -->
        <div class="modal fade" id="rg-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="forget-pass">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                        <div class="modal-body">
                            <h1 class="text-center">Seller/Dealer Registration</h1>
                            <form action="" @submit.prevent="register">
            <div class="row">
                <div class="col-12 col-md-6 form-group">
                    <label for="">
                        <input type="radio" name="type" v-model="user.type" value="0">
                        Seller
                    </label>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <label for="">
                        <input type="radio" name="type" v-model="user.type" value="1">
                        Dealer
                    </label>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <input type="text" name="first_name" v-validate="'required'" v-model="user.first_name" placeholder="First Name" class="form-control">
                    <i class="fa fa-user"></i>
                    <span class="text-danger">{{ errors.first('first_name') }}</span>
                </div>
                <div class="col-12 col-md-6 form-group">
                    <input type="text" name="last_name" v-validate="'required'" v-model="user.last_name" placeholder="Last Name" class="form-control">
                    <i class="fa fa-user"></i>
                    <span class="text-danger">{{ errors.first('last_name') }}</span>
                </div>
                <div class="col-12 form-group">
                    <input type="text" name="company" v-model="user.company" placeholder="Company Name" class="form-control">
                    <i class="fa fa-user-circle"></i>
                    <span class="text-danger">{{ errors.first('company') }}</span>
                </div>

                <div class="col-12 form-group">
                    <input type="email" name="email" v-validate="'required'" v-model="user.email" placeholder="Email" class="form-control">
                    <i class="fa fa-envelope"></i>
                    <span class="text-danger">{{ errors.first('email') }}</span>
                </div>

                <div class="col-12 form-group">
                    <the-mask mask="+1 (###) ### ####" :masked="true" name="phone number" v-validate="'required|length:17'" v-model="user.contact" placeholder="Phone Number" class="form-control"/>
                    <i class="fa fa-phone"></i>
                    <span class="text-danger" v-if="errors.has('phone number')">The phone number field is required and must be valid.</span>
                </div>

                <div class="col-12 form-group">
                    <!--<input type="text" name="address" v-validate="'required'" v-model="user.address" placeholder="Address" class="form-control">-->

                    <input ref="autocomplete"
                           name="address"
                           v-validate="'required'"
                           placeholder="Address"
                           class="form-control"
                           id="address"
                           type="text" />

                    <i class="fa fa-map"></i>
                    <span class="text-danger">{{ errors.first('address') }}</span>
                </div>
                <div class="col-12 form-group">
                    <input type="text" name="city" v-validate="'required'" v-model="user.city" placeholder="City" class="form-control">
                    <i class="fa fa-globe"></i>
                    <span class="text-danger">{{ errors.first('city') }}</span>
                </div>
                 <div class="col-12 form-group">
                    <input type="text" name="country" v-validate="'required'" v-model="user.country" placeholder="Country" class="form-control">
                    <i class="fa fa-globe"></i>
                    <span class="text-danger">{{ errors.first('country') }}</span>
                </div>
                <div class="col-12 form-group">
                    <input type="text" name="zipcode" v-validate="'required'" v-model="user.zipcode" placeholder="Zip Code" class="form-control">
                    <i class="fa fa-map-pin"></i>
                    <span class="text-danger">{{ errors.first('zipcode') }}</span>
                </div>

                <div class="col-12 form-group">
                    <input type="password" name="password" v-validate="{required: 'required', min: 8}"  v-model="user.password" placeholder="Password" class="form-control">
                    <i class="fa fa-key"></i>
                    <span class="text-danger">{{ errors.first('password') }}</span>
                </div>

                <div class="col-12 form-group">
                    <input type="password" name="password_confirmation" v-validate="{required: 'required', min: 8}"  v-model="user.password_confirmation" placeholder="Confirm Password" class="form-control">
                    <i class="fa fa-key"></i>
                    <span class="text-danger">{{ errors.first('password_confirmation') }}</span>
                </div>

                <div class="col-12">
                    <label for="terms-and-conditions" class="checkcontainer">
                        <a :href="`${baseUrl}/terms-and-conditions`" class="d-inline">
                            I Accept terms &amp; Conditions
                        </a>
                        <input type="checkbox" v-validate="'required'" v-model="user.agreed" name="terms and condition" checked="checked" id="terms-and-conditions">
                        <span class="checkboxcheckmark"></span>
                    </label>
                    <span class="text-danger">{{ errors.first('terms and condition') }}</span>
                </div>
                <div class="col-12">
                    <button type="submit" class="form-control red" id="">Register</button>
                </div>
                <a href="#" data-dismiss="modal" aria-label="Close"><i class="fa fa-arrow-left"></i>back to login</a></div>
        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--register modal end here-->
    </div>
</template>
<style scope>
    .pac-container{
        z-index: 10000000
    }
</style>
<script>
    import { TheMask } from 'vue-the-mask'
    import Preloader from "../views/PreloaderComponent";
    export default {
        components: { TheMask, Preloader },
        data(){
            return {
                inProgress: false,
                user: {
                    first_name:'',
                    last_name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    address: '',
                    country: '',
                    city: '',
                    zipcode: '',
                    type: '0',
                    agreed: false,
                },
                baseUrl: window.base_url,
                componentForm: {
                    locality: 'long_name',
                    administrative_area_level_1: 'short_name',
                    country: 'long_name',
                    postal_code: 'short_name'
                },
                autocomplete: undefined
            }
        },
        mounted() {
            setTimeout(this.setupAutoCompleteAddress, 100);
        },
        methods:{
            setupAutoCompleteAddress(){
                this.autocomplete = new google.maps.places.Autocomplete(
                    (this.$refs.autocomplete),
                    {types: ['geocode']}
                );

                this.autocomplete.addListener('place_changed', (d) => {
                    let place = this.autocomplete.getPlace();
                    this.onPlaceChanged(place);
                    this.user.address = this.$refs.autocomplete.value;
                });
            },
            onPlaceChanged(place) {
                const fields = {
                    locality: 'city',
                    administrative_area_level_1: 'state',
                    country: 'country',
                    postal_code: 'zipcode'
                };

                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];

                    if (this.componentForm[addressType]){

                        this.user[fields[addressType]] = place.address_components[i][this.componentForm[addressType]];
                    }
                }
            },
            register(){
                this.$validator.validateAll().then( result => {
                    if(!result) return;

                    this.inProgress = true;

                    axios.post('register', this.user).then(({data}) => {
                        document.getElementById('loginEmail').value = this.user.email;
                        document.getElementById('loginPassword').value = this.user.password;
                        document.getElementById('loginForm').submit();
                    }).catch(e => {
                        const errors = e.response.data.errors;
                        for (let field in errors) {
                            this.errors.add({ // to do
                                field: field,
                                msg: errors[field][0]
                            })
                        }
                        this.inProgress = false;
                        this.$toastr.error(e.response.data || e.response.statusText, 'Error');
                    });
                });
            }
        }
    }
</script>
