<template>
    <div class="col-md-4 col-lg-3 col-sm-6 col-12">
        <div class="box">
            <div class="img-box">
                <img src="images/car-card.png" class="img-fluid w-100 " alt="">
                <p>Featured</p>
            </div>
            <div class="box-bottom">
                <h3>{{ dealer.name }}</h3>
                <ul>
                    <li class="active"><i class="fa fa-star"></i>
                    </li>
                    <li class="active"><i class="fa fa-star"></i>
                    </li>
                    <li class="active"><i class="fa fa-star"></i>
                    </li>
                    <li class=""><i class="fa fa-star"></i>
                    </li>
                    <li class=""><i class="fa fa-star"></i>
                    </li>
                    <li class="">
                        <p>({{ dealer.ratings_avg }})</p>
                    </li>
                </ul>
                <p><i class="fa fa-map-marker-alt"></i>{{ dealer.address }}</p>
                <a :href="`https://maps.google.com/?q=${dealer.address}`" target="_blank">google map</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['dealer'],
        components: { },
        data(){ return { } },
        mounted() { },
        methods: { }
    }
</script>
