<template>
    <section class="my-60" :class="{'sell-your-car' : !choosingPackage, 'change-package-main': choosingPackage}">
        <div class="container" v-if="!choosingPackage">
            <div class="row">
                <div class="col-12">
                    <h3>Place a listing Now</h3>
                </div>
            </div>
            <!--step form start here-->
            <form id="regForm" action="" @submit.prevent="submit" enctype="multipart/form-data">
                <div class="d-flex justify-content-between text-center tabbs" style="margin-top:60px;">
                    <span class="text">
                        <span class="step" :class="{ 'active': !preview }"></span>
                        <h4>Ad details </h4>
                    </span>
                    <span class="text">
                        <span class="step" :class="{ 'active': preview }"></span>
                        <h4>Review</h4>
                    </span>
                </div>
                <!-- One "tab" for each step in the form: -->
                <div class="tab" :class="{ active: !preview }" :style="{ display: preview? 'none' : 'block' }">
                    <div class="row">
                        <div class="col-12">
                            <h2>Basic Vehicle Information</h2>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <label for="year">Year</label>
                                <select name="year" id="year" class="form-control" v-model="car.year" v-validate="'required'">
                                    <option value="">Choose year</option>
                                    <option :value="year" v-for="year in years">{{ year }}</option>
                                </select>
                                <span v-if="errors.has('year')" class="text-danger">{{ errors.first('year') }}</span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="make">Make</label>
                                <select name="make" id="make" class="form-control" v-model="car.make_id" @change="loadModals(car.make_id)" v-validate="'required'">
                                    <option value="">Choose make</option>
                                    <option :value="make.id" v-for="make in makes">{{ make.name }}</option>
                                </select>
                                <span v-if="errors.has('make')" class="text-danger">{{ errors.first('make') }}</span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="model">model</label>
                                <select name="model" id="model" class="form-control" v-model="car.model_id" v-validate="'required'">
                                    <option value="">Choose model</option>
                                    <option :value="model.id" v-for="model in models">{{ model.name }}</option>
                                </select>
                                <span v-if="errors.has('model')" class="text-danger">{{ errors.first('model') }}</span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="condition">condition</label>
                                <select name="condition" id="condition" v-model="car.condition" class="form-control" v-validate="'required'">
                                    <option value="">Choose condition</option>
                                    <option value="new">New</option>
                                    <option value="used">Used</option>
                                </select>
                                <span v-if="errors.has('condition')" class="text-danger">{{ errors.first('condition') }}</span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="mileage">Mileage</label>
                                <input type="number" name="mileage" v-model="car.mileage" id="mileage" placeholder="6,000 Km" class="form-control" v-validate="'required'">
                                <span v-if="errors.has('mileage')" class="text-danger">{{ errors.first('mileage') }}</span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="transmission">Transmission </label>
                                <select name="transmission" v-model="car.transmission" id="transmission" class="form-control" v-validate="'required'">
                                    <option value="">Choose Transmission</option>
                                    <option value="automatic">Automatic</option>
                                    <option value="manual">Manual</option>
                                    <span v-if="errors.has('transmission')" class="text-danger">{{ errors.first('transmission') }}</span>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="fuel_type">Fuel Type</label>
                                <select name="fuel_type" id="fuel_type" v-model="car.fuel_type" class="form-control gas" v-validate="'required'">
                                    <option value="">Choose fuel type</option>
                                    <option value="gasoline">Gasoline</option>
                                    <option value="diesel">Diesel</option>
                                    <option value="electric">Electric</option>
                                    <option value="hybrid">Hybrid</option>
                                </select>
                                <span v-if="errors.has('fuel_type')" class="text-danger">{{ errors.first('fuel_type') }}</span>
                            </div>
                             <div class="col-md-6 col-12">
                                <label for="zipcode">Zip Code</label>
                               <v-select v-model="car.zipcode"  @search="onSearch" name="zipcode" :filterable="false" :options="options" label="zipcode" :reduce="zipcode => zipcode.zipcode"></v-select>
                                <span v-if="errors.has('zipcode')" class="text-danger">{{ errors.first('zipcode') }}</span>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="vin">Vin</label>
                                <input type="text" id="vin" v-model="car.vin" name="vin" placeholder="Enter VIN" class="form-control" v-validate="'required'">
                                <span v-if="errors.has('vin')" class="text-danger">{{ errors.first('vin') }}</span>
                            </div>
                            <div class="col-12"> <h2>Price and Description</h2></div>
                            <div class="col-12">
                                <label for="price">Enter Price</label>
                                <input type="number" class="form-control" id="price" name="price" v-model="car.price" placeholder="$" v-validate="'required'">
                                <span v-if="errors.has('price')" class="text-danger">{{ errors.first('price') }}</span>
                            </div>
                            <div class="col-12">
                                <label for="description">Enter Description </label>
                                <textarea name="description" id="description" v-model="car.description" class="form-control" placeholder="Enter Description"  v-validate="'required'"></textarea>
                                <span v-if="errors.has('description')" class="text-danger">{{ errors.first('description') }}</span>
                            </div>
                            <div class="col-12">
                                <h2>Upload Pictures</h2>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12" v-for="(img,index) in car.files" v-if="car.filesCount > 0">
                                        <div class="upload-pic">
                                            <img :src="img" alt="" class="img-fluid img-thumbnail" style="max-height: 200px; ">
                                            <button type="button" @click="removeImage(index)">x</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="upload-pic" v-if="car.files.length < limit">
                                            <button name="file" type="button" class="change-cover" onclick="document.getElementById('upload').click()">
                                                <i class="fa fa-plus"></i>Add Pictures
                                            </button>
                                            <input type="file" id="upload" multiple name="file" @change="filesSelected($event)">
                                            <input type="hidden" name="images" v-validate="'required|min:1|allowedimages'" v-model="car.filesCount">
                                        </div>
                                        <span v-if="errors.has('images')" class="text-danger">{{ errors.first('images') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <p v-if="!car.package_id">you can only upload 3 Image, want to upload more images and feature your ad, take your package now</p>
                                <!--<p v-if="!car.package_id">you can only upload 1 Image want to upload more images?</p>-->
                                <!--                                <p v-if="!car.package_id">you can only upload 6 Image want to upload more images?</p>-->
                                <a href="#" class="red" id="choosePackageBtn" @click.prevent="choosingPackage = true">change package</a>
                            </div>
                            <div class="col-12">
                                <h2>Contact Information </h2>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="first_name">First name</label>
                                <input type="text" id="first_name" class="form-control" placeholder="first Name" v-model="user.first_name">
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="last_name">Last name</label>
                                <input type="text" id="last_name" class="form-control" placeholder="last Name" v-model="user.last_name">
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="contact">Contact No</label>
                                <!--<input type="number" id="contact" class="form-control" placeholder="Contact No" v-model="user.contact">-->
                                <the-mask :mask="'+1 (###) ###-####'" v-model="user.contact" class="form-control" name="contact" placeholder="+1 (xxx)-xxx-xxxx"/>
                            </div>
                            <div class="col-md-6 col-12">
                                <label for="zipcode">zip code</label>
                                <input type="number" id="" class="form-control" placeholder="zip code" v-model="user.zipcode">
                            </div>
                            <!-- <div class="col-md-6 col-12">
                                  <label for="">Email</label>
                              <input type="email" class="form-control" placeholder="Email" >
                              </div>-->
                        </div>
                    </div>
                </div>
                <div class="tab" :class="{ active: preview }" :style="{ display: !preview? 'none' : 'block' }">
                    <div class="pending-ad">
                        <div class="row">
                            <div class="col-xl-8 col-12">

                                <div class="left">
                                    <section class="slider">
                                        <div id="slider" class="flexslider">
                                            <ul class="slides">
                                                <li v-for="(image, index) in car.files">
                                                    <img :src="image"/>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="carousel" class="flexslider">
                                            <ul class="slides">
                                                <li v-for="(image, index) in car.files">
                                                    <img :src="image"/>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="col-xl-4 col-12">
                                <div class="right">
                                    <div class="row">
                                        <div class="col-12 d-flex ">
                                            <div class="box box-1 w-100">
                                                <h2>${{ car.price }}</h2>
                                                <h3>{{ car.year }} {{ make }} {{ model}} </h3>
                                                <p>{{ car.condition }}</p>
                                                <p>Listing id: <span></span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="col-12 d-flex ">
                                            <div class="box seller-info w-100">
                                                <h3>Contact Seller</h3>
                                                <div class="media">
                                                    <img :src="user.image" class="img-fluid" :alt="user.name">
                                                    <div class="media-body">
                                                        <h4>{{ user.name }}</h4>
                                                        <p>Call: {{ user.contact }}</p>
                                                        <p>Email: {{ user.email }}</p>
                                                        <!--<router-link :to="{ name: 'user.profile' }">Edit Profile </router-link>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="row">
                                <div class="col-12 col-xl-8 ">
                                    <div class="row">
                                        <div class="col-12 d-sm-flex justify-content-between">
                                            <h4>Details</h4>
                                            <button type="button" :disabled="saved" @click="preview = false" class="red prevBtn">edit</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-12">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label for="">Make</label>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <p>{{ make }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label for="">Year</label>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <p>{{ car.year }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label for="">Fuel</label>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <p>{{ car.fuel_type }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-12">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label for="">model</label>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <p>{{ model }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label for="">Mileage</label>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <p>{{ car.mileage }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label for="">Transmission</label>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <p>{{ car.transmission }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-12">
                                <div class="des">
                                    <h4>Description </h4>
                                    <p>{{ car.description }}</p>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div style="overflow:auto;">
                                <div class="d-sm-flexd d-block justify-content-between buttons">
                                    <button type="button" :disabled="saved" class="form-control red prevBtn" @click="preview = false">Previous</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div style="overflow:auto;">
                            <div class="d-sm-flexd d-block justify-content-between buttons">
                                <button type="submit" v-if="!preview" :disabled="saved" class="form-control sub red">Next</button>
                                <button type="submit" v-if="preview" :disabled="saved" class="form-control sub red">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Circles which indicates the steps of the form: -->
            </form>
            <!--step form end here-->
        </div>

        <packages v-if="choosingPackage" @packageSelected="packageSelected" @onCancel="choosingPackage = false" />

        <!-- Modal -->
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header p-0 border-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <h2>Thank You! </h2>
                        <p>Your Ad has been successfully sent <br> to admin for approval.</p>
                    </div>

                </div>
            </div>
        </div>

    </section>
</template>
<script>
    import Packages from "./PackagesComponent";
    import { TheMask } from 'vue-the-mask';
    import vSelect from 'vue-select';
    export default {
        components: { Packages, TheMask , vSelect},
        data(){
            return {
                preview: false,
                user: window.user,
                car: {
                    year: '',
                    make_id: '',
                    model_id: '',
                    condition: '',
                    mileage: '',
                    transmission: 'Automatic',
                    fuel_type: '',
                    zipcode: '',
                    vin: '',
                    price: '',
                    package_id: null,
                    files: [],
                    filesBinary: [],
                    filesCount: 0,
                    package: undefined
                },
                makes: [],
                models: [],
                package: undefined,
                choosingPackage: false,
                sliderPreview: undefined,
                sliderThumbPreview: undefined,
                saved: false,
                zipcodes: "",
                options: []
            }
        },
        created() {
            this.$validator.extend('allowedimages', {
                getMessage: field => {
                    if(this.filesCount === 0)
                        return 'The image field is required';
                    return `You can only upload upto ${this.car.package? this.car.package.no_images : 3} images, please upgrade your package in order to upload more images.`
                },
                validate: value => this.car.filesCount > 0 && this.car.filesCount <= (this.car.package? this.car.package.no_images : 3)
            });
        },
        mounted() {
            this.loadMakes();
            this.getUserPackage();
        },
        methods:{
            submit(){
                this.$validator.validateAll().then((result) => {
                    if (!result) return;
                    if(!this.preview)
                    {
                        this.preview = true;
                        return;
                    }

                    const data = new FormData();

                    for (let key in this.car) {
                        if(key === 'files')
                            this.car.filesBinary.forEach(file => data.append('files[]', file));
                        else
                            data.append(key, this.car[key]);
                    }

                    axios.post('ads', data)
                    .then(data => {
                        this.$toastr.success(data.data.message, 'Success');
                        // $('#successModal').modal('show');
                        this.$router.push({ name: 'user.mylisting'});
                        this.saved = true;
                    })
                });
            },
            filesSelected(e){
                let warningShowed = false;
                Array.from(e.target.files).forEach((file, index) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(file);
                    this.car.filesBinary.push(file);
                    reader.onload = () => {
                        if(this.car.files.length < this.limit)
                        {
                            /*this.car.files.push({
                                id: this.car.filesCount,
                                big: reader.result,
                                thumb: reader.result,
                            });*/
                            this.car.files.push(reader.result);
                            this.car.filesCount++;
                        }else if(!warningShowed){
                            this.$toastr.warning(`You can only upload upto ${this.limit} images, in order to upload more image please upgrade your package`, 'Warning');
                            warningShowed = true;
                        }
                    };
                    reader.onerror = function (error) {
                        console.log('Error: ', error);
                    };
                });
            },
            getUserPackage() {
                // axios.get('user/package').then(({data}) => {
                //     this.car.package = data;
                // });
            },
            packageSelected(pkg){
                this.getUserPackage();
                this.car.package_id = pkg.id;
                this.car.package = pkg;
                this.choosingPackage = false;
                document.querySelector('.banner-area h1').style.display = 'block';
                setTimeout(() => {
                    window.scrollTo(0, document.getElementById('choosePackageBtn').offsetParent.offsetTop - window.innerHeight);
                }, 100);
            },
            removeImage(index){
                this.$dialog.confirm('Do you really want to remove this image').then(dialog => {
                    this.car.files.splice(index, 1);
                    this.car.filesCount--;
                    dialog.close();
                });
            },
            
             onSearch(search, loading) {
                loading(true);
                this.search(loading, search, this);
            },
            search: _.debounce((loading, search, vm) => {

                if(!search)
                return;
                axios.get(`zipcodes?q=${escape(search)}`)
                
                .then(res => {
                    console.log(res.data)
                    vm.options =  res.data
                    loading(false);
                });

            }, 350)
        },
        computed: {
            make(){
                if(!this.car.make_id)
                    return '';
                const make = this.makes.filter(m => m.id === this.car.make_id);
                return make[0].name;
            },
            model(){
                if(!this.car.model_id || !this.car.make_id)
                    return '';

                const model = this.models.filter(m => m.id === this.car.model_id);

                return model.length? model[0].name : '';
            },
            years(){
                const totalYears = 50;
                const start = (new Date()).getFullYear() - totalYears;
                return Array(totalYears + 1).fill().map((_, idx) => start + idx);
                // return Array(start - end + 1).fill().map((_, idx) => start + idx)
            },
            limit(){
                return this.car.package? this.car.package.no_images: 3;
            }
        },
        watch: {
            'preview': function(){
                if(this.preview)
                {
                    setTimeout(() => {
                        $('#carousel').flexslider({
                            animation: "slide",
                            controlNav: false,
                            animationLoop: false,
                            slideshow: false,
                            itemWidth: 140,
                            itemMargin: 25,
                            asNavFor: '#slider'
                        });

                        $('#slider').flexslider({
                            animation: "slide",
                            controlNav: false,
                            animationLoop: false,
                            slideshow: false,
                            sync: "#carousel",
                            start: function (slider) {
                                $('body').removeClass('loading');
                            }
                        });
                    }, 0)
                }else {
                    $('#carousel').flexslider("destroy");
                    $('#slider').flexslider("destroy");
                }
            }
        }
    }
</script>

<style>
    html {scroll-behavior: smooth;}
    .owl-carousel{display: block;}
    .dealer-bottom .card a.readmore {display: inline-block;color: white;padding: 10px 15px;}
    .swiper-container {max-height: 350px;}
    .upload-pic button {position: absolute;top: 5px;right: 5px;background: #61616185;border: none;border-radius: 50%;width: 25px;height: 25px;text-align: center;color: white;padding: 0;font-weight: bold;opacity: 0;}
    .upload-pic:hover button {opacity: 1;}
</style>
<style >
.goog-te-gadget span {
  display:none;
} 

.goog-te-gadget {
  font-size: 0 !important;
}
.vs__actions {display: none;}
ul#vs1__listbox {
  color: #111;
}

.vs__selected-options {
  position: relative;
}

.vs__selected-options span {
  position: absolute;
  z-index: 9999;
  left: 10px;
  top: 17px;
}
</style>
