<template>
    <section class="car-for-sale my-wishlist my-60 ">
        <div class="container">
            <div class="dealer-top">
                <div class="row">
                    <div class="col-12">
                        <h2>My Wishlist</h2>
                        
                    </div>
                </div>

            </div>

            <div class="dealer-bottom">
                <div class="all-cars">
                    <!--card start-->
                    <div class="row" v-for="(car, index) in cars">
                        <div class="col-12">
                            <div class="card">
                                <div class="media media d-lg-flex d-block">

                                    <card-slider :medias="car.medias"/>

                                    <div class="media-body">
                                        <ul>
                                            <li class="fe" v-if="car.featured">Featured</li>
                                            <li>{{ numberToStatus(car.status) }}</li>
                                        </ul>
                                        <h2>{{ car.condition }}</h2>
                                        <div class="d-sm-flex d-block justify-content-between">
                                            <div class="">
                                                <h3>{{ car.year }} {{ car.make.name }} {{ car.model.name }}</h3>
                                            </div>
                                            <div class="">
                                                <h2>${{car.price}}</h2>
                                            </div>
                                        </div>
                                        <h6>Listing id: <span>{{ car.id }}</span></h6>
                                        <i class="fa fa-heart"></i>
                                        <div class="d-md-flex d-block justify-content-between">
                                            <div>
                                                <p>{{ car.description }}</p>
                                            </div>
                                            <div>
                                                <button type="button" @click="removeFromWishlist(index)">
                                                    <i class="fa fa-heart"></i>Remove from list
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--dealer bottom end here-->
        </div>
    </section>
</template>
<script>
    import carousel from 'vue-owl-carousel';
    import CardSlider from "../components/CardSlider";
    export default {
        components: { carousel, CardSlider },
        data(){
            return {
                cars: {},
                // status: '0,1,2,3',
                status: '0',
                adsCount: 0,
                pendingAdsCount: 0,
                activeAdsCount: 0,
                inactiveAdsCount: 0,
                soled: 0,
                carData: []
            }
        },
        mounted() {
            this.getLatestAds();
        },
        methods:{

            getLatestAds(page = 1){
                axios.get('wishlist').then(({data}) => {
                    this.cars = data;
                })
            },
            removeFromWishlist(index){
                const id = this.cars[index].id;
                axios.put(`wishlist/remove`, {ad_id : id})
                    .then(data => {
                        this.cars.splice(index, 1);
                        this.$toastr.success(data.data.message, 'Success');
                    });
            }
        }
    }
</script>
<style>
    .owl-carousel{
        display: block;
    }
    .dealer-bottom .card a.readmore {
        display: inline-block;
        color: white;
        padding: 10px 15px;
    }
</style>
