<template>
    <div>
        <Preloader v-if="inProgress" />
        <user-header/>
        <router-view></router-view>
        <user-footer/>
         <div id="google_translate_element2"></div>
    </div>
</template>
<script>
    import Preloader from "../views/PreloaderComponent";
    export default {
        components: { Preloader },
        data(){
            return {
                inProgress: false
            }
        },
        mounted() {
            this.registerPreloader();
        },
        methods: {
            registerPreloader(){
                axios.interceptors.request.use((config) => {
                    if(config.url.indexOf('notifications') >= 0) return config;
                    this.inProgress = true;
                    return config;
                }, (error) => {
                    this.inProgress = false;
                    return Promise.reject(error);
                });

                // Add a response interceptor
                axios.interceptors.response.use((response) => {
                    this.inProgress = false;
                    return response;
                }, (error) => {
                    this.inProgress = false;
                    return Promise.reject(error);
                });
            }
        }
    }
</script>
