<template>
    <carousel :items="1" class="slider owl-carousel owl-theme" :autoplay="true" :nav="false">
        <img :src="`${img.file_name}`" v-for="(img,index) in medias"  v-bind:key="index" v-if="medias && medias.length > 0" alt="Car Image">
        <img :src="`${img}`" v-for="(img,index) in images"  v-bind:key="index" v-if="!medias || medias.length === 0" alt="Car Image">
    </carousel>
</template>
<script>
    import carousel from 'vue-owl-carousel'
    export default {
        props: ['medias'],
        components: { carousel },
        data(){
            return {
                images: [
                    /*'https://placeimg.com/200/200/any?1',
                    'https://placeimg.com/200/200/any?2',
                    'https://placeimg.com/200/200/any?3',
                    'https://placeimg.com/200/200/any?4',*/
                    'https://i0.wp.com/www.carwestautosales.com/wp-content/themes/motors-child/assets/images/automanager_placeholders/plchldr255automanager.png?w=1170&ssl=1'
                ]
            }
        },
        mounted() {
        },
        methods:{},
    }
</script>
<style>
    .owl-carousel{
        display: block;
    }
    .dealer-bottom .card a.readmore {
        display: inline-block;
        color: white;
        padding: 10px 15px;
    }
</style>
