<template>
    <footer :style="`background: url('${$baseUrl}/images/footer-banner.png') no-repeat;background-size: cover;`">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <router-link :to="{ name: 'home'}">
                            <img :src="`${$baseUrl}/images/footer-logo.png`" class="img-fluid w-100 wow fadeIn" v-wow data-wow-delay=".5s" data-wow-duration="1s" alt="footer logo"></router-link>
                    </div>
                    <div class="col-md-6 col-12">
                        <!-- <ul>
                            <li class="wow fadeIn" v-wow data-wow-delay=".5s" data-wow-duration="1s"><a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="wow fadeIn" v-wow data-wow-delay=".8s" data-wow-duration="1.3s"><a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="wow fadeIn" v-wow data-wow-delay="1.1s" data-wow-duration="1.6s"><a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="wow fadeIn" v-wow data-wow-delay="1.4s" data-wow-duration="1.9s"><a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
            <div class="footer-bottom">

                <div class="row">
                    <div class="col-lg-4 col-12">
                        <p class="wow fadeInUp" v-wow data-wow-delay=".8s" data-wow-duration="1s">AutoBazaarUSA website is a simple to use online solution for buying and selling new and used cars. Our site is designed to make finding a vehicle easier than ever before and give you more control of the buying process. The AutoBazaarUSA website is a vehicle listing and information service that brings together buyers and sellers. AutoBazaarUSA website offer fantastic opportunity for automotive related advertisers.</p>
                        <!-- <form action="">
                            <div class="row">
                                <div class="col-12 form-group wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.3s">
                                    <input type="email" class="form-control" placeholder="Email Address">
                                    <button type="submit"><i class="fa fa-sign-in-alt"></i></button>
                                </div>
                            </div>
                        </form> -->
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 offset-lg-1">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="wow fadeInUp" v-wow data-wow-delay=".8s" data-wow-duration="1s">USEFUL LINKS</h2>
                                <ul>
                                    <li class="wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.3s"><router-link :to="{ name: 'home' }">Home</router-link></li>
                                    <!-- <li class="wow fadeInUp" v-wow data-wow-delay="1.3s" data-wow-duration="1.5"><a href="sell-your-car.php">Cars for Sale</a></li> -->
                                    <li v-if="user" class="wow fadeInUp" v-wow data-wow-delay="1.5s" data-wow-duration="1.7s"><router-link :to="{ name: 'user.find.dealer' }">Find Dealers</router-link></li>
                                    <li v-if="user" class="wow fadeInUp" v-wow data-wow-delay="1.7s" data-wow-duration="1.9s"><router-link :to="{ name: 'car.for.sale' }">Sell you Car</router-link></li>
                                    <li v-if="!user" class="wow fadeInUp" v-wow data-wow-delay="1.9s" data-wow-duration="2.1s"><router-link :to="{ name: 'contact'}">Contact Us</router-link></li>
                                </ul>
                            </div>
                            <!-- <div class="col-lg-6 col-12">
                               <h2 class="wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.3s">OUR TERMS</h2>
                               <ul class="footer-2">
                                   <li class="wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.3s"><a href="support.php">Support</a></li>
                                   <li class="wow fadeInUp" v-wow data-wow-delay="1.3s" data-wow-duration="1.5"><a href="typography.php">Typography</a></li>
                                   <li class="wow fadeInUp" v-wow data-wow-delay="1.5s" data-wow-duration="1.7s"><a href="faq.php">FAQ</a></li>
                            </ul>
                            </div> -->
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-6 col-12">
                        <div class="footer-last">
                            <h2 class="wow fadeInUp" v-wow data-wow-delay="1.3s" data-wow-duration="1.5s">You’ve questions</h2>
                            <ul class="footer-3"><li class="wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.3s"><p>Get a Quote</p><a href="tel:800-417-2048"><br>800-417-2048</a></li></ul>
                            <ul><li  class="wow fadeInUp" v-wow data-wow-delay="1.3s" data-wow-duration="1.5"><p>Send Email</p><a href="mailto:autobazaarusa@yahoo.com"><br>info@autobazaarusa.com</a></li></ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 copy-right text-center">
                    <p class="wow fadeInUp" v-wow data-wow-delay=".5s" data-wow-duration="1.5s">© Copyright 2020 Auto bazaar </p>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end here-->
</template>
<script>
    export default {
        data(){
            return {
                user: window.user
            }
        },
        mounted() {
            new WOW().init();
        },
    }
</script>
