<template>
    <div>
        <header class="header_area inner-header-main main-header">
            <div class="container">
                <div class="main_header_area animated">
                    <nav id="navigation1" class="navigation">
                        <div class="nav-header">
                            <router-link class="nav-brand" :to="{ name: 'home'}">
                                <img :src="`${$baseUrl}/images/logo.png`" alt="Site Logo">
                            </router-link>
                            <div class="nav-toggle"></div>
                        </div>
                        <div class="nav-menus-wrapper">
                            <ul class="nav-menu align-to-right">
                                <li v-if="!user">
                                    <router-link :to="{ name: 'home' }">Home</router-link>
                                </li>
                                <li v-if="!user">
                                    <router-link :to="{ name: 'about'}">About us</router-link>
                                </li>
                                <!-- <li v-if="!user">
                                    <router-link :to="{ name: 'services' }">Services</router-link>
                                </li> -->
                                <li v-if="!user">
                                     <router-link :to="{ name: 'advertisers' }" class="advertiser" v-scroll-to="'#advertisers'">advertisers</router-link>
                                    <!-- <a href="#advertisers">advertisers</a> -->
                                </li>
                                <!-- <li v-if="!user">
                                    <router-link :to="{ name: 'blog' }">blog</router-link>
                                </li> -->
                                 <li v-if="!user">
                                    <router-link :to="{ name: 'prepare.car.for.sale' }">Prepare Car For Sale</router-link>
                                </li>
                                <li v-if="!user">
                                    <router-link :to="{ name: 'contact'}">Contact</router-link>
                                </li>
                                <ul class="nav-menu align-to-right login-area" v-if="!user && !dealer">
                                    <li class="">
                                        <a :href="`${$baseUrl}/login`">login</a>
                                    </li>
                                    <li class="">
                                        <a :href="`${$baseUrl}/login?register=1`">register</a>
                                    </li>
                                </ul>
                                <li v-if="user">
                                    <router-link :to="{ name: 'car.for.sale' }">Cars for Sale</router-link>
                                </li>
                                <li v-if="user">
                                    <router-link :to="{ name: 'user.find.dealer' }">Find Dealers</router-link>
                                </li>
                                <li v-if="user">
                                    <router-link :to="{ 'name': 'sale.car'}">Sell Your Car</router-link>
                                </li>
                                <li class="dropdown dropdown-user nav-item">
                                    <div id="google_translate_element2"></div>
                               </li>
                                <ul class="nav float-right" v-if="user || dealer">
                                    <Notifications></Notifications>
                                    <li class="dropdown dropdown-notification nav-item">
                                        <router-link class="nav-link nav-link-label" :to="{ name: 'dealer_chat' }" data-toggle="dropdown">
                                            <i class="fa fa-comment"></i>
<!--                                            <span class="badge badge-pill badge-default badge-warning badge-default badge-up">3</span>-->
                                        </router-link>
                                        <!--<ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                            <li class="dropdown-menu-header">
                                                <h6 class="dropdown-header m-0">
                                                    <span class="grey darken-2">Messages</span>
                                                    <span class="notification-tag badge badge-default badge-warning float-right m-0">4 New</span>
                                                </h6>
                                            </li>
                                            <li class="scrollable-container media-list ps-container ps-theme-dark ps-active-y" data-ps-id="28072487-9c8f-9b04-5103-9c5b4c923fce">
                                                <a href="javascript:void(0)">
                                                    <div class="media">
                                                        <div class="media-left">
                                                        <span class="avatar avatar-sm avatar-online rounded-circle">
                                                            <img src="images/inv.png" alt="avatar"><i></i>
                                                        </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <h6 class="media-heading">Margaret Govan</h6>
                                                            <p class="notification-text font-small-3 text-muted">I like your portfolio, let's start.I like your portfolio, let's start.</p>
                                                            <small>
                                                                <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">Today</time>
                                                            </small>

                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="dropdown-menu-footer">
                                                <a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all messages</a>
                                            </li>
                                        </ul>-->
                                    </li>
                                    <li class="dropdown dropdown-user nav-item">
                                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"> <span class="avatar avatar-online">
                                            <img :src="user.image" :alt="user.name" class="img-fluid" @error="src = `${$baseUrl}/images/inv.png`"><i></i></span>
                                            <span class="user-name"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <p class="dropdown-item" v-if="dealer">Hi, {{ user.name }}</p>
                                            <router-link class="dropdown-item" :to="{ name: 'user.profile' }"><i class="fa fa-user"></i>Profile</router-link>
                                            <router-link class="dropdown-item" :to="{ name: 'user.mylisting' }"><i class="fa fa-address-card"></i>my listings</router-link>
                                            <router-link class="dropdown-item" :to="{ name: 'user.wishlists' }"><i class="fa fa-heart"></i>my wishlist</router-link>
                                            <router-link class="dropdown-item" :to="{ name: 'user.admin.contact' }"><i class="fa fa-phone fa-rotate"></i>Contact Admin</router-link>
                                            <router-link class="dropdown-item" :to="{ name: 'dealers.password.change' }" v-if="dealer"><i class="fa fa-key"></i>Change Password</router-link>
                                            <router-link class="dropdown-item" :to="{ name: 'dealer.account.edit' }" v-if="dealer"><i class="fa fa-address-card"></i>Account Information</router-link>
                                            <a class="dropdown-item" :href="`${$baseUrl}/logout`">
                                                <i class="fa fa-sign-in-alt"></i>Log out
                                            </a>
                                        </div>
                                    </li>
                                    <li class="nav-item d-none d-md-block">
                                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a>
                                    </li>
                                </ul>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <div class="banner-area" v-if="$route.meta.shouldShowTitle" :style="`background: url('${$baseUrl}/images/inner-banner.png') no-repeat;background-size: cover;`">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>{{ $route.meta.title }}</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    import Notifications from "./NotificationsComponent";
    import VueScrollTo from 'vue-scrollto'
   
    export default {
        components: { Notifications, VueScrollTo },
        data(){
            return {
                user: window.user,
            }
        },
        mounted() {},
        computed: {
            dealer(){
                return  this.user && this.user.is_dealer;
            }
        }
    }
</script>
<style scoped>
    ul.nav.float-right a.active {
        color: #a40000;
        background: transparent;
    }
   
    .about h2 {padding: 60px 0 0 0 !important;}
    .nav-menu > li > a {
    padding: 0 10px;
    }
    a.goog-logo-link {
    display: none;
    }

    div#google_translate_element2 {
    color: transparent !important;
    }

    .skiptranslate.goog-te-gadget {
    color: transparent;
    max-width: 100px;
    overflow: hidden;
    margin-right: 5px;
    }

    .goog-te-gadget .goog-te-combo {
    width: 100%;
    }
    .advertiser{
    color: #fff !important;
    }
</style>
