<template>
    <div>
    <section class="search-vehicle">

            <div class="container">
                <div class="search-vehicle-inner">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="wow fadeInUp"  data-wow-delay=".5s" data-wow-duration="1s">Quick Vehicle Search</h2>
                            <h3 class="wow fadeInUp"  data-wow-delay=".5s" data-wow-duration="1.2s">FROM 600 BRAND CARs</h3>
                        </div>
                    </div>

                    <div class="search-box">

                        <form action="">
                            <div class="row">
                                <!-- <div class="col-xl-auto col-md-6 col-12 form-group wow wow  fadeInUp"  data-wow-delay=".2s" data-wow-duration=".7s"> -->
                                <div class="col-xl-auto col-md-6 col-12 form-group wow fadeInUp"  data-wow-delay="0.2s" data-wow-duration="2s">
                                    <label for="" >makers of vehicle</label>
                                    <select name="make" v-model="filters.make_id" class="form-control" @change="() => {loadModals(filters.make_id); filters.model_id = '';}">
                                        <option value="">All Makes</option>
                                        <option :value="make.id" v-for="make in makes">{{ make.name }}</option>
                                    </select>
                                </div>
                                <div class="col-xl-auto col-md-6 col-12 form-group wow fadeInUp"  data-wow-delay=".4s" data-wow-duration=".9s">
                                    <label for="model">model of the vehicle</label>
                                    <select name="model" v-model="filters.model_id" class="form-control" id="model">
                                        <option :value="''">All models</option>
                                        <option :value="model.id" v-for="model in models">{{ model.name }}</option>
                                    </select>
                                </div>
                                <div class="col-xl-auto col-md-6 col-12 form-group wow fadeInUp"  data-wow-delay=".6s" data-wow-duration="1.1s">
                                    <label for="year_from">make year from</label>
                                    <select name="year_from" v-model="filters.year_from" class="form-control" id="year_from">
                                        <option :value="''">Any Year</option>
                                        <option :value="year" v-for="year in allYears">{{ year }}</option>
                                    </select>
                                </div>
                                <div class="col-xl-auto col-md-6 col-12 form-group wow fadeInUp"  data-wow-delay=".8s" data-wow-duration="1.3s">
                                    <label for="dateTo">Make Year To</label>
                                    <select name="year_to" v-model="filters.year_to" class="form-control" id="dateTo">
                                        <option :value="''">Any Year</option>
                                        <option :value="year" v-for="year in allYears">{{ year }}</option>
                                    </select>
                                </div>
                                <div class="col-xl-auto col-md-6 col-12 form-group wow fadeInUp"  data-wow-delay="0.2s" data-wow-duration="2s">
                                    <label for="" >Miles</label>
                                    <select name="miles" v-model="filters.miles" class="form-control">
                                        <option value="">All Miles</option>
                                        <option :value="10">10 Miles from</option>
                                        <option :value="20">20 Miles from</option>
                                        <option :value="30">30 Miles from</option>
                                        <option :value="50">50 Miles from</option>
                                        <option :value="75">75 Miles from</option>
                                        <option :value="100">100 Miles from</option>
                                        <option :value="150">150 Miles from</option>
                                        <option :value="200">200 Miles from</option>
                                    </select>
                                </div>
                                <div class="col-xl-auto col-md-6 col-12 form-group wow fadeInUp"  data-wow-delay="0.2s" data-wow-duration="2s">
                                    <label for="" >Zipcodes</label>
                                    <v-select  v-model="filters.zipcode"  @search="onSearch" name="zipcode" :filterable="false" :options="options" label="zipcode" :reduce="zipcode => zipcode.zipcode"></v-select>
                                </div>
                                <div class="col-xl-auto col-lg-6 col-12 form-group wow fadeInUp"  data-wow-delay="1s" data-wow-duration="1.5s">
                                    <button type="button" @click="searchCars()" class="read-btn">find it now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import vSelect from 'vue-select'
    export default {
        components: { vSelect },
        data(){
            return {
                options: [],
                filters: {
                    make_id: '',
                    model_id: '',
                    year_from: '',
                    year_to: '',
                    miles: '',
                    zipcode: '',
                }
            };
        },
        mounted() {
            this.loadMakes()
        },
        methods:{
            searchCars(){
                this.$router.push({ name: 'car.for.sale', query: this.filters })
            },
             onSearch(search, loading) {
                loading(true);
                this.search(loading, search, this);
            },
            search: _.debounce((loading, search, vm) => {

                if(!search)
                return;
                axios.get(`zipcodes?q=${escape(search)}`)
                
                .then(res => {
                    console.log(res.data)
                    vm.options =  res.data
                    loading(false);
                });

            }, 350)
        }
    }
</script>
<style >
.goog-te-gadget span {
  display:none;
} 

.goog-te-gadget {
  font-size: 0 !important;
}

.goog-te-gadget select {
  background: white;
  height: 35px !important;
  border-radius: 0px !important;
  color: #999999 !important;
  font-weight: 600;
  padding: 0 10px !important;
}

.vs__selected-options input {
  background: white;
  border-radius: 0px !important;
}

.vs__actions {display: none;}
ul#vs1__listbox {
  color: white;
}

.vs__selected-options {
  position: relative;
}

.vs__selected-options span {
  position: absolute;
  z-index: 9999;
  left: 10px;
  top: 17px;
}
</style>
