<template>
    <div>
        <section class="header-area" :style="`background: url('${$baseUrl}/images/header-bg.png') no-repeat;background-size: cover;`">
            <div class="container">
                <div class="header-area-top">
                    <div class="row">
                        <div class="col-xl-6 col-12">
                            <carousel class="owl-carousel owl-theme" id="home11"
                                      :loop="true"
                                      :nav="false"
                                      :dots="true"
                                      :slideSpeed="2000"
                                      :dotsSpeed="2000"
                                      :autoplay="false"
                                      :URLhashListener="false"
                                      :autoplayHoverPause="true"
                                      :margin="20"
                                      :items="1"
                            >
                                <div class="item">
                                    <h1 class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">Auto <br> bazaar</h1>
                                    <h2 class="wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1.3s">get your car sold</h2>
                                    <a href="#" data-toggle="modal" data-target=".video-modal" class="read-btn wow  fadeInUp"  data-wow-delay="0.2s" data-wow-duration="1.5s">Watch Video</a>
                                    <a href="#" data-toggle="modal" data-target=".video-modal"><i class="fas fa-play wow  fadeInUp"  data-wow-delay="0.2s" data-wow-duration="1.3s"></i></a>
                                </div>
                                <div class="item">
                                    <h1>Auto <br> bazaar</h1>
                                    <h2>get your car sold</h2>
                                    <a href="#" data-toggle="modal" data-target=".video-modal" class="read-btn">Watch Video </a>
                                    <a href="#" data-toggle="modal" data-target=".video-modal"><i class="fas fa-play"></i></a>
                                </div>
                                <div class="item">
                                    <h1>Auto <br> bazaar</h1>
                                    <h2>get your car sold</h2>
                                    <a href="#" data-toggle="modal" data-target=".video-modal" class="read-btn">Watch Video </a>
                                    <a href="#" data-toggle="modal" data-target=".video-modal"><i class="fas fa-play"></i></a>
                                </div>
                                <div class="item">
                                    <h1>Auto <br> bazaar</h1>
                                    <h2>get your car sold</h2>
                                    <a href="#" data-toggle="modal" data-target=".video-modal" class="read-btn">Watch Video</a>
                                    <a href="#" data-toggle="modal" data-target=".video-modal"><i class="fas fa-play"></i></a>
                                </div>
                            </carousel>
                        </div>
                        <div class="col-xl-6 col-12">
                            <img class="img-fluid wow fadeInRight"  data-wow-delay=".5s" data-wow-duration="1.5s" :src="`${$baseUrl}/images/header-car.png`" alt="">
                        </div>
                    </div>

                    <div class="modal fade bd-example-modal-lg video-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                        <video height="400" width="100%"  controls>
                            <source :src="`${$baseUrl}/images/autobazar_video.mp4`" type="video/mp4">
                            <source :src="`${$baseUrl}/images/autobazar_video.mp4`" type="video/ogg">
                            Your browser does not support HTML5 video.
                        </video>
                    <div class="modal-footer">
                            <button type="button" class="red-btn" data-dismiss="modal">Close</button> 
                        </div>
                        </div>
                    </div>
                    </div>

                </div>
            </div>
            <div class="container-fluid pl-lg-0">
                <div class="bottom-slider">

                    <div class="row ml-lg-0">
                        <div class="col-lg-6 col-12 pl-0">
                            <div class="left ">
                                <img :src="`${$baseUrl}/images/header-car-2.png`" class="wow fadeInLeft"  data-wow-delay="1.5s" data-wow-duration="1.5s" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="right">
                                <carousel class="owl-carousel owl-theme car-slider" id="home14"
                                          :loop="true"
                                          :margin="0"
                                          :dots="true"
                                          :autoplay="true"
                                          :autoplayTimeout="5000"
                                          :autoplayHoverPause="true"
                                          :responsiveClass="true"
                                          :responsive="{    0: {
                                                                    items: 1,
                                                                    nav: false
                                                                },
                                                                600: {
                                                                    items: 3,
                                                                    nav: false
                                                                },
                                                                1000: {
                                                                    items: 3,
                                                                    nav: false,
                                                                }
                                                            }"
                                >
                                    <div class="item wow fadeInUp"  data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="img-div">
                                            <img :src="`${$baseUrl}/images/header-car-3.png`" alt="">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp"  data-wow-delay="2.5s" data-wow-duration="1.2s">
                                        <div class="img-div">
                                            <img :src="`${$baseUrl}/images/header-car-4.png`" alt="">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="3s" data-wow-duration="1.2s">
                                        <div class="img-div">
                                            <img :src="`${$baseUrl}/images/header-car-5.png`" alt="">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                </carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--header end start here-->

        <home-search/>

        <section class="about" :style="`background: url('${$baseUrl}/images/about-banner.png') no-repeat;background-size: cover;`">
            <div class="container">

                <div class="about-top">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="images/white-car.png" class="img-fluid wow fadeInRight"  data-wow-delay="1s" data-wow-duration="2s" alt="white car">
                            <h2 class="wow fadeInUp" :style="{'padding': '60px 0 0 0 !important'}"  data-wow-delay="1s" data-wow-duration="1s">about Auto bazaar</h2>
                        </div>
                    </div>
                </div>

                <div class="about-middle">
                    <div class="row">
                        <div class="col-lg-3 offset-lg-3 col-sm-5 offset-sm-1 col-12">
                            <div class="box">
                                <div class="media">
                                    <img src="images/about-1.png" class="img-fluid wow zoomIn"  data-wow-delay="1s" data-wow-duration="1.5s" alt="about image">
                                    <div class="media-body">
                                        <h3 class="wow fadeInUp"  data-wow-delay=".4s" data-wow-duration=".9s">{{cars.newCars}}</h3>
                                        <h4 class="wow fadeInUp"  data-wow-delay=".7s" data-wow-duration="1.4s">NEW CARS IN STOCK</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="box">
                                <div class="media">
                                    <img src="images/about-2.png" class="img-fluid wow zoomIn"  data-wow-delay="1.2s" data-wow-duration="1.2s" alt="about image">
                                    <div class="media-body">
                                        <h3 class="wow wow fadeInUp"  data-wow-delay="1s" data-wow-duration="1.5s">{{cars.usedCars}}</h3>
                                        <h4 class="wow wow fadeInUp"  data-wow-delay="1.3s" data-wow-duration="1.8s">USED CARS IN STOCK</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>


                <div class="about-bottom">

                    <div class="row">
                        <div class="col-xl-6 col-lg-8 offset-lg-2 offset-xl-3 col-12">
                            <div class="call d-flex justify-content-between wow  fadeInUp"  data-wow-delay="1s" data-wow-duration="1.5s">
                                <p>HAVE A QUESTION ?</p>
                                <img src="images/about-5.png" class="img-fluid" alt="">
                                <a href="tel:800-417-2048" class="call-btn">CALL US : 800-417-2048</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center wow  fadeInUp"  data-wow-delay="1.3s" data-wow-duration="1.5s">
                            <!--<a href="#" class="read-btn">read more</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <featured-vehicles/>
     <!--
        <section class="testimonial" :style="`background: url('${$baseUrl}/images/testi.png') no-repeat;background-size: cover;`">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="images/white-car.png" class="img-fluid wow fadeInRight"  data-wow-delay=".8s" data-wow-duration="1.5s" alt="">
                        <h2 class="wow  fadeInUp"  data-wow-delay=".5s" data-wow-duration="1s">testimonial</h2>
                    </div>
                </div>
                <carousel class="slider owl-carousel owl-theme"
                          :loop="true"
                          :margin="0"
                          :dots="true"
                          :autoplay="true"
                          :autoplayTimeout="3000"
                          :autoplayHoverPause="true"
                          :responsiveClass="true"
                          :responsive="{ 0: { items: 1, nav: false }, 600: { items: 1, nav: false }, 1000: { items: 1, nav: false, } }"
                >
                    <div class="item">
                        <div class="text-center ">
                            <i class="fa fa-quote-right wow  fadeInUp"  data-wow-delay=".8s" data-wow-duration="1.3s"></i>
                            <p class="wow  fadeInUp"  data-wow-delay="1.1s" data-wow-duration="1.6s">AutoImage is nisi aliquip consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat. Lorem ipsum dolor sit amt consectetur adipisicing elit sed eiusmod tempor incididuntu labore et dolore magna aliqua enimad minim veniam quis nostrud exercitation ullamco laboris nisi aliquip. Duisreprehenderitn...</p>
                            <h3 class="wow  fadeInUp"  data-wow-delay="1.2s" data-wow-duration="1.8s">John Stephan</h3>
                            <h4 class="wow  fadeInUp"  data-wow-delay="1.4s" data-wow-duration="2s">Vehicle Buyer</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <i class="fa fa-quote-right"></i>
                            <p>AutoImage is nisi aliquip consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat. Lorem ipsum dolor sit amt consectetur adipisicing elit sed eiusmod tempor incididuntu labore et dolore magna aliqua enimad minim veniam quis nostrud exercitation ullamco laboris nisi aliquip. Duisreprehenderitn...</p>
                            <h3>John Stephan</h3>
                            <h4>Vehicle Buyer</h4>
                        </div>
                    </div>
                </carousel>
            </div>
        </section>
    -->
        <!-- <blog/> -->

        <blog-slider/>

        <!--news end here-->
            <!-- auto bazar start here -->
        
            <!-- auto bazar end here -->


        <!--logos start here-->

        <section class="logos">
            <div class="container">
                <div class="row">
                     <carousel class="owl-carousel owl-theme car-slider" id="home14"
                                          :loop="true"
                                          :margin="0"
                                          :dots="true"
                                          :autoplay="true"
                                          :autoplayTimeout="5000"
                                          :autoplayHoverPause="true"
                                          :responsiveClass="true"
                                          :responsive="{    0: {
                                                                    items: 1,
                                                                    nav: false
                                                                },
                                                                200: {
                                                                    items: 2,
                                                                    nav: false
                                                                },
                                                                300: {
                                                                    items: 3,
                                                                    nav: false,
                                                                },
                                                                400: {
                                                                    items: 4,
                                                                    nav: false,
                                                                },
                                                                500: {
                                                                    items: 5,
                                                                    nav: false,
                                                                },
                                                                600: {
                                                                    items: 6,
                                                                    nav: false,
                                                                }
                                                            }"
                                >
                                    <div class="item wow fadeInUp"  data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=8`">
                                                <img :src="`${$baseUrl}/images/logo-7.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay=".5s" data-wow-duration=".8s">
                                            </a>
                                        </div>
                                    </div>
                                    
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=18`">
                                                <img :src="`${$baseUrl}/images/logo-2.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay=".8s" data-wow-duration="1.1s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=73`">
                                            <img :src="`${$baseUrl}/images/logo-3.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="1.1s" data-wow-duration="1.4s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=45`">
                                            <img :src="`${$baseUrl}/images/logo-1.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="1.4s" data-wow-duration="1.7s">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=5`">
                                            <img :src="`${$baseUrl}/images/logo-4.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="1.7s" data-wow-duration="2s">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=25`">
                                            <img :src="`${$baseUrl}/images/logo-5.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2s" data-wow-duration="2.3s">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=71`">
                                            <img :src="`${$baseUrl}/images/1.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>


                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=27`">
                                            <img :src="`${$baseUrl}/images/2.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=34`">
                                            <img :src="`${$baseUrl}/images/3.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=50`">
                                            <img :src="`${$baseUrl}/images/4.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=21`">
                                            <img :src="`${$baseUrl}/images/5.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=38`">
                                            <img :src="`${$baseUrl}/images/6.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=22`">
                                            <img :src="`${$baseUrl}/images/7.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=43`">
                                            <img :src="`${$baseUrl}/images/8.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=32`">
                                            <img :src="`${$baseUrl}/images/9.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=36`">
                                            <img :src="`${$baseUrl}/images/10.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=16`">
                                            <img :src="`${$baseUrl}/images/11.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=31`">
                                            <img :src="`${$baseUrl}/images/12.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=48`">
                                            <img :src="`${$baseUrl}/images/13.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=70`">
                                            <img :src="`${$baseUrl}/images/14.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=72`">
                                            <img :src="`${$baseUrl}/images/15.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=24`">
                                            <img :src="`${$baseUrl}/images/16.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=4`">
                                            <img :src="`${$baseUrl}/images/17.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=26`">
                                            <img :src="`${$baseUrl}/images/18.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=13`">
                                            <img :src="`${$baseUrl}/images/19.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=44`">
                                            <img :src="`${$baseUrl}/images/20.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=41`">
                                            <img :src="`${$baseUrl}/images/21.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=28`">
                                            <img :src="`${$baseUrl}/images/22.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=7`">
                                            <img :src="`${$baseUrl}/images/23.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=39`">
                                            <img :src="`${$baseUrl}/images/24.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=2`">
                                            <img :src="`${$baseUrl}/images/25.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=19`">
                                            <img :src="`${$baseUrl}/images/26.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=12`">
                                            <img :src="`${$baseUrl}/images/27.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=11`">
                                            <img :src="`${$baseUrl}/images/28.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=57`">
                                            <img :src="`${$baseUrl}/images/29.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=9`">
                                            <img :src="`${$baseUrl}/images/30.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=68`">
                                            <img :src="`${$baseUrl}/images/31.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=47`">
                                            <img :src="`${$baseUrl}/images/32.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item wow fadeInUp" data-wow-delay="2s" data-wow-duration="1.2s">
                                        <div class="col-lg-auto col-md-4 col-sm-6 col-12">
                                            <a :href="`${$baseUrl}/cars-for-sale?make_id=10`">
                                            <img :src="`${$baseUrl}/images/33.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                                            </a>
                                        </div>
                                    </div>
                                    
                                </carousel>
                                
                </div>

            </div>

        </section>

    </div>
</template>

<script>
    import carousel from 'vue-owl-carousel';
    import Blog from "../views/BlogComponent";
    import BlogSlider from "../views/BlogSliderComponent";
    import FeaturedVehicles from "../views/FeaturedVehiclesComponent";
    import HomeSearch from "./HomeSearch";
    export default {
        components: { carousel, BlogSlider, FeaturedVehicles, HomeSearch },
        data(){
            return {
                 cars: {
                    newCars: '',
                    usedCars: '',
                    clients: '',
                }
            }
        },
        mounted() {
            new WOW().init();
            this.loadCarsStats();
           
        },
        
        methods:{
            made(index){
                alert(index)
            },
            loadCarsStats(){
                axios.get('car-stats').then(({data}) => {
                    this.cars = data;
                    console.log('cars state', this.cars)
                });
            }
             
        }
    }
</script>
<style>
    .owl-carousel{
        display: block;
    }
    .dealer-bottom .card a.readmore {
        display: inline-block;
        color: white;
        padding: 10px 15px;
    }
    .logos img {width: 111px;height: 66px;margin: 0 !important;}
</style>
