<template>
    <li class="dropdown dropdown-notification nav-item">
        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown">
            <i class="fa fa-bell"></i>
            <span v-if="notifications && notifications.length>0" class="badge badge-pill badge-default badge-danger badge-default badge-up">
                {{ notifications.length }}
            </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
            <li class="dropdown-menu-header">
                <h6 class="dropdown-header m-0">
                    <span class="grey darken-2">Notifications</span>
                    <span  v-if="notifications && notifications.length>0" class="notification-tag badge badge-default badge-danger float-right m-0">{{ notifications.length }} New</span>
                </h6>
            </li>
            <li v-if="notifications && notifications.length>0" class="scrollable-container media-list ps-container ps-theme-dark ps-active-y"
                v-for="(notification, index) in notifications" :key="notification.id">
                <a href="#" @click.prevent="redirectTo(index)">
                    <div class="media">
                        <div class="media-left align-self-center">
                            <i class="fa fa-exclamation-circle"></i>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">{{ notification.data.title }}</h6>
                            <p class="notification-text font-small-3 text-muted">{{ notification.data.title }}</p>
                            <small>
                                <!--<time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">30 minutes ago</time>-->
                                <timeago class="media-meta text-muted" :datetime="UTCToLocal(notification.created_at)"></timeago>
                            </small>
                        </div>
                    </div>
                </a>
            </li>
            <li v-else class="scrollable-container media-list ps-container ps-theme-dark ps-active-y">
                <div class="media">
                    <div class="media-body">
                        <p class="notification-text font-small-3 text-muted">No new notifications</p>
                    </div>
                </div>
            </li>
            <li class="dropdown-menu-footer" v-if="notifications && notifications.length>0">
                <a @click.prevent="markAllRead" class="dropdown-item text-muted text-center" href="notifications.php">Read all notifications</a>
            </li>
        </ul>
    </li>
</template>

<script>
    export default {
        data(){
            return {
                notifications: undefined,
                interval: undefined,
                path: window.user.is_dealer? 'dealer': 'user'
            };
        },
        mounted() {
            this.loadNotifications();

            this.interval = setInterval(this.loadNotifications, 15000);
        },
        beforeDestroy() { clearInterval(this.interval); },
        methods:{
            loadNotifications(){
                axios.get(`${this.path}-notifications`)
                    .then(({data}) => {
                        this.notifications = data;
                    }).catch( e => clearInterval(this.interval))
            },

            redirectTo(index){
                axios.put(`${this.path}-notifications/${this.notifications[index].id}`)
                .then(({message}) => {
                    this.$router.push(this.notifications[index].data.link);
                    this.notifications.splice(index, 1);
                })
            },
            markAllRead(){
                axios.put(`${this.path}-notifications`)
                    .then(({message}) => {

                    })
            },
            UTCToLocal(date) {
                
                if(!(date instanceof Date))
                    date = new Date(date);

                let newDate = new Date(date.getTime()+date.getTimezoneOffset()*60*1000);

                let offset = date.getTimezoneOffset() / 60;
                let hours = date.getHours();

                newDate.setHours(hours - offset);

                return newDate;
            }
        }
    }
</script>
