<template>
    <form class="bottom-rating" @submit.prevent="review">
        <ul class="rating rating d-flex align-items-center">
            <li><h2>Ratings</h2></li>
            <!--<li class="active"><a><i class="active fa fa-star"></i></a></li>
            <li class="active"><a><i class="active fa fa-star"></i></a></li>
            <li class="active"><a><i class="active fa fa-star"></i></a></li>
            <li><a><i class="fa fa-star"></i></a></li>
            <li><a><i class="fa fa-star"></i></a></li>-->
            <star-rating @rating-selected="form.rating = $event" :rating="form.rating"
                         v-bind:star-size="18"></star-rating>
        </ul>
        <input type="text" class="d-none" name="rating" v-validate="'required|min_value:1|numeric'" v-model="form.rating">
        <span class="text-danger" v-if="errors.has('rating')">The Stars are required.</span>
        <div>
            <div class="row">
                <div class="col-12 form-group">
                    <textarea name="review" v-validate="'required'" v-model="form.review" class="form-control" placeholder="Write review here "></textarea>
                    <span class="text-danger">{{ errors.first('review') }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <button type="submit" :disabled="disabled">submit</button>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import StarRating from 'vue-star-rating'
    export default {
        props: ["dealer", 'disabled'],
        components: { StarRating },
        data(){
            return {
                form: {
                    rating: 0,
                    review: ''
                }
            }
        },
        mounted() {
        },
        methods:{
            review(){
                if (this.disabled)
                    return false;

                this.$validator.validateAll().then(result => {

                    if(!result) return;

                    axios.post(`/dealers/${this.dealer}/review`, this.form)
                        .then(({data}) => {
                            this.$emit('rated', data);
                            this.form.rating = 0;
                            this.form.review = '';
                            this.$validator.reset();
                        });
                })
            },
        },
    }
</script>
