<script>
    import carousel from 'vue-owl-carousel';
    import Blog from "../views/BlogComponent";
    import FeaturedVehicles from "../views/FeaturedVehiclesComponent";
    import HomeSearch from "./HomeSearch";
    export default {
        components: { carousel, Blog, FeaturedVehicles, HomeSearch },
        template: "#helloWorldFromTemplate",
        data(){
            return {
                title: 'hello'
            }
        },
        mounted() {
            new WOW().init();
        },
        methods:{
            made(index){
                alert(index)
            }
        }
    }
</script>
<style>
    .owl-carousel{
        display: block;
    }
    .dealer-bottom .card a.readmore {
        display: inline-block;
        color: white;
        padding: 10px 15px;
    }
</style>
