// Fonts
//@import url('https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700|Orbitron:400,500,700,900|Poppins:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap');

// Variables
//@import 'variables';

// Bootstrap
//@import '../../../node_modules/bootstrap/scss/bootstrap';
//@import '../../../public/css/owl.theme.default.min.css';
//@import '../../../public/css/owl.carousel.min.css';
@import '../../../public/css/bootstrap.min.css';
//@import url('https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css');
@import '../../../public/css/animate.css';
@import '../../../public/fonts/fontawesome/css/all.css';
@import '../../../public/css/mega-menu.css';
@import '../../../public/css/flexslider.css';
//@import url('https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.css');
@import '../../../public/css/style.css';


@import '~swiper/dist/css/swiper.css';
.swiper-container.gallery-thumbs {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-prev {
    left: auto;
    bottom: 0;
    top: auto;
}
.swiper-button-prev.swiper-button-white:before,
.swiper-button-next.swiper-button-white:after {
    font-style: normal;
    text-decoration: inherit;
    position: absolute;
    top: 10%;
    left: 0;
    font-size: 40px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d9";
}
.swiper-button-next.swiper-button-white:after {
    content: "\f0da";
    left: auto;
    right: 0;
    right: 0;
}

.swiper-button-prev.swiper-button-white, .swiper-button-next.swiper-button-white {
    position: absolute;
    top: auto;
    bottom: 18px;
}

.main-slider {
    position: relative;
}

.swiper-container.gallery-thumbs img {
    height: 75px;
}


/**
* Customize Vuejs Dialog box
*/

body .dg-backdrop {
    opacity: .5;
}
body .dg-main-content {
    max-width: 600px;
    text-align: center;
    padding: 45px 30px 30px;
    border-radius: 10px;
}

body .dg-content {
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 0 0;
    font-weight: bold;
}

body button.dg-btn.dg-btn--ok {float: none;}

body button.dg-btn {
    border: 0;
    margin: 20px 10px;
    border-radius: 100px;
    padding: 10px 40px;
    text-transform: capitalize;
    background: #a40000;
    color: white;
}

body .dg-content-body {
    border-bottom: 0;
    padding-bottom: 0;
}
