<template>
    <!-- Modal -->
    <div class="modal fade" id="cropperModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="cropperModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cropperModalLabel">Crop Image</h5>
                </div>
                <div class="modal-body">

                    <!-- Note that 'ref' is important here (value can be anything). read the description about `ref` below. -->
                    <vue-croppie
                        ref="croppieRef"
                        :enableOrientation="true"
                        :boundary="{ width: '100%', height: 300}"
                        :viewport="{ width: 200, height: 200, type: 'circle' }"
                        :enableExif="true"
                        :enableResize="false">
                    </vue-croppie>

                </div>
                <div class="modal-footer justify-content-center">
                    <!-- Rotate angle is Number -->
                    <div class="btn btn-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" @click="rotate(-90)">Rotate Left</button>
                        <button type="button" class="btn btn-default" @click="rotate(90)">Rotate Right</button>
                        <button type="button" class="btn btn-primary" @click="crop()">Crop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:["source", "isActive"],
        mounted() {
            this.$refs.croppieRef.bind({ url: this.source });
            $('#cropperModal').on('hide.bs.modal', () => this.$emit('imageClosed'));
        },
        methods: {
            crop() {
                let options = {format: 'jpeg', circle: true};
                this.$refs.croppieRef.result(options, (output) => {
                    this.$emit('imageResult', output);
                    $('#cropperModal').modal('toggle');
                });
            },
            rotate(rotationAngle) {
                this.$refs.croppieRef.rotate(rotationAngle);
            }
        },
        watch: {
            'source': function(){
                this.$refs.croppieRef.bind({ url: this.source });
            },
            'isActive': function(){
                $('#cropperModal').modal('toggle');
            }
        }
    }
</script>
<style scoped>
    .modal-open .modal {
        z-index: 10000;
    }
</style>
