<template>
    <div class="app-content content view orders banner-listing">
        <div class="content-wrapper">
            <div class="content-body">

                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause advisor-profile-main banner-profile" v-if="page">
                    <div class="row">
                        <div class="col-12 col-xl-8 offset-xl-2">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">


                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h1 class="pull-left">
                                                    <router-link :to="{name: 'pages.index'}">
                                                        <i class="fa fa-angle-left"></i>
                                                    </router-link>
                                                    View
                                                </h1>
                                            </div>
                                            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                                                <div class="breadcrumb-wrapper col-12">
                                                    <breadcrumb v-if="$route.meta.breadcrumb" :breadcrumb="$route.meta.breadcrumb"></breadcrumb>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <div class="banner-id">
                                                    <p>ID# {{ page.id }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="banner-info">
                                            

                                            <form @submit.prevent="save()">
                                                <div class="row">
                                                    <div class="col-md-6 col-12 form-group">
                                                        <label for="">Title</label>
                                                        <input type="hidden" name="id" v-model="page.id">
                                                        <input type="text" name="title" v-validate="'required'" v-model="page.title" :disabled="!edit" placeholder="Title" class="form-control">
                                                        <span class="text-danger">{{ errors.first(`title`) }}</span>
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                <div class="col-12">
                                                    <div class="d-lg-flex d-block justify-content-between align-items-center">
                                                        <div class="media left align-items-center">
                                                            <template>
                                                            <div id="app">
                                                                <editor
                                                                v-model="page.description"
                                                                value="page.description"
                                                                :disabled="!edit"
                                                                api-key="no-api-key"
                                                                :init="{
                                                                    height: 500,
                                                                    menubar: false,
                                                                    plugins: [
                                                                    'advlist autolink lists link image charmap print preview anchor',
                                                                    'searchreplace visualblocks code fullscreen',
                                                                    'insertdatetime media table paste code help wordcount'
                                                                    ],
                                                                    toolbar:
                                                                    'undo redo | formatselect | bold italic backcolor | \
                                                                    alignleft aligncenter alignright alignjustify | \
                                                                    bullist numlist outdent indent | removeformat | help'
                                                                }"
                                                                />
                                                            </div>
                                                            </template>
                                                        </div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="row">
                                                    <div class="col-12 text-center">
                                                        <button type="button" v-if="!edit" @click="editMode(true)">edit</button>
                                                        <button type="submit" v-if="edit">save</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <!--main card end-->

                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>

    import Breadcrumb from "../Breadcrumb";
    import {TheMask} from 'vue-the-mask'
    import ImageCropper from "../../../../js/components/ImageCropper";
    import Editor from '@tinymce/tinymce-vue'
    export default {
        name: 'app',
        components: { Breadcrumb, TheMask, ImageCropper, 'editor': Editor },
        data() {
            return {
                base_url: window.base_url,
                page: {},
                page_name: {},
                edit: false,
                shouldSubmit: false,
                showCropper: false
            }
        },
        mounted() {
            this.getPage(this.$route.params.id);
            this.setContent();
        },
        methods: {
            getPage(id){
                axios.get(`/pages/${id}`)
                    .then(data => {
                        console.log(data);
                        this.page = data.data;
                        this.page_name = data.data.title;
                    });
            },
            save(){
                this.$validator.validateAll().then((result) => {
                    if (!result || !this.shouldSubmit) {
                        this.shouldSubmit = true;
                        return;
                    }
                    axios.put(`/pages/${this.page.id}`, this.page)
                        .then(data => {
                            this.editMode(false);
                            this.$toastr.success(data.data.message, "Updated!");
                            this.$router.push({name: 'pages.index'});
                        }).catch( e => {});

                });
            },
            editMode(bol)
            {
                this.edit = bol;
                this.shouldSubmit = false
            },
             setContent: function () {
            if (tinymce.activeEditor !== null && 'parser' in tinymce.activeEditor && 'parse' in tinymce.activeEditor.parser) {  // When you first load, you rely on the content second times in V-model to use the setContent method to assign.
                    tinymce.activeEditor.setContent(this.page.decription, { format: 'raw' });
             }
      }
          
        }
    }
</script>
<style>
    .tox-notifications-container {
        display: none;
    }
</style>
