<template>
    <div>
        <top-header></top-header>
        <side-navbar></side-navbar>
        <router-view></router-view>
    </div>
</template>
<script>
    export default {
        mounted() {},
        methods: {},
        // computed: {...mapGetters}
    }
</script>
