<template>
    <div>
        <h1>Here we go</h1>
        <router-link :to="{ name: 'dealers.registration'}">check name</router-link>

        <ul>
        <li v-for="item in items">
            <router-link :to="item.path">
                {{ item.name }}
            </router-link>
        </li>
        </ul>
    </div>
</template>

<script>
    export default{
        data() {
            return {
                name: "",
                items: []
            }
        },
        created() {
            this.$router.options.routes.forEach(route => {
                this.items.push({ name: route.name, path: route.path })
            })
        }
    }
</script>
