<template>

    <header class="header_area inner-header-main main-header">
        <div class="container">
            <div class="main_header_area animated">
                <nav id="navigation1" class="navigation">
                    <div class="nav-header"> <a class="nav-brand" href="#">
                        <img :src="`${base_url}/images/logo.png`" alt=""> </a>
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu align-to-right">
                            <li class="active"><a href="index.php">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">blog</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Contact</a></li>
                            <ul class="nav-menu align-to-right login-area">
                                <li class=""><a href="#">login</a></li>
                                <li class=""><a href="#">register</a></li>
                            </ul>
                        </ul>
`
                    </div>
                </nav>
            </div>
        </div>

    </header>

</template>

<script>
    export default {
        data() {
            return {
                base_url: window.base_url,
                image: window.user? `${window.base_url}/storage/${window.user.image}`: undefined,
                user: window.user
            }
        },
        mounted() {  },
        methods: {  }
    }
</script>
