<template>
    <div>
        sidebar
    </div>
</template>

<script>
    export default {
        data(){
            return {}
        },
        mounted() {},
        methods: {},
        watch: {}
    }
</script>
