<template>
    <div class="app-content content view orders user-listing">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h1 class="pull-left">
                                                    {{ $route.meta.title }}
                                                </h1>
                                            </div>
                                            <div class="col-md-6 col-12 text-md-right text-left">
                                                <h2>Total: <span>{{ ads.length }}</span> </h2>
                                            </div>
                                        </div>

                                        <!--tab start here-->

                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="tab31" aria-expanded="true" aria-labelledby="base-tab31">
                                                <div class="clearfix"></div>
                                                <div class="maain-tabble">
                                                    <table class="table table-striped table-bordered ad-table">
                                                        <thead>
                                                        <tr>
                                                            <th>Sno.</th>
                                                            <th>Seller</th>
                                                            <th>Seller ID</th>
                                                            <th>Featured</th>
                                                            <th>Make</th>
                                                            <th>Model</th>
                                                            <th>Registered On</th>
                                                            <th>action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="(ad, index) in ads">
                                                            <td>{{ index+1 }}</td>
                                                            <td>
                                                                <img :src="`${ad.adable.image}`" :alt="ad.adable.name" style="width: 32px; height: 32px; border-radius: 50%; margin-right: 10px"/>
                                                                {{ ad.adable.name }}
                                                            </td>
                                                            <td>{{ ad.adable.id }}</td>
                                                            <td>{{ ad.featured? "yes": "no" }}</td>
                                                            <td>{{ ad.make.name }}</td>
                                                            <td>{{ ad.model.year }}</td>
                                                            <td>{{ ad.created_date }}</td>
                                                            <td>
                                                                <div class="btn-group mr-1 mb-1">
                                                                    <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                        <router-link class="dropdown-item" :to="{ name: 'ads.show', params: {id: ad.id} }"><i class="fa fa-eye"></i>View </router-link>
                                                                        <a class="dropdown-item" @click="approve(ad.id)" v-if="ad.status === 0"><i class="fa fa-check-circle"></i>Approved </a>
                                                                        <a class="dropdown-item" @click="displayReasonForm(ad.id)" v-if="ad.status === 0"><i class="fa fa-ban"></i>Reject </a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--tab 1 end-->

                                        </div>
                                        <!--tab end here-->
                                    </div>
                                </div>
                                <!--main card end-->

                            </div>
                        </div>
                    </div>
                </section>

                <!-- // Basic form layout section end -->
            </div>
        </div>

        <div class="login-fail-main user delete-modal rejection-modal">
            <div class="featured inner">
                <div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="reasonModalTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <form @submit.prevent="reject">
                                <div class="payment-modal-main">
                                    <div class="payment-modal-inner">
                                        <div class="row">
                                            <div class="col-12 text-left ">
                                                <h1>Rejection</h1>
                                                <p>Please provide rejection reason </p>
                                                <h2>Listing ID: {{ selectedAdId }}</h2>
                                                <textarea name="reason" v-validate="'required'" v-model="rejection_reason" id="reason" cols="" rows="" class="form-control"></textarea>
                                                <span class="text-danger">{{ errors.has('reason')? "This reason field is required": "" }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-md-right text-center">
                                                <button type="submit" class="con">send</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                base_url: window.base_url,
                blocked: false,
                ads: [],
                table: undefined,
                selectedAdId: "",
                rejection_reason: "",
            }
        },
        mounted() {
            this.loadAds(this.$route.meta.status);
        },
        methods: {
            loadAds(status){
                if(this.table !== undefined)
                    this.table.destroy();

                axios.get(`/ads?status=${status}`)
                    .then(data => {
                        this.ads = data.data;
                        setTimeout(()=>{
                            this.table = $('.ad-table').DataTable();
                        }, 100);
                    });

            },
            approve(id){
                this.$dialog
                    .confirm(`Are you sure you want to approve this Ad?`)
                    .then(dialog => {
                        axios.patch(`/ads/${id}`, {status: 1}).then(d => {
                            this.$toastr.success(d.data.message, 'Success', {});
                            this.$router.push({'name': 'ads.index'})
                            this.loadAds(this.$route.meta.status);
                            dialog.close();
                        }).catch(d => {});
                    })
            },

            displayReasonForm(id){
                this.selectedAdId = id;
                $('#reasonModal').modal('show');
            },

            reject(){
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;

                    this.isLoading = true;

                    axios.patch(`/ads/${this.selectedAdId}`, {status: 3, reason: this.rejection_reason}).then(d => {
                        this.$toastr.success(d.data.message, 'Success', {});
                        this.loadAds(this.$route.meta.status);
                        // dialog.close();
                        $('#reasonModal').modal('hide');
                    }).catch(d => {
                    });
                });
            }
        },
        watch: {
            '$route.meta.status': function(){
                this.loadAds(this.$route.meta.status)
            }
        }
    }
</script>
