<template>
    <div>
        <Preloader v-if="inProgress" />
        <top-header></top-header>
        <side-navbar></side-navbar>
        <router-view></router-view>
    </div>
</template>
<script>
    import { mapGetters, mapActions } from "vuex";
    import Preloader from "../../../user/js/views/PreloaderComponent";

    export default {
        components: { Preloader },
        data(){
            return {
                inProgress: false
            }
        },
        mounted() {
            this.getAll();
            this.registerPreloader();
        },

        methods: {
            registerPreloader(){
                axios.interceptors.request.use((config) => {
                    if(config.url.indexOf('notifications') >= 0) return config;
                    this.inProgress = true;
                    return config;
                }, (error) => {
                    this.inProgress = false;
                    return Promise.reject(error);
                });

                // Add a response interceptor
                axios.interceptors.response.use((response) => {
                    this.inProgress = false;
                    return response;
                }, (error) => {
                    this.inProgress = false;
                    return Promise.reject(error);
                });
            },
            ...mapActions(["getAll"])
        },
        // computed: {...mapGetters}
    }
</script>
