<template>
    <ol class="breadcrumb">
        <li class="breadcrumb-item" :class="{ active : item.isActive }" v-for="item in breadcrumb">
            <router-link :to="{ name: item.link }" v-if="!item.isActive"> {{ item.name }} </router-link>
            <template v-if="item.isActive">{{ item.name }}</template>
        </li>
    </ol>
</template>

<script>
    export default {
        props: [ "breadcrumb" ],
    }
</script>
