<template>
    <div class="app-content content view home">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause" v-if="data">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h1 class="pull-left">Dashboard</h1>
                                            </div>
                                        </div>
                                        <div class="row m-0">
                                            <div class="col-xl-8 col-12">
                                                <div class="row">
                                                    <div class="col-xl-4 col-md-6 col-12 p-0 d-flex w-100 ">
                                                        <div class="d-flex justify-content-between align-items-center box">
                                                            <div class="left">
                                                                <h3>Sellers</h3>
                                                                <h2>{{ data.users_count }}</h2>
                                                            </div>
                                                            <div class="right"> <img :src="`${base_url}/admins/images/home-1.png`" class="img-fluid" alt=""> </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-md-6 col-12 d-flex w-100  p-0">
                                                        <div class="d-flex justify-content-between align-items-center box">
                                                            <div class="left">
                                                                <h3>Dealer</h3>
                                                                <h2>{{ data.dealers_count }}</h2>
                                                            </div>
                                                            <div class="right"> <img :src="`${base_url}/admins/images/home-2.png`" class="img-fluid" alt=""> </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-md-6 col-12 d-flex w-100 p-0  ">
                                                        <div class="d-flex justify-content-between align-items-center box">
                                                            <div class="left">
                                                                <h3>Earnings</h3>
                                                                <h2>{{ data.earning }}</h2>
                                                            </div>
                                                            <div class="right"> <img :src="`${base_url}/admins/images/home-3.png`" class="img-fluid" alt=""> </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Basic Column Chart -->
                                                <div class="card mt-md-3">
                                                    <div class="row d-flex align-items-center">
                                                        <div class="col-md-6">
                                                            <select class="form-control" v-model="selectedYear">
                                                                <option v-for="year in allYears" :value="year">{{year}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row d-flex align-items-center">
                                                        <div class="col-md-12">
                                                            <h3>Earnings</h3>
                                                            <div class="small" v-if="datacollection">
                                                                <!--<v-chart :options="polar"/>-->
                                                                <bar-chart :chart-data="datacollection" :options="options"></bar-chart>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="home-bottom-boxes">
                                                    <div class="row ">
                                                        <div class="col-md-6 col-12">
                                                            <div class="box d-flex justify-content-between">
                                                                <div class="">
                                                                    <h4>Active Ads </h4>
                                                                    <h3>{{ data.active_ads }}</h3>
                                                                </div>
                                                                <div class=""> <img :src="`${base_url}/admins/images/home-i.png`" class="img-fluid" alt=""> </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-12">
                                                            <div class="box box-2 d-flex justify-content-between">
                                                                <div class="">
                                                                    <h4>Featured Ads </h4>
                                                                    <h3>{{ data.active_featured_ads }}</h3>
                                                                </div>
                                                                <div class=""> <img :src="`${base_url}/admins/images/home-i.png`" class="img-fluid" alt=""> </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-12">
                                                <div class="activity-main">
                                                    <h3>Activity </h3>
                                                    <div class="activity">
                                                        <div class="box" v-for="user in data.recent_users">
                                                            <div class="media">
                                                                <img :src="user.image" class="img-fluid mr-1" :alt="user.name">
                                                                <div class="media-body">
                                                                    <h3>{{ user.name }}</h3>
                                                                    <p>{{ user.time_ago }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import BarChart from "./BarChart";
    export default{
        components: { BarChart },
        data() {
            return {
                name: "",
                base_url: window.base_url,
                datacollection: null,
                selectedYear: (new Date()).getFullYear(),
                isLoading: true,
                data: { available_years:[] },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                        labels: {
                            fontColor: 'rgb(16, 22, 99)'
                        }
                    }
                }
            }
        },
        mounted(){
            axios.get('dashboard').then(data => {
                this.data = data.data;
                this.data.available_years = [];
                this.fillData(this.data.states);
            })
        },
        methods: {
            fillData (datax) {
                let data = (datax);
                const labels = data.map(month => month.name);
                const values = data.map(month => month.value);
                this.datacollection = {
                    labels: labels,
                    datasets: [
                        {
                            label: 'Sellers Registration',
                            backgroundColor: '#101663',
                            data: values
                        }
                    ]
                };
            },
        },
        computed: {
            allYears(){
                const year = (new Date()).getFullYear();
                const years = [];
                for(let i = year - 9; i <= year; i ++)
                {
                    years.push(i);
                }
                return years;
            }
        },
    }
</script>
<style>
    .small {
        width: 100%;
        height: 400px;
    }
</style>
