<template>
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light navbar-border">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto" @click="toggleSidebarMobile">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                            <i class="ft-menu font-large-1"></i>
                        </a>
                    </li>
                    <li class="nav-item"><a class="navbar-brand" :href="base_url"> <img class="brand-logo"
                                                                                          alt="stack admin logo"
                                                                                          :src="`${base_url}/admins/images/logo.png`">
                    </a></li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                                                      data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        <notifications></notifications>

                        <li class="dropdown dropdown-user nav-item"><a
                            class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"> <span
                            class="avatar avatar-online">
                            <img :src="`${base_url}/images/inv.png`" alt="avatar"> </span> <span class="user-name">{{ user.name }}</span> </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <router-link :to="{ name: 'password.change'}" class="dropdown-item"><i class="fa fa-lock"></i>Change password</router-link>
                                <router-link :to="{ name: 'packages.index'}" class="dropdown-item"><i class="fa fa-cog"></i>Manage Package</router-link>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" :href="`${base_url}/admin/logout`"><i class="ft-power-off"></i>
                                    Logout</a>
                            </div>
                        </li>
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#" @click.prevent="toggleSidebar">
                                <!--<i class="ft-menu"></i>-->
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    import Notifications from "./NotificationsComponent";
    export default {
        components: { Notifications },
        data() {
            return {
                base_url: window.base_url,
                image: `${window.base_url}/storage/${window.user.image}`,
                user: window.user
            }
        },
        mounted() {
        },
        methods: {

            toggleSidebar(){
                var body = document.querySelector('body'); // Using a class instead, see note below.
                body.classList.toggle('menu-collapsed');
                body.classList.toggle('menu-expanded');
            },

            toggleSidebarMobile(){
                var body = document.querySelector('body'); // Using a class instead, see note below.
                body.classList.toggle('vertical-overlay-menu');
                body.classList.toggle('menu-open');
            }
        }
    }
</script>
