@import '../app-assets/css/vendors.css';
@import '../app-assets/css/app.css';
@import '../app-assets/css/core/menu/menu-types/vertical-menu.css';
@import '../app-assets/css/plugins/calendars/fullcalendar.css';
@import '../app-assets/vendors/css/calendars/fullcalendar.min.css';
@import '../app-assets/vendors/css/tables/datatable/datatables.min.css';
@import '../assets/css/style.css';

@import '~swiper/dist/css/swiper.css';

//<link rel="stylesheet" type="text/css" href="app-assets/vendors/css/tables/datatable/datatables.min.css">
//<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
//<link rel="stylesheet" type="text/css" href="assets/css/style.css">

.swiper-container.gallery-thumbs {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-prev {
    left: auto;
    bottom: 0;
    top: auto;
}
.swiper-button-prev.swiper-button-white:before,
.swiper-button-next.swiper-button-white:after {
    content: "\f0d9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 30px;
    position: absolute;
    top: 10%;
    left: 0;
}
.swiper-button-next.swiper-button-white:after {
    content: "\f0da";
    left: auto;
    right: 0;
}

.swiper-button-prev.swiper-button-white, .swiper-button-next.swiper-button-white {
    position: absolute;
    top: auto;
    bottom: 18px;
}

.main-slider {
    position: relative;
}

.dg-content-footer {
    text-align: center;
    border: none;
    padding: 0;
}

.dg-content-footer>button {
    float: none;
}

button.dg-btn {
    margin: 30px 10px 0 0!important;
    width: auto;
    padding: 10px 40px;
    box-shadow: 0 0 0 0;
    background: #3244b1 !important;
    color: white;
    border: 0px;
    border-radius: 100px;
    float: none;
}

button.dg-btn.dg-btn--ok {
    background: #a40000 !important;
}

.dg-content-body {
    padding-bottom: 0 !important;
    border-bottom: none !important;
}

.dg-content {
    color: #000000;
    margin: 0 0 0 0;
    font-size: 25px !important;
    text-transform: initial;
    font-weight: 400;
    word-break: initial !important;
}

.dg-main-content {
    padding: 50px 20px !important;
    max-width: 500px !important;
    border-radius: 20px !important;
}

.media .swiper-container.swiper-container-initialized {
    width: 300px;
    display: block;
    margin-right: 12px;
}

@media (max-height: 700px){
    .dg-content-cont--floating {
        top: 50% !important;
        transform: translateY(-50%);
    }
}
