<template>
    <div class="app-content content view orders manage-package">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause">
                    <div class="card rounded pad-20">
                        <div class="card-content collapse show">
                            <div class="card-body table-responsive card-dashboard">
                                <div class="topp">
                                    <div class="row">
                                        <div class="col-xl-6 col-12">
                                            <h1 class="">Manage Packages</h1>
                                           
                                        </div>
                                    </div>
                                </div>
                                <!--tab start here-->

                                <ul class="nav nav-tabs nav-underline no-hover-bg">
                                    <li class="nav-item"> <a class="nav-link" :class="{ active: !profileTab }" @click="profileTab = false">FEATURE AD</a></li>
                                    <li class="nav-item"> <a class="nav-link" :class="{ active: profileTab }" @click="profileTab = true">FEATURE PROFILE</a> </li>
                                </ul>
                                <div class="tab-content ">
                                    <div role="tabpanel" class="tab-pane active" id="tab31" aria-expanded="true" aria-labelledby="base-tab31">
                                        <h3>Dealer Memebership Packages </h3>

                                        <div class="row">
                                            <div class="col-xl-4 col-lg-6 col-12 d-flex" v-for="pkg in ads" v-if="!profileTab">
                                               <PackageThumbnails :package="pkg"/>
                                            </div>
                                            <div class="col-xl-4 col-lg-6 col-12 d-flex" v-for="pkg in profiles" v-if="profileTab">
                                               <PackageThumbnails :package="pkg"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!--tab 1 end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import PackageThumbnails from './Thumbnail';
    import { mapGetters, mapActions } from "vuex";

    export default {
        components: {PackageThumbnails},
        data() {
            return {
                base_url: window.base_url,
                profileTab: false,
                packages: []
            }
        },
        created() {
            this.getAll()
            // this.loadPackages();
        },
        methods: {
            loadPackages(){
                // if(this.$index.state.packages.length > 1)
                axios.get(`/packages`)
                    .then(data => {
                        this.packages = data.data;
                    });
            },
            ...mapActions(["getAll"])
        },
        computed: {
            ...mapGetters(["all"]),
            ads(){
                return this.all.filter(p => p.type === "ad");
            },
            profiles(){
                return this.all.filter(p => p.type === "profile");
            }
        }

    }
</script>
