<template>
    <div class="app-content content view pending-ad">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" v-if="ad">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h1 class="pull-left">Ad Approval</h1>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-8 col-12">

                                                <main-slider :images="ad.medias"></main-slider>

                                            </div>
                                            <div class="col-xl-4 col-12 p-0">
                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-6 col-12 d-flex ">
                                                        <div class="box box-1 w-100">
                                                            <div class="btn-group ">
                                                                <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; right:10px transform: translate3d(4px, 23px, 0px);   will-change: transform;">
                                                                    <router-link class="dropdown-item" :to="{ name: 'ads.edit', params: { id: ad.id }}">
                                                                        <i class="fa fa-edit"></i>edit
                                                                    </router-link>
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-between act align-items-center">
                                                                <div class="">
                                                                    <h2>${{ ad.price }}</h2>
                                                                </div>
                                                                <div class="">
                                                                    <p>{{ numberToStatus(ad.status) }}</p>
                                                                </div>
                                                            </div>
                                                            <h3>{{ ad.model.year }} {{ ad.make.name }}</h3>
                                                            <p>Used/New</p>
                                                            <p>Listing id: {{ ad.id }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-6 col-12 d-flex ">
                                                        <div class="box seller-info w-100">
                                                            <h3>Contact Seller</h3>
                                                            <div class="media">
                                                                <img :src="ad.adable.image" class="img-fluid" :alt="ad.adable.name">
                                                                <div class="media-body">
                                                                    <h4>{{ ad.adable.name }}</h4>
                                                                    <p>Call: {{ ad.adable.contact }}</p>
                                                                    <p>Email: {{ ad.adable.email }}</p>
                                                                    <router-link :to="{name: `${ad.adable_type}.show`, params : {id: ad.adable.id} }">edit profile</router-link>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12 col-sm-6 col-12">
                                                        <div class="status">
                                                            <button type="button" v-if="ad.status === 0" class="form-control" @click="approve()">approved</button>
                                                            <button type="button" v-if="ad.status === 0" class="form-control" @click="displayReasonForm()">reject</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12 col-sm-6 col-12" v-if="ad.status === status.REJECTED">
                                                        <div class="reject-reason">
                                                            <h3>Rejection Reasons:</h3>
                                                            <p>{{ ad.rejection_reason }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail">
                                            <div class="row">
                                                <div class="col-12 col-xl-8 ">
                                                    <h4>Details</h4>
                                                    <div class="row">
                                                        <div class="col-sm-6 col-12">
                                                            <div class="row">
                                                                <div class="col-md-6 col-12">
                                                                    <label for="">Make</label>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <p>{{ ad.make.name }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-12">
                                                                    <label for="">Year</label>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <p>{{ ad.model.year }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-12">
                                                                    <label for="">Fuel</label>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <p>{{ ad.fuel_type }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-12">
                                                            <div class="row">
                                                                <div class="col-md-6 col-12">
                                                                    <label for="">model</label>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <p>{{ ad.model.name }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-12">
                                                                    <label for="">Mileage</label>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <p>{{ ad.mileage }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 col-12">
                                                                    <label for="">Transmission</label>
                                                                </div>
                                                                <div class="col-md-6 col-12">
                                                                    <p>{{ ad.transmission }}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-5 col-md-6 col-12">
                                                <div class="des">
                                                    <h4>Description </h4>
                                                    <p>{{ ad.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="login-fail-main user delete-modal rejection-modal" v-if="ad">
            <div class="featured inner">
                <div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="reasonModalTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <form @submit.prevent="reject">
                                <div class="payment-modal-main">
                                    <div class="payment-modal-inner">
                                        <div class="row">
                                            <div class="col-12 text-left ">
                                                <h1>Rejection</h1>
                                                <p>Please provide rejection reason </p>
                                                <h2>Listing ID: {{ ad.id }}</h2>
                                                <textarea name="reason" v-validate="'required'" v-model="rejection_reason" id="reason" cols="" rows="" class="form-control"></textarea>
                                                <span class="text-danger">{{ errors.has('reason')? "This reason field is required": "" }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-md-right text-center">
                                                <button type="submit" class="con">send</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import MainSlider from "../dealers/MainSlider";
    export default {
        components: { MainSlider },
        data() {
            return {
                base_url: window.base_url,
                blocked: false,
                ad: undefined,
                rejection_reason: ''
            }
        },
        mounted() {
            this.loadAd();
        },
        methods: {
            loadAd(){
                axios.get(`/ads/${this.$route.params.id}`)
                    .then(data => {
                        this.ad = data.data;
                    });

            },
            approve(){
                this.$dialog
                    .confirm(`Are you sure you want to approve this Ad?`)
                        .then(dialog => {
                            axios.patch(`/ads/${this.ad.id}`, { status: this.ad.package_id? this.status.PENDING_PAYMENT: this.status.APPROVED }).then( d => {
                                this.$toastr.success(d.data.message, 'Success', {});
                                this.$router.push({'name': 'ads.index'})
                                // dialog.close();
                            }).catch(d => {});
                        })
            },

            displayReasonForm(){
                $('#reasonModal').modal('show');
            },
            reject(){
                this.$validator.validateAll().then((result) => {
                    if (!result)
                        return;

                    this.isLoading = true;

                    axios.patch(`/ads/${this.ad.id}`, {status: 3, reason: this.rejection_reason}).then(d => {
                        this.$toastr.success(d.data.message, 'Success', {});
                        this.loadAds(this.$route.meta.status);
                        // dialog.close();
                        $('#reasonModal').modal('hide');
                    }).catch(d => {
                    });
                });
            }
        },
    }
</script>
