<template>
    <div class="app-content content view orders user-listing">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h1 class="pull-left">User Listing </h1>
                                            </div>
                                        </div>

                                        <!--tab start here-->

                                        <ul class="nav nav-tabs nav-underline no-hover-bg">
                                            <li class="nav-item">
                                                <router-link :to="{ name: 'users.index' }" class="nav-link active">User</router-link>
                                            </li>
                                            <li class="nav-item">
                                                <router-link :to="{ name: 'dealers.index' }" class="nav-link">Dealer</router-link>
                                            </li>
                                        </ul>

                                        <div class="tab-content ">
                                            <div role="tabpanel" class="tab-pane active" id="tab31" aria-expanded="true" aria-labelledby="base-tab31">
                                                <div class="row">
                                                    <div class="col-12 text-sm-right text-center">
                                                        <router-link :to="{ name: 'users.create' }" class="pur"><i class="fa fa-user-plus"></i> Add User</router-link>
                                                        <a href="#" @click="blocked = !blocked" class="blocked"><i class="fa fa-ban"></i> {{ !blocked? 'Blocked user': 'Active user'}}</a>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="maain-tabble">
                                                    <table class="table table-striped table-bordered user-table">
                                                        <thead>
                                                        <tr>
                                                            <th>id</th>
                                                            <th>Name</th>
                                                            <th>email</th>
                                                            <th>contact</th>
                                                            <th>Registered On</th>
                                                            <th>action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr v-for="(user, index) in users">
                                                            <td>{{ index+1 }}</td>
                                                            <td>
                                                                <img :src="user.image" :alt="user.name" style="width: 32px; height: 32px; border-radius: 50%; margin-right: 10px"/>{{ user.name }}
                                                            </td>
                                                            <td>{{ user.email }}</td>
                                                            <td>{{ user.contact }}</td>
                                                            <td>{{ user.created_date }}</td>
                                                            <td>
                                                                <div class="btn-group mr-1 mb-1">
                                                                    <button type="button" class="btn  btn-drop-table btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 21px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                        <router-link class="dropdown-item" :to="{ name: 'users.show', params: { id: user.id } }">
                                                                            <i class="fa fa-eye"></i>View
                                                                        </router-link>
                                                                        <a class="dropdown-item"
                                                                           @click="blockUser(user.id, user.status)">
                                                                            <i class="fa fa-ban"></i>{{ blocked ? 'UnBlock': 'Block' }} </a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!--tab 1 end-->

                                        </div>
                                        <!--tab end here-->
                                    </div>
                                </div>
                                <!--main card end-->

                            </div>
                        </div>
                    </div>
                </section>

                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                base_url: window.base_url,
                blocked: false,
                users: [],
                table: undefined
            }
        },
        mounted() {
            this.loadUsers();
        },
        methods: {
            loadUsers(){
                if(this.table !== undefined)
                    this.table.destroy();
                axios.get(`/users?status=${this.blocked? 0: 1}`)
                    .then(data => {
                        this.users = data.data;
                        setTimeout(()=>{
                            this.table = $('.user-table').DataTable({
                                "order": [[ 0, "desc" ]]
                            });
                        }, 100);
                    });
            },
            blockUser(id, status){
                this.$dialog.confirm(`Are you sure you want to ${this.blocked? 'Unblock': 'block'} this user?`).then(dialog => {
                    axios.delete(`/users/${id}`).then( d => {
                        this.loadUsers();
                        dialog.close();
                        this.$toastr.success(d.data.message, 'Success', {});
                    }).catch(d => {
                        dialog.close();
                    });
                })
            }
        },
        watch: {
            'blocked': function(){
                this.loadUsers()
            }
        }
    }
</script>
