<template>
    <footer :style="`background: url('${$baseUrl}/images/footer-banner.png') no-repeat;background-size: cover;`">
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <router-link :to="{ name: 'home'}">
                            <img :src="`${$baseUrl}/images/footer-logo.png`" class="img-fluid w-100 wow fadeIn" v-wow data-wow-delay=".5s" data-wow-duration="1s" alt="footer logo"></router-link>
                    </div>
                    <div class="col-md-6 col-12">
                        <ul>
                            <li class="wow fadeIn" v-wow data-wow-delay=".5s" data-wow-duration="1s"><a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="wow fadeIn" v-wow data-wow-delay=".8s" data-wow-duration="1.3s"><a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="wow fadeIn" v-wow data-wow-delay="1.1s" data-wow-duration="1.6s"><a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="wow fadeIn" v-wow data-wow-delay="1.4s" data-wow-duration="1.9s"><a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">

                <div class="row">
                    <div class="col-lg-4 col-12">
                        <p class="wow fadeInUp" v-wow data-wow-delay=".8s" data-wow-duration="1s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et urna erat. Proin ac sem quis massa venenatis dictum. Morbi eget mauris elementum, cursus velit in, mattis lectus. Donec non leo mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                        <form action="">
                            <div class="row">
                                <div class="col-12 form-group wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.3s">
                                    <input type="email" class="form-control" placeholder="Email Address">
                                    <button type="submit"><i class="fa fa-sign-in-alt"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-12 offset-lg-1">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <h2 class="wow fadeInUp" v-wow data-wow-delay=".8s" data-wow-duration="1s">USEFUL LINKS</h2>
                                <ul>
                                    <li class="wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.3s"><a href="index.php">Home</a></li>
                                    <li class="wow fadeInUp" v-wow data-wow-delay="1.3s" data-wow-duration="1.5"><a href="sell-your-car.php">Cars for Sale</a></li>
                                    <li class="wow fadeInUp" v-wow data-wow-delay="1.5s" data-wow-duration="1.7s"><a href="find-dealer.php">Find Dealers</a></li>
                                    <li class="wow fadeInUp" v-wow data-wow-delay="1.7s" data-wow-duration="1.9s"><a href="sell-you-car.php">Sell Your Car</a></li>
                                    <li class="wow fadeInUp" v-wow data-wow-delay="1.9s" data-wow-duration="2.1s"><a href="contact-us.php">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-12">
                                <h2 class="wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.3s">OUR TERMS</h2>
                                <ul class="footer-2">
                                    <li class="wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.3s"><a href="support.php">Support</a></li>
                                    <li class="wow fadeInUp" v-wow data-wow-delay="1.3s" data-wow-duration="1.5"><a href="typography.php">Typography</a></li>
                                    <li class="wow fadeInUp" v-wow data-wow-delay="1.5s" data-wow-duration="1.7s"><a href="faq.php">FAQ</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="footer-last">
                            <h2 class="wow fadeInUp" v-wow data-wow-delay="1.3s" data-wow-duration="1.5s">You’ve questions</h2>
                            <ul class="footer-3"><li class="wow fadeInUp" v-wow data-wow-delay="1.1s" data-wow-duration="1.3s"><p>Get a Quote</p><a href="tel:+11234567890"><br>+1 123 456 7890</a></li></ul>
                            <ul><li  class="wow fadeInUp" v-wow data-wow-delay="1.3s" data-wow-duration="1.5"><p>Send Email</p><a href="mailto:info@autobazaarusa.com"><br>info@autobazaarusa.com</a></li></ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 copy-right text-center">
                    <p class="wow fadeInUp" v-wow data-wow-delay=".5s" data-wow-duration="1.5s">© Copyright 2019 Auto bazaar </p>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end here-->
</template>
<script>
    export default {
        data(){
            return {}
        },
        mounted() {
        
        new WOW().init();

        },
    }
</script>
