<template>
    <div>
        <section class="header-area" :style="`background: url('${$baseUrl}/images/header-bg.png') no-repeat;background-size: cover;`">
            <div class="container">
                <div class="header-area-top">
                    <div class="row">
                        <div class="col-xl-6 col-12">
                            <carousel class="owl-carousel owl-theme" id="home11"
                                      :loop="true"
                                      :nav="false"
                                      :dots="true"
                                      :slideSpeed="2000"
                                      :dotsSpeed="2000"
                                      :autoplay="false"
                                      :URLhashListener="false"
                                      :autoplayHoverPause="true"
                                      :margin="20"
                                      :items="1"
                            >
                                <div class="item">
                                    <h1 class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s">Auto <br> bazaar</h1>
                                    <h2 class="wow fadeInUp" data-wow-delay=".9s" data-wow-duration="1.3s">get your car sold</h2>
                                    <a href="#" class="read-btn wow  fadeInUp"  data-wow-delay="0.2s" data-wow-duration="1.5s">get started </a>
                                    <a href="#"><i class="fas fa-play wow  fadeInUp"  data-wow-delay="0.2s" data-wow-duration="1.3s"></i></a>
                                </div>
                                <div class="item">
                                    <h1>Auto <br> bazaar</h1>
                                    <h2>get your car sold</h2>
                                    <a href="#" class="read-btn">get started </a>
                                    <a href="#"><i class="fas fa-play"></i></a>
                                </div>
                                <div class="item">
                                    <h1>Auto <br> bazaar</h1>
                                    <h2>get your car sold</h2>
                                    <a href="#" class="read-btn">get started </a>
                                    <a href="#"><i class="fas fa-play"></i></a>
                                </div>
                                <div class="item">
                                    <h1>Auto <br> bazaar</h1>
                                    <h2>get your car sold</h2>
                                    <a href="#" class="read-btn">get started </a>
                                    <a href="#"><i class="fas fa-play"></i></a>
                                </div>
                            </carousel>
                        </div>
                        <div class="col-xl-6 col-12">
                            <img class="img-fluid wow fadeInRight"  data-wow-delay=".5s" data-wow-duration="1.5s" :src="`${$baseUrl}/images/header-car.png`" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pl-lg-0">
                <div class="bottom-slider">

                    <div class="row ml-lg-0">
                        <div class="col-lg-6 col-12 pl-0">
                            <div class="left ">
                                <img :src="`${$baseUrl}/images/header-car-2.png`" class="wow fadeInLeft"  data-wow-delay="1.5s" data-wow-duration="1.5s" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="right">
                                    <carousel class="owl-carousel owl-theme car-slider" id="home14"
                                              :loop="true"
                                              :margin="0"
                                              :dots="true"
                                              :autoplay="true"
                                              :autoplayTimeout="5000"
                                              :autoplayHoverPause="true"
                                              :responsiveClass="true"
                                              :responsive="{    0: {
                                                                    items: 1,
                                                                    nav: false
                                                                },
                                                                600: {
                                                                    items: 3,
                                                                    nav: false
                                                                },
                                                                1000: {
                                                                    items: 3,
                                                                    nav: false,
                                                                }
                                                            }"
                                    >
                                        <div class="item wow fadeInUp"  data-wow-delay="2s" data-wow-duration="1.2s">
                                            <div class="img-div">
                                                <img :src="`${$baseUrl}/images/header-car-3.png`" alt="">
                                                <i class="fa fa-circle"></i>
                                            </div>
                                        </div>
                                        <div class="item wow fadeInUp"  data-wow-delay="2.5s" data-wow-duration="1.2s">
                                            <div class="img-div">
                                                <img :src="`${$baseUrl}/images/header-car-4.png`" alt="">
                                                <i class="fa fa-circle"></i>
                                            </div>
                                        </div>
                                        <div class="item wow fadeInUp" data-wow-delay="3s" data-wow-duration="1.2s">
                                            <div class="img-div">
                                                <img :src="`${$baseUrl}/images/header-car-5.png`" alt="">
                                                <i class="fa fa-circle"></i>
                                            </div>
                                        </div>
                                    </carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--header end start here-->

        <section class="search-vehicle">

            <div class="container">
                <div class="search-vehicle-inner">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="wow fadeInUp"  data-wow-delay=".5s" data-wow-duration="1s">Quick Vehicle Search</h2>
                            <h3 class="wow fadeInUp"  data-wow-delay=".5s" data-wow-duration="1.2s">FROM 600+ BRAND CARs</h3>
                        </div>
                    </div>

                    <div class="search-box">

                        <form action="">
                            <div class="row">
                                <!-- <div class="col-xl-auto col-md-6 col-12 form-group wow wow  fadeInUp"  data-wow-delay=".2s" data-wow-duration=".7s"> -->
                                <div class="col-xl-auto col-md-6 col-12 form-group wow fadeInUp"  data-wow-delay="0.2s" data-wow-duration="2s">
                                    <label for="" >makers of vehicle</label>
                                    <select name="" class="form-control" id="">
                                        <option value="">All Makes</option>
                                        <option value="">All Makes</option>
                                    </select>
                                </div>
                                <div class="col-xl-auto col-md-6 col-12 form-group wow fadeInUp"  data-wow-delay=".4s" data-wow-duration=".9s">
                                    <label for="model">model of the vehicle</label>
                                    <select name="model" class="form-control" id="model">
                                        <option value="">All models</option>
                                        <option value="">All models</option>
                                    </select>
                                </div>
                                <div class="col-xl-auto col-md-6 col-12 form-group wow fadeInUp"  data-wow-delay=".6s" data-wow-duration="1.1s">
                                    <label for="datepicker-3">make year from</label>
                                    <input type="text" id="datepicker-3" placeholder="select" class="form-control" readonly>
                                </div>
                                <div class="col-xl-auto col-md-6 col-12 form-group wow fadeInUp"  data-wow-delay=".8s" data-wow-duration="1.3s">
                                    <label for="datepicker-4">Make Year To</label>
                                    <input type="text" id="datepicker-4" placeholder="select" class="form-control" readonly>
                                </div>
                                <div class="col-xl-auto col-lg-6 col-12 form-group wow fadeInUp"  data-wow-delay="1s" data-wow-duration="1.5s">
                                    <button type="submit" class="read-btn">find it now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="about" :style="`background: url('${$baseUrl}/images/about-banner.png') no-repeat;background-size: cover;`">
            <div class="container">

                <div class="about-top">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="images/white-car.png" class="img-fluid wow fadeInRight"  data-wow-delay="1s" data-wow-duration="2s" alt="white car">
                            <h2 class="wow fadeInUp"  data-wow-delay="1s" data-wow-duration="1s">about Auto bazaar</h2>
                        </div>
                    </div>
                </div>

                <div class="about-middle">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="box">
                                <div class="media">
                                    <img src="images/about-1.png" class="img-fluid wow zoomIn"  data-wow-delay="1s" data-wow-duration="1.5s" alt="about image">
                                    <div class="media-body">
                                        <h3 class="wow fadeInUp"  data-wow-delay=".4s" data-wow-duration=".9s">1886</h3>
                                        <h4 class="wow fadeInUp"  data-wow-delay=".7s" data-wow-duration="1.4s">NEW CARS IN STOCK</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="box">
                                <div class="media">
                                    <img src="images/about-2.png" class="img-fluid wow zoomIn"  data-wow-delay="1.2s" data-wow-duration="1.2s" alt="about image">
                                    <div class="media-body">
                                        <h3 class="wow wow fadeInUp"  data-wow-delay="1s" data-wow-duration="1.5s">1248</h3>
                                        <h4 class="wow wow fadeInUp"  data-wow-delay="1.3s" data-wow-duration="1.8s">USED CARS IN STOCK</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="box">
                                <div class="media">
                                    <img src="images/about-3.png" class="img-fluid wow zoomIn"  data-wow-delay="1.5s" data-wow-duration="1.5s" alt="about image">
                                    <div class="media-body">
                                        <h3 class="wow fadeInUp"  data-wow-delay="1.6s" data-wow-duration="2.1s">1248</h3>
                                        <h4 class="wow fadeInUp"  data-wow-delay="1.9s" data-wow-duration="2.4s">HAPPY CLIENTS</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="box">
                                <div class="media">
                                    <img src="images/about-4.png" class="img-fluid wow zoomIn"  data-wow-delay="2s" data-wow-duration="2s" alt="about image">
                                    <div class="media-body">
                                        <h3 class="wow fadeInUp"  data-wow-delay="1.9s" data-wow-duration="2.7s">28681</h3>
                                        <h4 class="wow fadeInUp"  data-wow-delay="2.2s" data-wow-duration="3s">CARS SPARE PARTS</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="about-bottom">

                    <div class="row">
                        <div class="col-xl-6 col-lg-8 offset-lg-2 offset-xl-3 col-12">
                            <div class="call d-flex justify-content-between wow  fadeInUp"  data-wow-delay="1s" data-wow-duration="1.5s">
                                <p>HAVE A QUESTION ?</p>
                                <img src="images/about-5.png" class="img-fluid" alt="">
                                <a href="tel:1864757485" class="call-btn">CALL US : 1864757485</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center wow  fadeInUp"  data-wow-delay="1.3s" data-wow-duration="1.5s">
                            <a href="#" class="read-btn">read more</a>
                        </div>
                    </div>
                </div> 
            </div>
        </section>

        <featured-vehicles/>

        <section class="testimonial" :style="`background: url('${$baseUrl}/images/testi.png') no-repeat;background-size: cover;`">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="images/white-car.png" class="img-fluid wow fadeInRight"  data-wow-delay=".8s" data-wow-duration="1.5s" alt="">
                        <h2 class="wow  fadeInUp"  data-wow-delay=".5s" data-wow-duration="1s">testimonial</h2>
                    </div>
                </div>
                <carousel class="slider owl-carousel owl-theme"
                          :loop="true"
                          :margin="0"
                          :dots="true"
                          :autoplay="true"
                          :autoplayTimeout="3000"
                          :autoplayHoverPause="true"
                          :responsiveClass="true"
                          :responsive="{ 0: { items: 1, nav: false }, 600: { items: 1, nav: false }, 1000: { items: 1, nav: false, } }"
                          >
                    <div class="item">
                        <div class="text-center ">
                            <i class="fa fa-quote-right wow  fadeInUp"  data-wow-delay=".8s" data-wow-duration="1.3s"></i>
                            <p class="wow  fadeInUp"  data-wow-delay="1.1s" data-wow-duration="1.6s">AutoImage is nisi aliquip consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat. Lorem ipsum dolor sit amt consectetur adipisicing elit sed eiusmod tempor incididuntu labore et dolore magna aliqua enimad minim veniam quis nostrud exercitation ullamco laboris nisi aliquip. Duisreprehenderitn...</p>
                            <h3 class="wow  fadeInUp"  data-wow-delay="1.2s" data-wow-duration="1.8s">John Stephan</h3>
                            <h4 class="wow  fadeInUp"  data-wow-delay="1.4s" data-wow-duration="2s">Vehicle Buyer</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="text-center">
                            <i class="fa fa-quote-right"></i>
                            <p>AutoImage is nisi aliquip consequat duis velit esse cillum dolore fugiat nulla pariatur excepteur sint occaecat. Lorem ipsum dolor sit amt consectetur adipisicing elit sed eiusmod tempor incididuntu labore et dolore magna aliqua enimad minim veniam quis nostrud exercitation ullamco laboris nisi aliquip. Duisreprehenderitn...</p>
                            <h3>John Stephan</h3>
                            <h4>Vehicle Buyer</h4>
                        </div>
                    </div>
                </carousel>
            </div>
        </section>

        <blog/>

        <!--news end here-->

        <!--logos start here-->

        <section class="logos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-auto col-md-4 col-sm-6 col-12"><img :src="`${$baseUrl}/images/logo-7.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay=".5s" data-wow-duration=".8s">
                    </div>
                    <div class="col-lg-auto col-md-4 col-sm-6 col-12"><img :src="`${$baseUrl}/images/logo-2.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay=".8s" data-wow-duration="1.1s">
                    </div>
                    <div class="col-lg-auto col-md-4 col-sm-6 col-12"><img :src="`${$baseUrl}/images/logo-3.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="1.1s" data-wow-duration="1.4s">
                    </div>
                    <div class="col-lg-auto col-md-4 col-sm-6 col-12"><img :src="`${$baseUrl}/images/logo-1.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="1.4s" data-wow-duration="1.7s">
                    </div>
                    <div class="col-lg-auto col-md-4 col-sm-6 col-12"><img :src="`${$baseUrl}/images/logo-4.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="1.7s" data-wow-duration="2s">
                    </div>
                    <div class="col-lg-auto col-md-4 col-sm-6 col-12"><img :src="`${$baseUrl}/images/logo-5.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2s" data-wow-duration="2.3s">
                    </div>
                    <div class="col-lg-auto col-md-4 col-sm-6 col-12"><img :src="`${$baseUrl}/images/logo-6.png`" alt="" class="img-fluid wow  fadeInUp"  data-wow-delay="2.3s" data-wow-duration="2.6s">
                    </div>
                </div>

            </div>

        </section>

    </div>
</template>

<script>
    import carousel from 'vue-owl-carousel';
    import Blog from "../views/BlogComponent";
    import FeaturedVehicles from "../views/FeaturedVehiclesComponent";
    export default {
        components: { carousel, Blog, FeaturedVehicles },
        data(){
            return {

            }
        },
        mounted() {
            
    //         var wow = new WOW( {
    //         mobile:    false
    // });
    // wow.init();

            new WOW().init();
            
        },
        methods:{
            made(index){
                alert(index)
            }
        }
    }
</script>
<style>
    .owl-carousel{
        display: block;
    }
    .dealer-bottom .card a.readmore {
        display: inline-block;
        color: white;
        padding: 10px 15px;
    }
</style>
