<template>

</template>

<script>
    export default {
        data(){
            return {

            };
        },
        methods: {
            register(){

            }
        }
    }
</script>
