<template>
    <div class="app-content content view orders  ">
        <div class="content-wrapper">
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="configuration" class="search view-cause dealer-profile">
                    <div class="row">
                        <div class="col-12">
                            <div class="card rounded pad-20">
                                <div class="card-content collapse show">
                                    <div class="card-body table-responsive card-dashboard">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h1 class="pull-left">
                                                    <router-link :to="{name: 'dealers.index'}">
                                                        <i class="fa fa-angle-left"></i>
                                                    </router-link>Dealer Profile
                                                </h1>
                                            </div>
                                            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
                                                <div class="breadcrumb-wrapper col-12">
                                                    <breadcrumb v-if="$route.meta.breadcrumb" :breadcrumb="$route.meta.breadcrumb"></breadcrumb>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="dealer-card">
                                                    <div class="media"> <img :src="dealer.image" class="img-fluid mr-2" :alt="dealer.name">
                                                        <div class="media-body">
                                                            <div class="d-flex justify-content-between">
                                                                <div class="">
                                                                    <h2>{{ dealer.name }}</h2>
                                                                </div>
                                                                <div class="dealer-tag">
                                                                    <h6>Featured</h6>
                                                                </div>
                                                            </div>

                                                            <ul>
                                                                <li class=""><i class="fa fa-star"></i></li>
                                                                <li class=""><i class="fa fa-star"></i></li>
                                                                <li class=""><i class="fa fa-star"></i></li>
                                                                <li class=""><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li>
                                                                    <p>(0)</p>
                                                                </li>
                                                                <li>
                                                                    <h6>0 reviews</h6>
                                                                </li>
                                                            </ul>

                                                            <div class="bottom-part">
                                                                <label for="">
                                                                    <i class="fa fa-address-card"></i>Address
                                                                </label>
                                                                <p>{{ dealer.address }}</p>
                                                                <label for="">
                                                                    <i class="fa fa-map-marker"></i>Zipcode
                                                                </label>
                                                                <p>{{ dealer.zipcode}}</p>
                                                                <div class="text-sm-right">
                                                                    <button class="pur">edit</button>   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--tab start here-->
                                        <div class="dealer-bottom">
                                            <ul class="nav nav-tabs nav-underline no-hover-bg">
                                                <li class="nav-item">
                                                    <a class="nav-link" :class="{active: currentTab === 'overview'}" @click="currentTab = 'overview'">Overview</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" :class="{active: currentTab === 'listed cars'}" @click="currentTab = 'listed cars'">Listed Cars </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" :class="{active: currentTab === 'reviews'}" @click="currentTab = 'reviews'">Reviews</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active">
                                                    <div class="row" v-if="currentTab === 'overview'">
                                                        <div class="col-xl-6 col-12">

                                                            <main-slider></main-slider>

                                                            <h2>about</h2>
                                                            <p>{{ dealer.about }}</p>
                                                        </div>
                                                        <div class="col-xl-6 col-12">
                                                            <h4>Contact Details </h4>
                                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13004082.928417291!2d-104.65713107818928!3d37.275578278180674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2s!4v1567084232751!5m2!1sen!2s" width="100%" height="280" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                                            <ul>
                                                                <li><i class="fa fa-map"></i><strong>Address</strong> <a href="https://goo.gl/maps/vxxtQErus3vFwXve8" target="_blank">: {{ dealer.address }}</a></li>
                                                                <li><i class="fa fa-phone"></i><strong>Contact No</strong>: {{ dealer.contact }}</li>
                                                                <li><i class="fa fa-envelope"></i><strong>Email Address</strong>: {{ dealer.email }}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div v-if="currentTab === 'listed cars'">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h2>Featured Cars </h2>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xl-3 col-sm-6 col-12" v-for="car in featuredLists">
                                                                <div class="feature-car">
                                                                    <img :src="`${base_url}/admins/images/car-card.png`" class="img-fluid" :alt="car.name">
                                                                    <div class="bottom">
                                                                        <h2>${{ car.price }}</h2>
                                                                        <p>{{ car.model.year }} {{ car.make.name }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="all-cars">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <h2>All Cars</h2>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12">

                                                                    <div class="card" v-for="ad in dealer.ads">
                                                                        <div class="media">
                                                                            <swiper :options="pagetSwiperOption">
                                                                                <swiper-slide>
                                                                                    <img :src="`${base_url}/admins/images/car-card.png`" class="img-fluid" alt="">
                                                                                </swiper-slide>
                                                                                <swiper-slide>
                                                                                    <img :src="`${base_url}/admins/images/car-card.png`" class="img-fluid" alt="">
                                                                                </swiper-slide>
                                                                                <swiper-slide>
                                                                                    <img :src="`${base_url}/admins/images/car-card.png`" class="img-fluid" alt="">
                                                                                </swiper-slide>
                                                                                <swiper-slide>
                                                                                    <img :src="`${base_url}/admins/images/car-card.png`" class="img-fluid" alt="">
                                                                                </swiper-slide>
                                                                                <div class="swiper-pagination" slot="pagination"></div>
                                                                            </swiper>
                                                                            <div class="media-body">
                                                                                <div class="d-sm-flex justify-content-between align-items-center">
                                                                                <h2>Used/New</h2>
                                                                                <p>Active</p>
                                                                                </div>
                                                                                <h3>{{ ad.model.year }} {{ ad.make.name }}</h3>
                                                                                <div class="d-flex justify-content-between">
                                                                                    <div class="">
                                                                                        <p>Listing id: {{ ad.id }}</p>
                                                                                    </div>
                                                                                    <div class="">
                                                                                        <h2>${{ ad.price }}</h2>
                                                                                    </div>
                                                                                </div>
                                                                                <p>{{ ad.description }}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" v-if="currentTab === 'reviews'">
                                                        <h1>Will be there only after front end implementations.</h1>
                                                    </div>
                                                </div>
                                                <!--tab 1 end-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
</template>

<script>
    import Breadcrumb from "../Breadcrumb";
    import { swiper, swiperSlide } from 'vue-awesome-swiper';
    import MainSlider from "./MainSlider";
    export default {
        components: { Breadcrumb, swiper, swiperSlide, MainSlider },
        data() {
            return {
                base_url: window.base_url,
                dealer: {},
                edit: false,
                shouldSubmit: false,
                currentTab: 'overview',
                swiperOptionTop: {
                    spaceBetween: 10,
                    loop: true,
                    loopedSlides: 5, //looped slides should be the same
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'
                    }
                },
                swiperOptionThumbs: {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    touchRatio: 0.2,
                    loop: true,
                    loopedSlides: 5, //looped slides should be the same
                    slideToClickedSlide: true,
                },
                pagetSwiperOption: {
                    slidesPerView: 1,
                    spaceBetween: 30,
                    keyboard: {
                        enabled: true,
                    },
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true
                    },
                }
            }
        },
        mounted() {
            this.getUser(this.$route.params.id);
        },
        methods: {
            getUser(id){
                axios.get(`/dealers/${id}`)
                    .then(data => {
                        this.dealer = data.data;
                    });
            },
            save(){
                this.$validator.validateAll().then((result) => {
                    if (!result || !this.shouldSubmit) {
                        this.shouldSubmit = true;
                        return;
                    }

                    axios.put(`/users/${this.user.id}`, this.user)
                        .then(data => {
                            this.editMode(false);
                            this.$toastr.success(data.data.message, "Updated!");
                        }).catch( e => {});

                });
            }
        },
        computed: {
            featuredLists(){
                return this.dealer.ads.filter(ad => !ad.featured);
            }
        }
    }
</script>
